In [1]:
import pandas as pd

sr = pd.Series([1,2,3,4],index=list('abcd'),name="SR1")
sr

a    1
b    2
c    3
d    4
Name: SR1, dtype: int64

In [2]:
sr.shape

(4,)

In [3]:
sr.ndim

1

In [4]:
sr.size

4

In [8]:
sr.strides

/Users/kimjuhun/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Series.strides is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

(8,)

In [9]:
sr.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]], index=['a','b'],columns=['c1','c2','c3','c4'])
df

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8

In [11]:
df.shape

(2, 4)

In [12]:
df.ndim

2

In [13]:
df.size

8

In [14]:
df.index

Index(['a', 'b'], dtype='object')

In [15]:
df.columns

Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
c1    2 non-null int64
c2    2 non-null int64
c3    2 non-null int64
c4    2 non-null int64
dtypes: int64(4)
memory usage: 80.0+ bytes

In [17]:
s = set([i for i in dir(pd.Series) if not i.startswith("_")])

In [18]:
d = set([i for i in dir(pd.DataFrame) if not i.startswith("_")])

In [19]:
count = 0
for i in (s - d):
    count += 1
    print(i, end=", ")
    if(count % 4 == 0):
        print()

factorize, compress, asobject, array,
flags, nonzero, is_monotonic_increasing, to_list,
imag, strides, argmax, tolist,
value_counts, to_frame, item, ravel,
divmod, unique, base, argmin,
view, repeat, from_array, cat,
argsort, ptp, name, is_monotonic,
dt, map, dtype, searchsorted,
data, autocorr, str, itemsize,
rdivmod, valid, is_monotonic_decreasing, put,
hasnans, between, is_unique, real,
ftype, nbytes,

In [20]:
count = 0
for i in (d - s):
    count += 1
    print(i, end=", ")
    if(count % 4 == 0):
        print()

to_records, melt, boxplot, join,
insert, iterrows, from_dict, assign,
columns, applymap, select_dtypes, style,
lookup, to_stata, set_index, to_gbq,
to_html, itertuples, to_parquet, merge,
pivot_table, stack, from_items, query,
eval, from_records, info, pivot,
to_feather, corrwith,

In [22]:
count = 0
for i in (d & s):
    count += 1
    print(i, end=", ")
    if(count % 4 == 0):
        print()

rdiv, cumprod, take, kurtosis,
apply, mod, to_json, values,
isnull, floordiv, nlargest, nsmallest,
unstack, is_copy, T, cov,
cummin, rename_axis, between_time, rmod,
swaplevel, at_time, set_axis, drop,
add_prefix, rename, tz_convert, interpolate,
to_csv, to_period, reorder_levels, droplevel,
combine_first, isna, prod, fillna,
axes, pop, truncate, to_pickle,
sum, to_string, to_dict, le,
notna, var, swapaxes, min,
empty, mode, get_dtype_counts, pow,
keys, sem, to_msgpack, iloc,
compound, tail, groupby, idxmax,
ftypes, pipe, xs, truediv,
add, rfloordiv, cummax, shape,
div, squeeze, quantile, reindex,
as_blocks, bool, bfill, ne,
infer_objects, agg, first, aggregate,
reindex_like, corr, dropna, lt,
sub, expanding, append, any,
to_xarray, mul, ndim, duplicated,
equals, radd, combine, sample,
gt, dot, align, ge,
get, last_valid_index, set_value, iteritems,
isin, transform, rtruediv, hist,
head, mad, loc, tshift,
sort_values, kurt, multiply, ewm,
clip, index, size, to_excel,
copy, last, tz_localize, update,
rmul, get_values, median, plot,
clip_upper, blocks, at, reset_index,
to_dense, items, replace, as_matrix,
sparse, pct_change, notnull, resample,
first_valid_index, rpow, slice_shift, to_timestamp,
rank, where, add_suffix, to_latex,
eq, explode, all, mask,
ix, memory_usage, cumsum, to_sql,
subtract, skew, max, asfreq,
filter, round, product, astype,
ffill, rolling, shift, dtypes,
count, mean, to_hdf, describe,
iat, drop_duplicates, std, to_sparse,
abs, transpose, to_numpy, diff,
divide, idxmin, sort_index, get_value,
get_ftype_counts, nunique, to_clipboard, rsub,
asof, clip_lower,

In [26]:
df_f = pd.read_csv('../Pandas/validation.csv'
                   ,usecols=['home_team','away_team'] ,encoding='euc-kr')

In [27]:
df_f.head()

               home_team          away_team
0                Chelsea            Arsenal
1       AFC Bournemouth        Cardiff City
2                Fulham      Crystal Palace
3  Huddersfield Town AFC            Chelsea
4      Newcastle United   Tottenham Hotspur

In [28]:
df_f.shape

(19, 2)

In [29]:
df_f['home_team'].head()

0                  Chelsea
1         AFC Bournemouth
2                  Fulham
3    Huddersfield Town AFC
4        Newcastle United
Name: home_team, dtype: object

In [30]:
df_f['home_team'].isnull().sum()

0

In [31]:
df_f['away_team'].isnull().sum()

0

In [32]:
(df_f['home_team'] == df_f['away_team']).head()

0    False
1    False
2    False
3    False
4    False
dtype: bool