In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6]], index=['One','Two'], columns=['A','B','C'])
df

     A  B  C
One  1  2  3
Two  4  5  6

In [4]:
id1 = pd.Index([1,2,3,4,5,6,7])

In [5]:
type(id1)

pandas.core.indexes.numeric.Int64Index

In [6]:
id2 = pd.Index(range(2,6))

In [10]:
type(id2)

pandas.core.indexes.range.RangeIndex

In [8]:
id3 = pd.Index(['a','b','c'])

In [11]:
type(id3)

pandas.core.indexes.base.Index

In [12]:
id1[0]

1

In [13]:
id3[:]

Index(['a', 'b', 'c'], dtype='object')

In [15]:
id1[[1]]

Int64Index([2], dtype='int64')

In [16]:
id1[id1 < 5]

Int64Index([1, 2, 3, 4], dtype='int64')

In [17]:
id4 = pd.Index([0,2,4,6])

In [18]:
try:
    id4[0] = 8
except Exception as e:
    print(e)

Index does not support mutable operations

In [19]:
id4 = pd.Index([8,2,4,6])

In [20]:
id4

Int64Index([8, 2, 4, 6], dtype='int64')

In [22]:
id5 = pd.Index([1,2,3,4])

In [24]:
id5 + 4

Int64Index([5, 6, 7, 8], dtype='int64')

In [25]:
id5

Int64Index([1, 2, 3, 4], dtype='int64')

In [26]:
se1 = pd.Series(data=np.random.randint(4, size=5),index=list('ABCDE'))

In [27]:
se1

A    3
B    2
C    2
D    0
E    1
dtype: int64

In [28]:
se2 = pd.Series(data=np.random.randint(4, size=5),index=list('FGHIJ'))

In [29]:
se2

F    0
G    1
H    0
I    2
J    3
dtype: int64

In [30]:
se1 + se2

A   NaN
B   NaN
C   NaN
D   NaN
E   NaN
F   NaN
G   NaN
H   NaN
I   NaN
J   NaN
dtype: float64

In [37]:
se1 = pd.Series([1,2,3,4], index=list('aeab'))
se1

a    1
e    2
a    3
b    4
dtype: int64

In [38]:
se2 = pd.Series([3,2,1,5], index=list('baea'))
se2

b    3
a    2
e    1
a    5
dtype: int64

In [39]:
se1 + se2

a    3
a    6
a    5
a    8
b    7
e    3
dtype: int64

In [40]:
se1.sort_index().add(se2.sort_index())

a    3
a    8
b    7
e    3
dtype: int64

In [41]:
id_d = pd.Index(pd.date_range('20200211', periods=4))
id_d

DatetimeIndex(['2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14'], dtype='datetime64[ns]', freq='D')

In [42]:
idx = pd.DatetimeIndex(['2020-01-01','2020-02-01','2020-03-01','2020-04-01'])

In [43]:
se = pd.Series([2,4,6,8], index=idx)
se

2020-01-01    2
2020-02-01    4
2020-03-01    6
2020-04-01    8
dtype: int64

In [44]:
idx

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01'], dtype='datetime64[ns]', freq=None)

In [4]:
dt_r = pd.date_range('2020-07-03', '2020-12-31')

In [5]:
dt_r

DatetimeIndex(['2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06',
               '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10',
               '2020-07-11', '2020-07-12',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=182, freq='D')

In [7]:
dt_r = pd.date_range('2020-07-03', periods=182)

In [8]:
dt_r

DatetimeIndex(['2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06',
               '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10',
               '2020-07-11', '2020-07-12',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=182, freq='D')

In [9]:
dt_r = pd.date_range('2020-02-12', periods=10, freq='M')
dt_r

DatetimeIndex(['2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31',
               '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30',
               '2020-10-31', '2020-11-30'],
              dtype='datetime64[ns]', freq='M')

In [11]:
dt_r = pd.date_range('2020-02-12', periods=10, freq='H')
dt_r

DatetimeIndex(['2020-02-12 00:00:00', '2020-02-12 01:00:00',
               '2020-02-12 02:00:00', '2020-02-12 03:00:00',
               '2020-02-12 04:00:00', '2020-02-12 05:00:00',
               '2020-02-12 06:00:00', '2020-02-12 07:00:00',
               '2020-02-12 08:00:00', '2020-02-12 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [12]:
dt_r.to_period('D')

PeriodIndex(['2020-02-12', '2020-02-12', '2020-02-12', '2020-02-12',
             '2020-02-12', '2020-02-12', '2020-02-12', '2020-02-12',
             '2020-02-12', '2020-02-12'],
            dtype='period[D]', freq='D')

In [13]:
dt_r.to_period('M')

PeriodIndex(['2020-02', '2020-02', '2020-02', '2020-02', '2020-02', '2020-02',
             '2020-02', '2020-02', '2020-02', '2020-02'],
            dtype='period[M]', freq='M')

In [14]:
dt_m = pd.period_range('2020-02', periods=10, freq='M')
dt_m

PeriodIndex(['2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07',
             '2020-08', '2020-09', '2020-10', '2020-11'],
            dtype='period[M]', freq='M')

In [15]:
dt_m = pd.period_range('2020-02', periods=10, freq='H')
dt_m

PeriodIndex(['2020-02-01 00:00', '2020-02-01 01:00', '2020-02-01 02:00',
             '2020-02-01 03:00', '2020-02-01 04:00', '2020-02-01 05:00',
             '2020-02-01 06:00', '2020-02-01 07:00', '2020-02-01 08:00',
             '2020-02-01 09:00'],
            dtype='period[H]', freq='H')

In [16]:
tm1 = pd.timedelta_range(2, periods=5, freq='H')
tm1

TimedeltaIndex(['00:00:00.000000', '01:00:00.000000', '02:00:00.000000',
                '03:00:00.000000', '04:00:00.000000'],
               dtype='timedelta64[ns]', freq='H')

In [18]:
tm2 = pd.timedelta_range(4, periods=5, freq='D')
tm2

TimedeltaIndex(['0 days 00:00:00.000000', '1 days 00:00:00.000000',
                '2 days 00:00:00.000000', '3 days 00:00:00.000000',
                '4 days 00:00:00.000000'],
               dtype='timedelta64[ns]', freq='D')

In [19]:
tm1 - tm2

TimedeltaIndex(['-1 days +23:59:59.999999', '-1 days +00:59:59.999999',
                '-2 days +01:59:59.999999', '-3 days +02:59:59.999999',
                '-4 days +03:59:59.999999'],
               dtype='timedelta64[ns]', freq='-23H')

In [20]:
tm1 - tm1[1]

TimedeltaIndex(['-1 days +23:00:00', '00:00:00', '01:00:00', '02:00:00',
                '03:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [21]:
dt_r = pd.date_range('2020-02-12', periods=10, freq='H')
dt_r

DatetimeIndex(['2020-02-12 00:00:00', '2020-02-12 01:00:00',
               '2020-02-12 02:00:00', '2020-02-12 03:00:00',
               '2020-02-12 04:00:00', '2020-02-12 05:00:00',
               '2020-02-12 06:00:00', '2020-02-12 07:00:00',
               '2020-02-12 08:00:00', '2020-02-12 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [22]:
dt_r - dt_r[0]

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [23]:
idx = pd.date_range('11/2/2020', periods=10, freq='T')
idx

DatetimeIndex(['2020-11-02 00:00:00', '2020-11-02 00:01:00',
               '2020-11-02 00:02:00', '2020-11-02 00:03:00',
               '2020-11-02 00:04:00', '2020-11-02 00:05:00',
               '2020-11-02 00:06:00', '2020-11-02 00:07:00',
               '2020-11-02 00:08:00', '2020-11-02 00:09:00'],
              dtype='datetime64[ns]', freq='T')

In [24]:
series = pd.Series(range(10), index=idx)
series

2020-11-02 00:00:00    0
2020-11-02 00:01:00    1
2020-11-02 00:02:00    2
2020-11-02 00:03:00    3
2020-11-02 00:04:00    4
2020-11-02 00:05:00    5
2020-11-02 00:06:00    6
2020-11-02 00:07:00    7
2020-11-02 00:08:00    8
2020-11-02 00:09:00    9
Freq: T, dtype: int64

In [28]:
series.resample('4T')

In [29]:
series.resample('4T').sum()

2020-11-02 00:00:00     6
2020-11-02 00:04:00    22
2020-11-02 00:08:00    17
Freq: 4T, dtype: int64

In [58]:
data = pd.read_csv('../Pandas/People.csv', index_col = 'Date', parse_dates=True, encoding='euc-kr')

In [59]:
data.head()

                     In  Out
Date
2020-02-12 00:00:00  10    3
2020-02-12 01:00:00   7    6
2020-02-12 02:00:00   8    2
2020-02-12 03:00:00   2    6
2020-02-12 04:00:00   4    3

In [60]:
data.columns

Index(['In', 'Out'], dtype='object')

In [63]:
data['Foot traffic'] = data.eval('In + Out')

In [64]:
data

                     In  Out  Foot traffic
Date
2020-02-12 00:00:00  10    3            13
2020-02-12 01:00:00   7    6            13
2020-02-12 02:00:00   8    2            10
2020-02-12 03:00:00   2    6             8
2020-02-12 04:00:00   4    3             7
2020-02-12 05:00:00   9    2            11
2020-02-12 06:00:00   1    1             2
2020-02-12 07:00:00   1    6             7
2020-02-12 08:00:00   2    3             5
2020-02-12 09:00:00   4    2             6
2020-02-12 10:00:00   5    6            11

In [65]:
idx = pd.CategoricalIndex([2,4,6,8])

In [66]:
se = pd.Series([1,2,3,4], index=idx)

In [67]:
se

2    1
4    2
6    3
8    4
dtype: int64

In [68]:
se.index

CategoricalIndex([2, 4, 6, 8], categories=[2, 4, 6, 8], ordered=False, dtype='category')

In [69]:
try:
    se[5] = 100
except Exception as e:
    print(e)

index 5 is out of bounds for axis 0 with size 4

In [70]:
se.index = se.index.add_categories(10)

In [71]:
se.index

CategoricalIndex([2, 4, 6, 8], categories=[2, 4, 6, 8, 10], ordered=False, dtype='category')

In [73]:
try:
    se.index = se.index.insert(4,6)
except Exception as e:
    print(e)

Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [74]:
se1 = se.index.tolist()

In [75]:
se1

[2, 4, 6, 8]

In [76]:
se.index = se1

In [77]:
se.index

Int64Index([2, 4, 6, 8], dtype='int64')

In [78]:
se[5] = 100

In [5]:
se

NameError: name 'se' is not defined

In [80]:
se.index = se.index.astype('category')

In [81]:
se

2      1
4      2
6      3
8      4
5    100
dtype: int64

In [82]:
se.index

CategoricalIndex([2, 4, 6, 8, 5], categories=[2, 4, 5, 6, 8], ordered=False, dtype='category')

In [2]:
m_idx = [("Real Madrid", 2017),("Liverpool", 2018)]

In [3]:
series = pd.Series(data = np.random.randint(4, size=2), index=m_idx)

In [4]:
series

(Real Madrid, 2017)    1
(Liverpool, 2018)      0
dtype: int64

In [6]:
series.index

Index([('Real Madrid', 2017), ('Liverpool', 2018)], dtype='object')

In [7]:
try:
    series['Real Madrid']
except Exception as e:
    print(e)

'Real Madrid'

In [8]:
series['Real Madrid', 2017]

1

In [9]:
series[('Real Madrid', 2017)]

1

In [10]:
idx = pd.MultiIndex.from_tuples(m_idx)

In [11]:
idx

MultiIndex([('Real Madrid', 2017),
            (  'Liverpool', 2018)],
           )

In [13]:
s = pd.Series(np.random.randint(4, size=2), index=idx)
s

Real Madrid  2017    1
Liverpool    2018    1
dtype: int64

In [14]:
s['Real Madrid']

2017    1
dtype: int64

In [15]:
s['Real Madrid', 2017]

1

In [16]:
s[('Real Madrid', 2017)]

1

In [17]:
s.loc['Real Madrid']

2017    1
dtype: int64

In [18]:
s[:, 2017]

Real Madrid    1
dtype: int64

In [19]:
s.loc[:,2017]

Real Madrid    1
dtype: int64

In [20]:
n_array = [np.array(['Premier League','Premier League','Laliga','Laliga','SerieA','SerieA',]),
          np.array(['Liverpool','Manchester City','Real Madrid','FC Barcelona', 'Juventus', 'Inter'])]

In [22]:
series = pd.Series(np.random.randint(10, size=6), index=n_array)
series

Premier League  Liverpool          4
                Manchester City    1
Laliga          Real Madrid        9
                FC Barcelona       9
SerieA          Juventus           6
                Inter              2
dtype: int64

In [23]:
series.index

MultiIndex([('Premier League',       'Liverpool'),
            ('Premier League', 'Manchester City'),
            (        'Laliga',     'Real Madrid'),
            (        'Laliga',    'FC Barcelona'),
            (        'SerieA',        'Juventus'),
            (        'SerieA',           'Inter')],
           )

In [24]:
m_list = [['One', 'Two', 'Three', 'Four'], ['Yes', 'No']]

In [26]:
m_array = pd.MultiIndex.from_product(m_list, names=['Count', 'Answer'])

In [27]:
m_array

MultiIndex([(  'One', 'Yes'),
            (  'One',  'No'),
            (  'Two', 'Yes'),
            (  'Two',  'No'),
            ('Three', 'Yes'),
            ('Three',  'No'),
            ( 'Four', 'Yes'),
            ( 'Four',  'No')],
           names=['Count', 'Answer'])

In [28]:
m_array.levels

FrozenList([['Four', 'One', 'Three', 'Two'], ['No', 'Yes']])

In [30]:
m_array.names

FrozenList(['Count', 'Answer'])

In [31]:
series2 = pd.Series(np.random.randint(10, size=8), index=m_array)

In [32]:
series2

Count  Answer
One    Yes       0
       No        4
Two    Yes       4
       No        1
Three  Yes       4
       No        8
Four   Yes       4
       No        5
dtype: int64

In [33]:
m_array.values

array([('One', 'Yes'), ('One', 'No'), ('Two', 'Yes'), ('Two', 'No'),
       ('Three', 'Yes'), ('Three', 'No'), ('Four', 'Yes'), ('Four', 'No')],
      dtype=object)

In [34]:
m_array.value_counts()

(Three, No)     1
(One, Yes)      1
(Four, Yes)     1
(Four, No)      1
(Two, No)       1
(One, No)       1
(Two, Yes)      1
(Three, Yes)    1
dtype: int64

In [35]:
series3 = pd.Series([1,2,3,4,5,6,7,8], index=m_array)
series3

Count  Answer
One    Yes       1
       No        2
Two    Yes       3
       No        4
Three  Yes       5
       No        6
Four   Yes       7
       No        8
dtype: int64

In [36]:
try:
    series3['One' : 'Four']
except Exception as e:
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [39]:
series3 = series3.sort_index()
series3

Count  Answer
Four   No        8
       Yes       7
One    No        2
       Yes       1
Three  No        6
       Yes       5
Two    No        4
       Yes       3
dtype: int64

In [41]:
series3['Four' : 'One']

Count  Answer
Four   No        8
       Yes       7
One    No        2
       Yes       1
dtype: int64

In [46]:
m_idx = pd.MultiIndex.from_product([['김소혜', '김도연', '최유정'],['정보통신공학', '통계학']], names=['이름', '학과'])
m_idx

MultiIndex([('김소혜', '정보통신공학'),
            ('김소혜',    '통계학'),
            ('김도연', '정보통신공학'),
            ('김도연',    '통계학'),
            ('최유정', '정보통신공학'),
            ('최유정',    '통계학')],
           names=['이름', '학과'])

In [47]:
m_idx2 = pd.MultiIndex.from_product([[2019,2020],[1,2]], names=['연도', '학점'])
m_idx2

MultiIndex([(2019, 1),
            (2019, 2),
            (2020, 1),
            (2020, 2)],
           names=['연도', '학점'])

In [52]:
data = np.round(np.abs(np.random.randn(4, 6)),1)
data

array([[0.6, 2. , 0.9, 0.7, 1.6, 0.9],
       [0.2, 0.9, 0.2, 0.7, 0.4, 0.2],
       [0.6, 2.6, 0.1, 1.1, 0.5, 0.7],
       [0.4, 1.1, 0.5, 0.5, 0.2, 0.9]])

In [53]:
df = pd.DataFrame(data, index = m_idx2, columns= m_idx)
df

이름         김소혜         김도연         최유정
학과      정보통신공학  통계학 정보통신공학  통계학 정보통신공학  통계학
연도   학점
2019 1     0.6  2.0    0.9  0.7    1.6  0.9
     2     0.2  0.9    0.2  0.7    0.4  0.2
2020 1     0.6  2.6    0.1  1.1    0.5  0.7
     2     0.4  1.1    0.5  0.5    0.2  0.9

In [54]:
df.index[0]

(2019, 1)

In [55]:
df.index[0][1]

1

In [56]:
df.index[1]

(2019, 2)

In [57]:
df['김소혜']

학과       정보통신공학  통계학
연도   학점
2019 1      0.6  2.0
     2      0.2  0.9
2020 1      0.6  2.6
     2      0.4  1.1

In [58]:
df['김소혜','통계학']

연도    학점
2019  1     2.0
      2     0.9
2020  1     2.6
      2     1.1
Name: (김소혜, 통계학), dtype: float64

In [59]:
df.loc[:, ('김소혜', '통계학')]

연도    학점
2019  1     2.0
      2     0.9
2020  1     2.6
      2     1.1
Name: (김소혜, 통계학), dtype: float64

In [62]:
df.iloc[0][0]

0.6

In [69]:
df.loc[2019, 1][0]

0.6

In [70]:
try:
    df.loc[:2020, '김소혜' : '김도연']
except Exception as e:
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [72]:
data = df.sort_index(axis=1)

In [73]:
data

이름         김도연         김소혜         최유정
학과      정보통신공학  통계학 정보통신공학  통계학 정보통신공학  통계학
연도   학점
2019 1     0.9  0.7    0.6  2.0    1.6  0.9
     2     0.2  0.7    0.2  0.9    0.4  0.2
2020 1     0.1  1.1    0.6  2.6    0.5  0.7
     2     0.5  0.5    0.4  1.1    0.2  0.9

In [74]:
data.loc[:2020, '김도연' : '김소혜']

이름         김도연         김소혜
학과      정보통신공학  통계학 정보통신공학  통계학
연도   학점
2019 1     0.9  0.7    0.6  2.0
     2     0.2  0.7    0.2  0.9
2020 1     0.1  1.1    0.6  2.6
     2     0.5  0.5    0.4  1.1

In [77]:
data.loc[pd.IndexSlice[:2020], pd.IndexSlice['김도연' : '김소혜']]

이름         김도연         김소혜
학과      정보통신공학  통계학 정보통신공학  통계학
연도   학점
2019 1     0.9  0.7    0.6  2.0
     2     0.2  0.7    0.2  0.9
2020 1     0.1  1.1    0.6  2.6
     2     0.5  0.5    0.4  1.1

In [78]:
data.index

MultiIndex([(2019, 1),
            (2019, 2),
            (2020, 1),
            (2020, 2)],
           names=['연도', '학점'])

In [79]:
data.xs((2019,2))

이름   학과
김도연  정보통신공학    0.2
     통계학       0.7
김소혜  정보통신공학    0.2
     통계학       0.9
최유정  정보통신공학    0.4
     통계학       0.2
Name: (2019, 2), dtype: float64

In [80]:
data.xs(2019)

이름    김도연         김소혜         최유정
학과 정보통신공학  통계학 정보통신공학  통계학 정보통신공학  통계학
학점
1     0.9  0.7    0.6  2.0    1.6  0.9
2     0.2  0.7    0.2  0.9    0.4  0.2

In [82]:
data.xs(('김소혜','정보통신공학'), axis=1)

연도    학점
2019  1     0.6
      2     0.2
2020  1     0.6
      2     0.4
Name: (김소혜, 정보통신공학), dtype: float64