In [1]:
import pandas as pd
import numpy as np

In [2]:
# 인덱스 생성(시계열)
t_idx = pd.date_range('2020-01-01', periods=8, freq='M')
t_idx

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [3]:
# 시리즈 생성
s = pd.Series(np.random.randn(8),index = t_idx)
s

2020-01-31    1.502565
2020-02-29   -0.552998
2020-03-31   -1.148050
2020-04-30   -0.570566
2020-05-31    0.399902
2020-06-30    0.070514
2020-07-31   -1.287206
2020-08-31    1.489323
Freq: M, dtype: float64

In [4]:
# 데이터프레임 생성
df = pd.DataFrame({'One' : [1,2,3,4,5,6,7,8], 'Two' : [8,7,6,5,4,3,2,1,]}, index=t_idx)
df

            One  Two
2020-01-31    1    8
2020-02-29    2    7
2020-03-31    3    6
2020-04-30    4    5
2020-05-31    5    4
2020-06-30    6    3
2020-07-31    7    2
2020-08-31    8    1

In [5]:
s.head()

2020-01-31    1.502565
2020-02-29   -0.552998
2020-03-31   -1.148050
2020-04-30   -0.570566
2020-05-31    0.399902
Freq: M, dtype: float64

In [6]:
s.tail(6)

2020-03-31   -1.148050
2020-04-30   -0.570566
2020-05-31    0.399902
2020-06-30    0.070514
2020-07-31   -1.287206
2020-08-31    1.489323
Freq: M, dtype: float64

In [7]:
# 시리즈 shape
s.shape

(8,)

In [8]:
# 데이터프레임 shape
df.shape

(8, 2)

In [9]:
# 인덱스 shape
t_idx.shape

(8,)

In [10]:
# 0~3번째의 행을 출력
df[:3]

            One  Two
2020-01-31    1    8
2020-02-29    2    7
2020-03-31    3    6

In [11]:
# 2~5번째의 행을 출력
df[2:5]

            One  Two
2020-03-31    3    6
2020-04-30    4    5
2020-05-31    5    4

In [12]:
# 시리즈 내부의 값
s.array

<PandasArray>
[  1.502565480628114, -0.5529984533665251, -1.1480503284320807,
 -0.5705659330893523,  0.3999020297247287, 0.07051391793867433,
  -1.287205811315556,   1.489322695831822]
Length: 8, dtype: float64

In [13]:
# 시리즈 인덱스 값(시계열)
s.index.array

<DatetimeArray>
['2020-01-31 00:00:00', '2020-02-29 00:00:00', '2020-03-31 00:00:00',
 '2020-04-30 00:00:00', '2020-05-31 00:00:00', '2020-06-30 00:00:00',
 '2020-07-31 00:00:00', '2020-08-31 00:00:00']
Length: 8, dtype: datetime64[ns]

In [14]:
# to_numpy 메소드 사용
s.to_numpy()

array([ 1.50256548, -0.55299845, -1.14805033, -0.57056593,  0.39990203,
        0.07051392, -1.28720581,  1.4893227 ])

In [15]:
# np.asarray 메소드 사용
np.asarray(s)

array([ 1.50256548, -0.55299845, -1.14805033, -0.57056593,  0.39990203,
        0.07051392, -1.28720581,  1.4893227 ])

In [16]:
# 타임존을 설정한 시계열 시리즈 생성
t_s = pd.Series(pd.date_range('2020', periods=2, tz='CET'))

In [17]:
t_s

0   2020-01-01 00:00:00+01:00
1   2020-01-02 00:00:00+01:00
dtype: datetime64[ns, CET]

In [18]:
# 자료형 Object 
t_s.to_numpy(dtype=object)

array([Timestamp('2020-01-01 00:00:00+0100', tz='CET', freq='D'),
       Timestamp('2020-01-02 00:00:00+0100', tz='CET', freq='D')],
      dtype=object)

In [19]:
# 자료형 datetime64[ns]
t_s.to_numpy(dtype='datetime64[ns]')

array(['2019-12-31T23:00:00.000000000', '2020-01-01T23:00:00.000000000'],
      dtype='datetime64[ns]')

In [20]:
df.to_numpy()

array([[1, 8],
       [2, 7],
       [3, 6],
       [4, 5],
       [5, 4],
       [6, 3],
       [7, 2],
       [8, 1]])

In [21]:
# 정수, 소수, 문자형이 섞여있는 데이터프레임 생성
df2 = pd.DataFrame({'A' : [1,2,np.nan,'a'],
                   'B' : [3,4,5,6]})

In [22]:
df2

     A  B
0    1  3
1    2  4
2  NaN  5
3    a  6

In [23]:
df2.to_numpy()

array([[1, 3],
       [2, 4],
       [nan, 5],
       ['a', 6]], dtype=object)

In [24]:
# 정수와 누락값(소수)으로 구성되어 있는 데이터프레임 생성
df3 = pd.DataFrame({'A' : [1,2,np.nan,3], 
                   'B' : [4,5,6,7]})

In [25]:
df3

     A  B
0  1.0  4
1  2.0  5
2  NaN  6
3  3.0  7

In [26]:
df3.to_numpy()

array([[ 1.,  4.],
       [ 2.,  5.],
       [nan,  6.],
       [ 3.,  7.]])

In [27]:
df = pd.read_csv('premier_league.csv')

In [28]:
df

,home_team,away_team,home_goals,away_goals,result,season
0,TottenhamHotspur,ManchesterCity,0,0,D,2010-2011
1,AstonVilla,WestHamUnited,3,0,H,2010-2011
2,BlackburnRovers,Everton,1,0,H,2010-2011
3,BoltonWanderers,Fulham,0,0,D,2010-2011
4,Sunderland,BirminghamCity,2,2,D,2010-2011
...,...,...,...,...,...,...
3663,Liverpool,Southampton,4,0,H,NaN
3664,NewcastleUnited,NorwichCity,0,0,D,NaN
3665,Watford,Everton,2,3,A,NaN
3666,WestHamUnited,BrightonandHoveAlbion,3,3,D,NaN
3667,ManchesterUnited,WolverhamptonWanderers,0,0,D,NaN

In [29]:
import bottleneck as bn
import time

In [30]:
start = time.time() # 시작시간 측정
print(bn.nanmean(df['home_goals']), time.time() - start)

1.5517993456924755 0.0007181167602539062

In [31]:
start = time.time() # 시작시간 측정
print(np.nanmean(df['home_goals']), time.time() - start)

1.5517993456924755 0.0013988018035888672

In [32]:
df = pd.DataFrame({'One' : pd.Series(np.random.randn(4), index=['a','b','c','d']),
                    'Two' : pd.Series(np.random.randn(3), index=['a','c','d']),
                   'Three' : pd.Series(np.random.randn(3), index=['b','c','d'])})

In [33]:
df

        One       Two     Three
a  0.755848 -0.279212       NaN
b  0.726117       NaN -0.248210
c  0.255104  0.507135 -1.658979
d -0.335626  0.266767 -1.099658

In [34]:
# 연산을 할 시리즈 생성(데이터프레임에서 한 행을 추출)
row = df.iloc[1]

In [35]:
row

One      0.726117
Two           NaN
Three   -0.248210
Name: b, dtype: float64

In [36]:
df.sub(row, axis='columns')

        One  Two     Three
a  0.029732  NaN       NaN
b  0.000000  NaN  0.000000
c -0.471013  NaN -1.410769
d -1.061743  NaN -0.851448

In [37]:
df.sub(row, axis=1)

        One  Two     Three
a  0.029732  NaN       NaN
b  0.000000  NaN  0.000000
c -0.471013  NaN -1.410769
d -1.061743  NaN -0.851448

In [38]:
# 연산을 할 시리즈 생성(데이터프레임에서 한 열을 추출)
column = df['One']

In [39]:
column

a    0.755848
b    0.726117
c    0.255104
d   -0.335626
Name: One, dtype: float64

In [40]:
df.sub(column, axis=0)

   One       Two     Three
a  0.0 -1.035061       NaN
b  0.0       NaN -0.974326
c  0.0  0.252030 -1.914083
d  0.0  0.602393 -0.764032

In [41]:
df.sub(column, axis='index')

   One       Two     Three
a  0.0 -1.035061       NaN
b  0.0       NaN -0.974326
c  0.0  0.252030 -1.914083
d  0.0  0.602393 -0.764032

In [42]:
# 데이터프레임 사본 생성
m_df = df.copy()

In [43]:
# 멀티인덱스 생성  
m_df.index = pd.MultiIndex.from_tuples([(1,'a'),(1,'b'),(1,'c'),(2,'a')], names=['first','second'])
m_df

                   One       Two     Three
first second
1     a       0.755848 -0.279212       NaN
      b       0.726117       NaN -0.248210
      c       0.255104  0.507135 -1.658979
2     a      -0.335626  0.266767 -1.099658

In [44]:
print(m_df.to_markdown())

|          |       One |        Two |     Three |
|:---------|----------:|-----------:|----------:|
| (1, 'a') |  0.755848 |  -0.279212 | nan       |
| (1, 'b') |  0.726117 | nan        |  -0.24821 |
| (1, 'c') |  0.255104 |   0.507135 |  -1.65898 |
| (2, 'a') | -0.335626 |   0.266767 |  -1.09966 |

In [45]:
m_dfs = m_df.sub(column, axis=0, level='second')

In [46]:
print(m_dfs.to_markdown())

|          |      One |        Two |      Three |
|:---------|---------:|-----------:|-----------:|
| (1, 'a') |  0       |  -1.03506  | nan        |
| (1, 'b') |  0       | nan        |  -0.974326 |
| (1, 'c') |  0       |   0.25203  |  -1.91408  |
| (2, 'a') | -1.09147 |  -0.489081 |  -1.85551  |

In [47]:
# 0~10까지의 정수를 원소로하는 시리즈 생성
s = pd.Series(np.arange(10))

In [48]:
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [49]:
div, rem = divmod(s, 3)

In [50]:
# s를 3으로 나눈 몫
div

0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    3
dtype: int64

In [51]:
# s를 3으로 나눈 나머지  
rem

0    0
1    1
2    2
3    0
4    1
5    2
6    0
7    1
8    2
9    0
dtype: int64

In [52]:
div, rem = divmod(s, [2,2,2,3,3,3,4,4,4,5])

In [53]:
div

0    0
1    0
2    1
3    1
4    1
5    1
6    1
7    1
8    2
9    1
dtype: int64

In [54]:
rem

0    0
1    1
2    0
3    0
4    1
5    2
6    2
7    3
8    0
9    4
dtype: int64

In [55]:
df = pd.DataFrame({'One' : {'a': 1.394981, 'b' : 0.343054, 'c' : 0.695246},
                  'Two' : {'a' : 1.772517, 'b' : 1.912123, 'c' : 1.478369, 'd' : 0.279344},
                  'Three' : {'b' : -0.050390, 'c' : 1.227435, 'd' : -0.613172}})

In [56]:
df

        One       Two     Three
a  1.394981  1.772517       NaN
b  0.343054  1.912123 -0.050390
c  0.695246  1.478369  1.227435
d       NaN  0.279344 -0.613172

In [57]:
df2 = pd.DataFrame({'One' : {'a' : 1.394981, 'b' : 0.343054, 'c' : 0.695246},
                   'Two' : {'a' : 1.772517, 'b' : 1.912123, 'c' : 1.478369, 'd' : 0.279344},
                   'Three' : {'a' : 1.000000 , 'b' : -0.050390, 'c' : 1.227435, 'd' : -0.613172}})

In [58]:
df2

        One       Two     Three
a  1.394981  1.772517  1.000000
b  0.343054  1.912123 -0.050390
c  0.695246  1.478369  1.227435
d       NaN  0.279344 -0.613172

In [59]:
print(df2.to_markdown())

|    |        One |      Two |     Three |
|:---|-----------:|---------:|----------:|
| a  |   1.39498  | 1.77252  |  1        |
| b  |   0.343054 | 1.91212  | -0.05039  |
| c  |   0.695246 | 1.47837  |  1.22744  |
| d  | nan        | 0.279344 | -0.613172 |

In [60]:
df + df2

        One       Two     Three
a  2.789962  3.545034       NaN
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [61]:
df.add(df2, fill_value=0)

        One       Two     Three
a  2.789962  3.545034  1.000000
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [62]:
df.add(df2, fill_value=1)

        One       Two     Three
a  2.789962  3.545034  2.000000
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [63]:
df.eq(df2)

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [64]:
df.ne(df2)

     One    Two  Three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [65]:
df.lt(df2)

     One    Two  Three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [66]:
df.gt(df2)

     One    Two  Three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [67]:
df.le(df2)

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [68]:
df.ge(df2)

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [69]:
(df > 0).all()

One      False
Two       True
Three    False
dtype: bool

In [70]:
(df > 0).any()

One      True
Two      True
Three    True
dtype: bool

In [71]:
(df > 0).any().any()

True

In [72]:
df.empty

False

In [73]:
pd.DataFrame(columns=list('ABC')).empty

True

In [74]:
pd.Series([True]).bool()

True

In [75]:
pd.Series([False]).bool()

False

In [76]:
pd.DataFrame([[True]]).bool()

True

In [77]:
pd.DataFrame([[False]]).bool()

False

In [78]:
bool(df.iloc[0][0])

True

In [79]:
df + df

        One       Two     Three
a  2.789962  3.545034       NaN
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [80]:
df * 2

        One       Two     Three
a  2.789962  3.545034       NaN
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [81]:
# False 끼리의 논리연산은 False를 반환한다.
df + df == df * 2

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [82]:
(df + df).equals(df * 2)

True

In [83]:
pd.Series(['One', 'Two', 'Three']) == 'Two'

0    False
1     True
2    False
dtype: bool

In [84]:
pd.Index(['Four', 'Five', 'Six']) == 'Five'

array([False,  True, False])

In [85]:
pd.Series(['One', 'Two', 'Three']) == pd.Index(['One', 'Five', 'Six'])

0     True
1    False
2    False
dtype: bool

In [86]:
pd.Series(['One', 'Two', 'Three']) == np.array(['One', 'Five', 'Six'])

0     True
1    False
2    False
dtype: bool

In [87]:
np.array([1,2,3]) == np.array([1])

array([ True, False, False])

In [88]:
df1 = pd.DataFrame({'A' : [1., np.nan, 3., 5., np.nan],
                   'B' : [np.nan, 2., 3., np.nan, 6.]})

In [89]:
print(df1.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   1 | nan |
|  1 | nan |   2 |
|  2 |   3 |   3 |
|  3 |   5 | nan |
|  4 | nan |   6 |

In [90]:
df2 = pd.DataFrame({'A' : [5., 2., 4., np.nan, 3., 7.],
                   'B' : [np.nan, np.nan, 3., 4., 6., 8.]})

In [91]:
print(df2.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   5 | nan |
|  1 |   2 | nan |
|  2 |   4 |   3 |
|  3 | nan |   4 |
|  4 |   3 |   6 |
|  5 |   7 |   8 |

In [92]:
a = df1.combine_first(df2)

In [93]:
print(a.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   1 | nan |
|  1 |   2 |   2 |
|  2 |   3 |   3 |
|  3 |   5 |   4 |
|  4 |   3 |   6 |
|  5 |   7 |   8 |

In [94]:
b = df2.combine_first(df1)

In [95]:
print(b.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   5 | nan |
|  1 |   2 |   2 |
|  2 |   4 |   3 |
|  3 |   5 |   4 |
|  4 |   3 |   6 |
|  5 |   7 |   8 |

In [96]:
print(df.to_markdown())

|    |        One |      Two |      Three |
|:---|-----------:|---------:|-----------:|
| a  |   1.39498  | 1.77252  | nan        |
| b  |   0.343054 | 1.91212  |  -0.05039  |
| c  |   0.695246 | 1.47837  |   1.22744  |
| d  | nan        | 0.279344 |  -0.613172 |

In [97]:
df.mean(0)

One      0.811094
Two      1.360588
Three    0.187958
dtype: float64

In [98]:
df.mean(1)

a    1.583749
b    0.734929
c    1.133683
d   -0.166914
dtype: float64

In [99]:
df.sum(0, skipna=False)

One           NaN
Two      5.442353
Three         NaN
dtype: float64

In [100]:
df.sum(axis=1, skipna=True)

a    3.167498
b    2.204787
c    3.401050
d   -0.333828
dtype: float64

In [101]:
ts_stand = (df - df.mean(0)) / df.std()

In [102]:
ts_stand.std()

One      1.0
Two      1.0
Three    1.0
dtype: float64

In [103]:
xs_stand = df.sub(df.mean(1), axis=0).div(df.std(1), axis=0)

In [104]:
xs_stand

        One       Two     Three
a -0.707107  0.707107       NaN
b -0.377425  1.133785 -0.756361
c -1.096393  0.861950  0.234443
d       NaN  0.707107 -0.707107

In [105]:
print(xs_stand.to_markdown())

|    |        One |      Two |      Three |
|:---|-----------:|---------:|-----------:|
| a  |  -0.707107 | 0.707107 | nan        |
| b  |  -0.377425 | 1.13379  |  -0.756361 |
| c  |  -1.09639  | 0.86195  |   0.234443 |
| d  | nan        | 0.707107 |  -0.707107 |

In [106]:
xs_stand.std(1)

a    1.0
b    1.0
c    1.0
d    1.0
dtype: float64

In [107]:
df.cumsum()

        One       Two     Three
a  1.394981  1.772517       NaN
b  1.738035  3.684640 -0.050390
c  2.433281  5.163009  1.177045
d       NaN  5.442353  0.563873

In [108]:
np.mean(df['One'])

0.8110936666666667

In [109]:
np.mean(df['One'].to_numpy())

nan

In [110]:
Series = pd.Series(np.random.randn(500))

In [111]:
Series[20:200] = np.nan

In [112]:
Series[10:20] = 5

In [113]:
Series.nunique()

311

In [114]:
series = pd.Series(np.random.randn(1000))

In [115]:
series[::2] = np.nan

In [116]:
series.describe()

count    500.000000
mean      -0.042642
std        1.008094
min       -3.070551
25%       -0.704547
50%       -0.043483
75%        0.618776
max        2.973440
dtype: float64

In [117]:
df = pd.DataFrame(np.random.randn(1000,5), columns=['a','b','c','d','e'])

In [118]:
df.iloc[::2] = np.nan

In [119]:
a = df.describe()

In [120]:
print(a.to_markdown())

|       |           a |           b |           c |           d |            e |
|:------|------------:|------------:|------------:|------------:|-------------:|
| count | 500         | 500         | 500         | 500         | 500          |
| mean  |  -0.0963947 |  -0.0390427 |   0.0361362 |  -0.0165034 |   0.0231554  |
| std   |   0.982687  |   1.00201   |   0.998696  |   0.987522  |   0.988383   |
| min   |  -3.16744   |  -3.50397   |  -3.9836    |  -3.32137   |  -2.90131    |
| 25%   |  -0.755721  |  -0.661963  |  -0.656283  |  -0.727345  |  -0.644632   |
| 50%   |  -0.115855  |  -0.0340861 |   0.054431  |   0.0121548 |   0.00431527 |
| 75%   |   0.535257  |   0.618931  |   0.6699    |   0.637289  |   0.72417    |
| max   |   2.56841   |   3.42342   |   3.59918   |   3.55105   |   2.76491    |

In [121]:
series.describe(percentiles=[.05, .25, .75, .95])

count    500.000000
mean      -0.042642
std        1.008094
min       -3.070551
5%        -1.704915
25%       -0.704547
50%       -0.043483
75%        0.618776
95%        1.627701
max        2.973440
dtype: float64

In [122]:
s = pd.Series(['a','a','a','b','b',np.nan,'c','d','a'])

In [123]:
s.describe()

count     8
unique    4
top       a
freq      4
dtype: object

In [124]:
df = pd.DataFrame({'a' : ['Yes','Yes','No','No'], 'b' : range(4)})

In [125]:
df.describe()

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [126]:
df.describe(include=['object'])

          a
count     4
unique    2
top     Yes
freq      2

In [127]:
df.describe(include=['number'])

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [128]:
df.describe(include='all')

          a         b
count     4  4.000000
unique    2       NaN
top     Yes       NaN
freq      2       NaN
mean    NaN  1.500000
std     NaN  1.290994
min     NaN  0.000000
25%     NaN  0.750000
50%     NaN  1.500000
75%     NaN  2.250000
max     NaN  3.000000

In [129]:
s1 = pd.Series(np.random.randn(5))

In [130]:
s1

0    0.923321
1    0.125817
2    0.319676
3   -0.039548
4    0.069782
dtype: float64

In [131]:
s1.idxmin(), s1.idxmax()

(3, 0)

In [132]:
df1 = pd.DataFrame(np.random.randn(5, 3), columns=['A','B','C'])

In [133]:
print(df1.to_markdown())

|    |        A |          B |          C |
|---:|---------:|-----------:|-----------:|
|  0 | 1.16018  |  0.873103  | -0.772864  |
|  1 | 1.27365  | -0.0781211 | -0.0577717 |
|  2 | 0.916009 |  1.31096   | -0.93093   |
|  3 | 0.48759  |  0.0156025 |  2.28807   |
|  4 | 0.342103 |  0.243225  |  0.713667  |

In [134]:
df1.idxmin(axis=0)

A    4
B    1
C    2
dtype: int64

In [135]:
df1.idxmax(axis=1)

0    A
1    A
2    B
3    C
4    C
dtype: object

In [136]:
df3 = pd.DataFrame([2, 1, 1, 3, np.nan], columns=['A'], index=list('edcba'))

In [137]:
print(df3.to_markdown())

|    |   A |
|:---|----:|
| e  |   2 |
| d  |   1 |
| c  |   1 |
| b  |   3 |
| a  | nan |

In [138]:
df3['A'].idxmin()

'd'

In [139]:
data = np.random.randint(0, 7, size=50)

In [140]:
data

array([6, 2, 2, 1, 3, 6, 6, 4, 2, 3, 4, 1, 1, 4, 5, 6, 2, 3, 6, 3, 0, 5,
       0, 4, 1, 1, 1, 3, 6, 0, 2, 3, 3, 3, 3, 3, 2, 0, 3, 0, 2, 5, 5, 3,
       5, 2, 2, 2, 2, 4])

In [141]:
s = pd.Series(data)

In [142]:
s.value_counts()

3    12
2    11
6     6
1     6
5     5
4     5
0     5
dtype: int64

In [143]:
pd.value_counts(data)

3    12
2    11
6     6
1     6
5     5
4     5
0     5
dtype: int64

In [144]:
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])

In [145]:
s5.mode()

0    3
1    7
dtype: int64

In [146]:
df5 = pd.DataFrame({"A": np.random.randint(0, 7, size=50),
               "B": np.random.randint(-10, 15, size=50)})

In [147]:
df5.mode()

   A    B
0  1 -5.0
1  2  6.0
2  3  NaN

In [148]:
arr = np.random.randn(20)

In [149]:
arr

array([ 5.59139516e-01, -3.03787628e-02,  7.66176112e-05,  7.13562781e-01,
        2.07901808e-01, -8.54826632e-02,  1.33942264e+00, -1.37791378e+00,
       -4.76426186e-01, -2.96972961e-01, -1.09706945e+00, -1.24678983e-02,
        9.13389104e-01, -8.93661258e-01, -1.37659396e-02, -2.24395629e-01,
        7.51967221e-01, -4.07768621e-01, -4.22681154e-01,  8.94823302e-01])

In [150]:
factor = pd.cut(arr, 4)

In [151]:
factor

[(-0.0192, 0.66], (-0.699, -0.0192], (-0.0192, 0.66], (0.66, 1.339], (-0.0192, 0.66], ..., (-0.699, -0.0192], (0.66, 1.339], (-0.699, -0.0192], (-0.699, -0.0192], (0.66, 1.339]]
Length: 20
Categories (4, interval[float64]): [(-1.381, -0.699] < (-0.699, -0.0192] < (-0.0192, 0.66] < (0.66, 1.339]]

In [152]:
factor = pd.cut(arr, [-5, -1, 0, 1, 5])

In [153]:
factor

[(0, 1], (-1, 0], (0, 1], (0, 1], (0, 1], ..., (-1, 0], (0, 1], (-1, 0], (-1, 0], (0, 1]]
Length: 20
Categories (4, interval[int64]): [(-5, -1] < (-1, 0] < (0, 1] < (1, 5]]

In [154]:
arr = np.random.randn(30)

In [155]:
arr

array([-1.24637083, -1.9086062 ,  0.28523412,  0.91359233, -1.01086452,
        0.59916767, -0.59331338,  0.04735298,  0.57958753,  2.47710398,
       -0.59181171, -0.78168733,  1.15742048,  0.60780649,  0.66866562,
       -0.80588128,  0.97136787, -1.34554029, -0.64233756,  1.23448069,
       -0.27984827,  2.20350422,  0.09996483,  1.03171303,  1.11998625,
        1.48193321, -0.16609505, -0.17753791,  0.504189  , -1.05717501])

In [156]:
factor = pd.qcut(arr, [0, .25, .5, .75, 1])

In [157]:
factor

[(-1.91, -0.63], (-1.91, -0.63], (0.193, 0.957], (0.193, 0.957], (-1.91, -0.63], ..., (0.957, 2.477], (-0.63, 0.193], (-0.63, 0.193], (0.193, 0.957], (-1.91, -0.63]]
Length: 30
Categories (4, interval[float64]): [(-1.91, -0.63] < (-0.63, 0.193] < (0.193, 0.957] < (0.957, 2.477]]

In [158]:
pd.value_counts(factor)

(0.957, 2.477]    8
(-1.91, -0.63]    8
(0.193, 0.957]    7
(-0.63, 0.193]    7
dtype: int64

In [159]:
arr = np.random.randn(20)

In [160]:
factor = pd.cut(arr, [-np.inf, 0, np.inf])

In [161]:
factor

[(0.0, inf], (0.0, inf], (-inf, 0.0], (0.0, inf], (-inf, 0.0], ..., (-inf, 0.0], (-inf, 0.0], (-inf, 0.0], (-inf, 0.0], (-inf, 0.0]]
Length: 20
Categories (2, interval[float64]): [(-inf, 0.0] < (0.0, inf]]

In [162]:
df = pd.read_csv('premier_league.csv')
df

,home_team,away_team,home_goals,away_goals,result,season
0,TottenhamHotspur,ManchesterCity,0,0,D,2010-2011
1,AstonVilla,WestHamUnited,3,0,H,2010-2011
2,BlackburnRovers,Everton,1,0,H,2010-2011
3,BoltonWanderers,Fulham,0,0,D,2010-2011
4,Sunderland,BirminghamCity,2,2,D,2010-2011
...,...,...,...,...,...,...
3663,Liverpool,Southampton,4,0,H,NaN
3664,NewcastleUnited,NorwichCity,0,0,D,NaN
3665,Watford,Everton,2,3,A,NaN
3666,WestHamUnited,BrightonandHoveAlbion,3,3,D,NaN
3667,ManchesterUnited,WolverhamptonWanderers,0,0,D,NaN

In [163]:
def extract_city_name(df):
    df['city_name'] = df['city_and_code'].str.split(",").str.get(0)
    return df

def add_country_name(df, country_name = None):
    col = 'city_name'
    df['city_and_country'] = df[col] + country_name
    return df

df_p = pd.DataFrame({'city_and_code' : ['Chicago, IL']})

In [164]:
tmp = add_country_name(extract_city_name(df_p), country_name='US')
print(tmp.to_markdown())

|    | city_and_code   | city_name   | city_and_country   |
|---:|:----------------|:------------|:-------------------|
|  0 | Chicago, IL     | Chicago     | ChicagoUS          |

In [165]:
tmp = (df_p.pipe(extract_city_name)
     .pipe(add_country_name, country_name='US'))
print(tmp.to_markdown())

|    | city_and_code   | city_name   | city_and_country   |
|---:|:----------------|:------------|:-------------------|
|  0 | Chicago, IL     | Chicago     | ChicagoUS          |

In [166]:
df['home_goals'].apply(np.mean)

0       0.0
1       3.0
2       1.0
3       0.0
4       2.0
       ...
3663    4.0
3664    0.0
3665    2.0
3666    3.0
3667    0.0
Name: home_goals, Length: 3668, dtype: float64

In [167]:
df.apply('mean')

home_goals    1.551799
away_goals    1.198201
dtype: float64

In [168]:
tsdf = pd.DataFrame(np.random.randn(1000, 3), columns=['A','B','C'],
                   index=pd.date_range('1/1/2000', periods=1000))

tsdf.apply(lambda x : x.idxmax())

A   2002-07-13
B   2001-10-05
C   2001-01-07
dtype: datetime64[ns]

In [169]:
def subtract_and_divide(x, sub, divide = 1):
    return (x-sub) / divide

tmp = tsdf.apply(subtract_and_divide, args=(5,), divide=3)
print(tmp.to_markdown())

|                     |         A |         B |         C |
|:--------------------|----------:|----------:|----------:|
| 2000-01-01 00:00:00 | -2.13635  | -1.70312  | -1.45989  |
| 2000-01-02 00:00:00 | -2.35437  | -1.61038  | -1.58392  |
| 2000-01-03 00:00:00 | -1.52649  | -1.92751  | -1.75699  |
| 2000-01-04 00:00:00 | -1.73027  | -2.13232  | -1.51315  |
| 2000-01-05 00:00:00 | -2.10197  | -1.73646  | -1.76386  |
| 2000-01-06 00:00:00 | -1.29188  | -1.7668   | -1.51203  |
| 2000-01-07 00:00:00 | -1.67286  | -1.72048  | -1.50212  |
| 2000-01-08 00:00:00 | -1.82995  | -1.49564  | -1.67545  |
| 2000-01-09 00:00:00 | -1.83546  | -1.63432  | -1.77109  |
| 2000-01-10 00:00:00 | -0.803199 | -1.47979  | -1.32354  |
| 2000-01-11 00:00:00 | -1.50214  | -1.09235  | -1.78498  |
| 2000-01-12 00:00:00 | -1.91905  | -1.0225   | -1.87112  |
| 2000-01-13 00:00:00 | -1.50502  | -1.17936  | -1.52888  |
| 2000-01-14 00:00:00 | -1.73014  | -1.5039   | -1.7874   |
| 2000-01-15 00:00:00 | -1.02178  | -1.41531  | -1.9186   |
| 2000-01-16 00:00:00 | -1.72402  | -0.97516  | -1.45388  |
| 2000-01-17 00:00:00 | -1.45501  | -2.07479  | -1.93522  |
| 2000-01-18 00:00:00 | -1.82286  | -1.17163  | -1.67379  |
| 2000-01-19 00:00:00 | -1.80884  | -1.7301   | -1.45931  |
| 2000-01-20 00:00:00 | -1.85433  | -1.67013  | -2.23977  |
| 2000-01-21 00:00:00 | -1.52787  | -0.929593 | -1.65706  |
| 2000-01-22 00:00:00 | -1.96579  | -2.16003  | -1.88876  |
| 2000-01-23 00:00:00 | -0.816832 | -1.3295   | -2.08415  |
| 2000-01-24 00:00:00 | -1.3113   | -1.93685  | -1.5138   |
| 2000-01-25 00:00:00 | -1.66447  | -1.9587   | -1.73624  |
| 2000-01-26 00:00:00 | -1.20262  | -2.40712  | -1.83082  |
| 2000-01-27 00:00:00 | -1.12014  | -1.47991  | -1.67246  |
| 2000-01-28 00:00:00 | -1.23738  | -2.14362  | -1.64888  |
| 2000-01-29 00:00:00 | -1.73205  | -1.49996  | -1.36023  |
| 2000-01-30 00:00:00 | -1.18732  | -1.87886  | -2.2447   |
| 2000-01-31 00:00:00 | -1.49532  | -1.73293  | -1.82104  |
| 2000-02-01 00:00:00 | -1.83748  | -2.07306  | -1.26599  |
| 2000-02-02 00:00:00 | -1.47986  | -1.35452  | -1.23584  |
| 2000-02-03 00:00:00 | -2.0377   | -1.4968   | -1.29857  |
| 2000-02-04 00:00:00 | -1.55052  | -1.9036   | -1.4138   |
| 2000-02-05 00:00:00 | -1.68459  | -2.32261  | -1.60333  |
| 2000-02-06 00:00:00 | -1.69298  | -1.26223  | -1.34379  |
| 2000-02-07 00:00:00 | -1.36862  | -1.66074  | -2.12229  |
| 2000-02-08 00:00:00 | -1.25218  | -1.91796  | -1.48008  |
| 2000-02-09 00:00:00 | -1.46408  | -1.56968  | -1.44338  |
| 2000-02-10 00:00:00 | -1.84564  | -1.56922  | -1.46454  |
| 2000-02-11 00:00:00 | -1.54679  | -2.0206   | -1.88191  |
| 2000-02-12 00:00:00 | -1.97869  | -2.15531  | -1.30532  |
| 2000-02-13 00:00:00 | -1.95304  | -1.79774  | -1.28869  |
| 2000-02-14 00:00:00 | -1.67826  | -1.1364   | -1.81865  |
| 2000-02-15 00:00:00 | -1.37555  | -1.61038  | -1.78045  |
| 2000-02-16 00:00:00 | -1.34071  | -2.60992  | -0.898563 |
| 2000-02-17 00:00:00 | -1.54077  | -1.5497   | -1.38806  |
| 2000-02-18 00:00:00 | -1.59519  | -1.35804  | -1.67686  |
| 2000-02-19 00:00:00 | -2.02824  | -1.38399  | -1.57164  |
| 2000-02-20 00:00:00 | -1.47714  | -1.50412  | -1.30373  |
| 2000-02-21 00:00:00 | -1.86764  | -1.60723  | -0.986823 |
| 2000-02-22 00:00:00 | -1.60369  | -2.06749  | -1.96393  |
| 2000-02-23 00:00:00 | -2.16016  | -1.82366  | -2.01063  |
| 2000-02-24 00:00:00 | -1.73061  | -1.10809  | -1.34649  |
| 2000-02-25 00:00:00 | -1.49748  | -1.87574  | -2.04296  |
| 2000-02-26 00:00:00 | -1.2601   | -1.31686  | -1.50514  |
| 2000-02-27 00:00:00 | -2.20352  | -1.23087  | -1.76302  |
| 2000-02-28 00:00:00 | -2.28024  | -1.67836  | -2.43468  |
| 2000-02-29 00:00:00 | -1.45544  | -1.70593  | -2.44983  |
| 2000-03-01 00:00:00 | -1.31238  | -2.12046  | -2.14936  |
| 2000-03-02 00:00:00 | -1.91819  | -1.80947  | -1.71951  |
| 2000-03-03 00:00:00 | -2.05408  | -1.69477  | -1.32047  |
| 2000-03-04 00:00:00 | -2.03872  | -1.29283  | -1.11595  |
| 2000-03-05 00:00:00 | -1.29847  | -1.93334  | -1.56929  |
| 2000-03-06 00:00:00 | -2.05937  | -2.33514  | -2.0931   |
| 2000-03-07 00:00:00 | -1.56057  | -1.79924  | -1.91462  |
| 2000-03-08 00:00:00 | -1.14673  | -1.49076  | -1.82493  |
| 2000-03-09 00:00:00 | -0.864268 | -1.61846  | -1.85433  |
| 2000-03-10 00:00:00 | -2.21597  | -1.69175  | -1.27625  |
| 2000-03-11 00:00:00 | -1.82838  | -1.73107  | -1.56977  |
| 2000-03-12 00:00:00 | -1.2697   | -2.62147  | -1.56014  |
| 2000-03-13 00:00:00 | -1.89572  | -1.92875  | -1.28842  |
| 2000-03-14 00:00:00 | -1.24549  | -1.46686  | -2.31938  |
| 2000-03-15 00:00:00 | -1.44802  | -1.26076  | -1.76234  |
| 2000-03-16 00:00:00 | -2.32376  | -1.54282  | -1.7016   |
| 2000-03-17 00:00:00 | -1.24472  | -1.42481  | -2.06191  |
| 2000-03-18 00:00:00 | -1.77361  | -2.02371  | -2.02845  |
| 2000-03-19 00:00:00 | -1.84628  | -0.714847 | -1.79593  |
| 2000-03-20 00:00:00 | -1.6615   | -1.77687  | -1.14624  |
| 2000-03-21 00:00:00 | -1.52267  | -2.0071   | -1.57792  |
| 2000-03-22 00:00:00 | -2.49335  | -2.10572  | -2.61949  |
| 2000-03-23 00:00:00 | -0.850058 | -2.01986  | -2.06129  |
| 2000-03-24 00:00:00 | -1.6129   | -1.36     | -1.25648  |
| 2000-03-25 00:00:00 | -1.72441  | -1.53502  | -1.55274  |
| 2000-03-26 00:00:00 | -2.3045   | -1.44083  | -2.26681  |
| 2000-03-27 00:00:00 | -1.2701   | -1.56151  | -1.3431   |
| 2000-03-28 00:00:00 | -1.98803  | -2.19334  | -1.51543  |
| 2000-03-29 00:00:00 | -2.11068  | -1.85727  | -1.80445  |
| 2000-03-30 00:00:00 | -1.90399  | -1.23577  | -2.0576   |
| 2000-03-31 00:00:00 | -1.07905  | -1.66922  | -1.6724   |
| 2000-04-01 00:00:00 | -1.57504  | -0.967441 | -1.34496  |
| 2000-04-02 00:00:00 | -1.98208  | -1.49426  | -1.49772  |
| 2000-04-03 00:00:00 | -1.4063   | -1.69396  | -1.81888  |
| 2000-04-04 00:00:00 | -2.41341  | -1.69823  | -1.1208   |
| 2000-04-05 00:00:00 | -2.16959  | -1.98046  | -1.31182  |
| 2000-04-06 00:00:00 | -1.73838  | -1.41389  | -1.90508  |
| 2000-04-07 00:00:00 | -1.29522  | -1.97646  | -1.19702  |
| 2000-04-08 00:00:00 | -2.0422   | -1.20304  | -1.81274  |
| 2000-04-09 00:00:00 | -1.30618  | -1.80369  | -1.22568  |
| 2000-04-10 00:00:00 | -1.42692  | -1.78564  | -0.966391 |
| 2000-04-11 00:00:00 | -1.32193  | -1.32646  | -2.36215  |
| 2000-04-12 00:00:00 | -1.9208   | -1.33477  | -1.77995  |
| 2000-04-13 00:00:00 | -0.948687 | -1.26792  | -1.89845  |
| 2000-04-14 00:00:00 | -1.98221  | -2.36592  | -1.51442  |
| 2000-04-15 00:00:00 | -2.33875  | -1.32596  | -1.1724   |
| 2000-04-16 00:00:00 | -1.48973  | -2.34483  | -1.6731   |
| 2000-04-17 00:00:00 | -1.81718  | -2.06681  | -1.23971  |
| 2000-04-18 00:00:00 | -1.91125  | -1.54115  | -1.11506  |
| 2000-04-19 00:00:00 | -1.55674  | -1.29203  | -1.68105  |
| 2000-04-20 00:00:00 | -1.74803  | -1.39003  | -2.09211  |
| 2000-04-21 00:00:00 | -1.78117  | -1.96264  | -1.49957  |
| 2000-04-22 00:00:00 | -1.94512  | -1.73722  | -1.54595  |
| 2000-04-23 00:00:00 | -1.53694  | -1.11423  | -1.79812  |
| 2000-04-24 00:00:00 | -1.51172  | -2.43503  | -2.44464  |
| 2000-04-25 00:00:00 | -1.98769  | -1.93223  | -2.09203  |
| 2000-04-26 00:00:00 | -1.52513  | -1.4274   | -1.8475   |
| 2000-04-27 00:00:00 | -0.71548  | -1.41677  | -1.15831  |
| 2000-04-28 00:00:00 | -1.96221  | -2.35159  | -1.86689  |
| 2000-04-29 00:00:00 | -1.37331  | -1.59069  | -2.27525  |
| 2000-04-30 00:00:00 | -1.83925  | -1.42848  | -1.88445  |
| 2000-05-01 00:00:00 | -1.48192  | -1.9188   | -1.52161  |
| 2000-05-02 00:00:00 | -1.74039  | -2.11956  | -1.52716  |
| 2000-05-03 00:00:00 | -1.51756  | -1.63355  | -1.24095  |
| 2000-05-04 00:00:00 | -0.818869 | -1.4535   | -2.32375  |
| 2000-05-05 00:00:00 | -1.86006  | -1.15415  | -1.86744  |
| 2000-05-06 00:00:00 | -1.64781  | -1.41105  | -1.94634  |
| 2000-05-07 00:00:00 | -2.26638  | -2.19268  | -2.02234  |
| 2000-05-08 00:00:00 | -1.91783  | -2.35867  | -1.64421  |
| 2000-05-09 00:00:00 | -1.69038  | -1.97788  | -1.80946  |
| 2000-05-10 00:00:00 | -1.43829  | -2.03134  | -1.26243  |
| 2000-05-11 00:00:00 | -1.70269  | -1.81357  | -2.28731  |
| 2000-05-12 00:00:00 | -1.60866  | -1.14008  | -1.90768  |
| 2000-05-13 00:00:00 | -1.49733  | -1.25923  | -2.37137  |
| 2000-05-14 00:00:00 | -2.08466  | -1.73936  | -1.8971   |
| 2000-05-15 00:00:00 | -1.48922  | -2.02626  | -1.84558  |
| 2000-05-16 00:00:00 | -1.10345  | -1.86834  | -1.70254  |
| 2000-05-17 00:00:00 | -1.99108  | -2.05538  | -1.84077  |
| 2000-05-18 00:00:00 | -1.60625  | -1.84846  | -1.85437  |
| 2000-05-19 00:00:00 | -1.31028  | -1.84868  | -1.52269  |
| 2000-05-20 00:00:00 | -1.21597  | -1.78306  | -2.09919  |
| 2000-05-21 00:00:00 | -1.73126  | -1.48047  | -1.82873  |
| 2000-05-22 00:00:00 | -1.72304  | -1.12064  | -1.74459  |
| 2000-05-23 00:00:00 | -0.834328 | -1.53655  | -1.37042  |
| 2000-05-24 00:00:00 | -1.24736  | -1.57787  | -1.94725  |
| 2000-05-25 00:00:00 | -1.64307  | -1.54441  | -1.03348  |
| 2000-05-26 00:00:00 | -0.938432 | -1.64757  | -1.0418   |
| 2000-05-27 00:00:00 | -2.00473  | -1.36525  | -1.9283   |
| 2000-05-28 00:00:00 | -0.929168 | -1.98405  | -0.668547 |
| 2000-05-29 00:00:00 | -1.20618  | -1.09572  | -1.42448  |
| 2000-05-30 00:00:00 | -2.07494  | -1.65866  | -1.71298  |
| 2000-05-31 00:00:00 | -1.7412   | -1.76507  | -1.4722   |
| 2000-06-01 00:00:00 | -1.55545  | -1.72189  | -1.9448   |
| 2000-06-02 00:00:00 | -1.42072  | -1.62086  | -1.43395  |
| 2000-06-03 00:00:00 | -1.13934  | -2.12696  | -1.5084   |
| 2000-06-04 00:00:00 | -1.37683  | -2.18823  | -1.77432  |
| 2000-06-05 00:00:00 | -1.77257  | -1.4958   | -0.974521 |
| 2000-06-06 00:00:00 | -2.06854  | -1.91545  | -1.93047  |
| 2000-06-07 00:00:00 | -1.96169  | -1.47358  | -1.40247  |
| 2000-06-08 00:00:00 | -1.99469  | -1.25118  | -1.78276  |
| 2000-06-09 00:00:00 | -1.29135  | -1.69278  | -1.47813  |
| 2000-06-10 00:00:00 | -1.83633  | -1.84871  | -1.84122  |
| 2000-06-11 00:00:00 | -1.86635  | -2.26469  | -1.55235  |
| 2000-06-12 00:00:00 | -1.41916  | -1.36164  | -1.11972  |
| 2000-06-13 00:00:00 | -1.67557  | -1.70772  | -1.95973  |
| 2000-06-14 00:00:00 | -1.46445  | -1.89152  | -1.55123  |
| 2000-06-15 00:00:00 | -2.01516  | -1.69693  | -1.96018  |
| 2000-06-16 00:00:00 | -1.2142   | -1.61174  | -1.75911  |
| 2000-06-17 00:00:00 | -1.42374  | -1.93356  | -1.4182   |
| 2000-06-18 00:00:00 | -2.02229  | -2.36937  | -1.5012   |
| 2000-06-19 00:00:00 | -1.5842   | -1.21686  | -1.77536  |
| 2000-06-20 00:00:00 | -1.89431  | -1.32784  | -1.4388   |
| 2000-06-21 00:00:00 | -1.90106  | -1.3992   | -2.60726  |
| 2000-06-22 00:00:00 | -2.8996   | -1.4427   | -1.01272  |
| 2000-06-23 00:00:00 | -1.12326  | -1.72823  | -2.39363  |
| 2000-06-24 00:00:00 | -1.58249  | -1.4332   | -1.38122  |
| 2000-06-25 00:00:00 | -1.22669  | -2.02383  | -1.57001  |
| 2000-06-26 00:00:00 | -2.09584  | -1.50435  | -2.06994  |
| 2000-06-27 00:00:00 | -1.43758  | -1.30908  | -1.60612  |
| 2000-06-28 00:00:00 | -1.48311  | -1.46247  | -1.67468  |
| 2000-06-29 00:00:00 | -2.48116  | -1.60815  | -1.77062  |
| 2000-06-30 00:00:00 | -1.69833  | -1.74603  | -1.99419  |
| 2000-07-01 00:00:00 | -1.46167  | -1.36993  | -1.33518  |
| 2000-07-02 00:00:00 | -1.86317  | -0.886877 | -1.53535  |
| 2000-07-03 00:00:00 | -1.81186  | -1.37267  | -1.45423  |
| 2000-07-04 00:00:00 | -1.65317  | -1.75926  | -2.28853  |
| 2000-07-05 00:00:00 | -1.52625  | -1.956    | -1.72998  |
| 2000-07-06 00:00:00 | -1.76232  | -2.04089  | -1.92271  |
| 2000-07-07 00:00:00 | -1.726    | -1.69543  | -1.77287  |
| 2000-07-08 00:00:00 | -1.89396  | -1.54943  | -1.21002  |
| 2000-07-09 00:00:00 | -1.01846  | -1.54171  | -1.37736  |
| 2000-07-10 00:00:00 | -1.71666  | -2.13848  | -0.826496 |
| 2000-07-11 00:00:00 | -1.37919  | -1.32853  | -1.36351  |
| 2000-07-12 00:00:00 | -1.73554  | -1.63109  | -2.19864  |
| 2000-07-13 00:00:00 | -1.42917  | -1.31099  | -1.366    |
| 2000-07-14 00:00:00 | -1.50245  | -1.79071  | -1.55706  |
| 2000-07-15 00:00:00 | -1.61487  | -1.35653  | -1.57798  |
| 2000-07-16 00:00:00 | -1.90249  | -1.54591  | -2.14984  |
| 2000-07-17 00:00:00 | -2.04953  | -1.4277   | -1.56696  |
| 2000-07-18 00:00:00 | -1.22006  | -1.88035  | -2.12676  |
| 2000-07-19 00:00:00 | -1.77908  | -1.11996  | -1.35238  |
| 2000-07-20 00:00:00 | -1.81163  | -1.32386  | -1.60078  |
| 2000-07-21 00:00:00 | -1.84034  | -1.96004  | -1.83015  |
| 2000-07-22 00:00:00 | -1.51917  | -1.98673  | -1.11282  |
| 2000-07-23 00:00:00 | -1.86121  | -1.81436  | -1.99614  |
| 2000-07-24 00:00:00 | -0.882667 | -1.69873  | -1.38743  |
| 2000-07-25 00:00:00 | -1.73321  | -1.74169  | -1.82788  |
| 2000-07-26 00:00:00 | -1.88994  | -1.50272  | -0.937563 |
| 2000-07-27 00:00:00 | -1.16835  | -0.901622 | -1.69438  |
| 2000-07-28 00:00:00 | -1.2474   | -1.70733  | -2.28342  |
| 2000-07-29 00:00:00 | -1.82302  | -1.68185  | -2.01698  |
| 2000-07-30 00:00:00 | -1.90618  | -2.15294  | -2.22583  |
| 2000-07-31 00:00:00 | -1.54128  | -2.13534  | -1.41429  |
| 2000-08-01 00:00:00 | -1.78691  | -2.34717  | -1.72753  |
| 2000-08-02 00:00:00 | -1.77011  | -1.55278  | -1.39367  |
| 2000-08-03 00:00:00 | -1.82005  | -1.98788  | -2.23958  |
| 2000-08-04 00:00:00 | -1.25     | -1.57705  | -1.58879  |
| 2000-08-05 00:00:00 | -1.69677  | -1.88022  | -2.09655  |
| 2000-08-06 00:00:00 | -1.38016  | -1.1412   | -1.03648  |
| 2000-08-07 00:00:00 | -1.85606  | -1.40186  | -1.32237  |
| 2000-08-08 00:00:00 | -1.88969  | -1.74896  | -2.51136  |
| 2000-08-09 00:00:00 | -1.36059  | -1.48676  | -1.35622  |
| 2000-08-10 00:00:00 | -1.80428  | -1.69728  | -2.21279  |
| 2000-08-11 00:00:00 | -1.55222  | -1.50457  | -1.39836  |
| 2000-08-12 00:00:00 | -2.09833  | -0.972308 | -1.68533  |
| 2000-08-13 00:00:00 | -1.32135  | -1.39634  | -1.73977  |
| 2000-08-14 00:00:00 | -1.64795  | -1.93105  | -1.28401  |
| 2000-08-15 00:00:00 | -2.01474  | -1.19984  | -1.99291  |
| 2000-08-16 00:00:00 | -1.56012  | -0.93206  | -1.76958  |
| 2000-08-17 00:00:00 | -1.578    | -1.91993  | -1.60628  |
| 2000-08-18 00:00:00 | -2.04306  | -1.52287  | -1.74113  |
| 2000-08-19 00:00:00 | -1.70666  | -1.34318  | -1.807    |
| 2000-08-20 00:00:00 | -1.76094  | -1.9208   | -1.59642  |
| 2000-08-21 00:00:00 | -1.42058  | -1.18144  | -1.53732  |
| 2000-08-22 00:00:00 | -2.42231  | -1.81714  | -2.1422   |
| 2000-08-23 00:00:00 | -2.44102  | -1.39031  | -1.61941  |
| 2000-08-24 00:00:00 | -1.71601  | -1.80168  | -1.51069  |
| 2000-08-25 00:00:00 | -1.64244  | -1.71458  | -1.78733  |
| 2000-08-26 00:00:00 | -2.18269  | -1.39915  | -1.77389  |
| 2000-08-27 00:00:00 | -1.92863  | -1.56406  | -2.37348  |
| 2000-08-28 00:00:00 | -1.46324  | -1.69016  | -1.73978  |
| 2000-08-29 00:00:00 | -1.93911  | -1.91498  | -1.77037  |
| 2000-08-30 00:00:00 | -2.07602  | -1.5779   | -1.27258  |
| 2000-08-31 00:00:00 | -1.63066  | -1.47201  | -1.38977  |
| 2000-09-01 00:00:00 | -2.30898  | -1.48622  | -1.62073  |
| 2000-09-02 00:00:00 | -1.85909  | -1.26371  | -1.498    |
| 2000-09-03 00:00:00 | -1.57382  | -1.52188  | -1.94872  |
| 2000-09-04 00:00:00 | -2.2155   | -1.95819  | -1.82551  |
| 2000-09-05 00:00:00 | -1.18568  | -1.76774  | -1.8588   |
| 2000-09-06 00:00:00 | -2.08819  | -2.51348  | -1.33169  |
| 2000-09-07 00:00:00 | -1.81283  | -1.59581  | -1.24708  |
| 2000-09-08 00:00:00 | -1.26668  | -1.90585  | -1.52348  |
| 2000-09-09 00:00:00 | -1.44761  | -1.2209   | -1.53042  |
| 2000-09-10 00:00:00 | -1.31666  | -1.70642  | -1.79875  |
| 2000-09-11 00:00:00 | -1.34343  | -2.07198  | -1.37207  |
| 2000-09-12 00:00:00 | -2.02174  | -1.14582  | -1.35474  |
| 2000-09-13 00:00:00 | -2.06776  | -2.17855  | -2.11978  |
| 2000-09-14 00:00:00 | -1.82197  | -1.95583  | -1.34973  |
| 2000-09-15 00:00:00 | -1.83104  | -1.85477  | -1.91409  |
| 2000-09-16 00:00:00 | -1.50733  | -1.31937  | -1.661    |
| 2000-09-17 00:00:00 | -1.12218  | -2.03009  | -1.73118  |
| 2000-09-18 00:00:00 | -1.63895  | -1.79312  | -1.39176  |
| 2000-09-19 00:00:00 | -1.40758  | -1.27835  | -1.7361   |
| 2000-09-20 00:00:00 | -1.66854  | -1.61049  | -2.11693  |
| 2000-09-21 00:00:00 | -1.6669   | -1.5121   | -1.45908  |
| 2000-09-22 00:00:00 | -1.59119  | -1.55508  | -1.91081  |
| 2000-09-23 00:00:00 | -2.0071   | -1.38032  | -1.82154  |
| 2000-09-24 00:00:00 | -1.72413  | -1.70141  | -2.07765  |
| 2000-09-25 00:00:00 | -1.32402  | -1.82888  | -1.34202  |
| 2000-09-26 00:00:00 | -1.59439  | -1.95835  | -1.51534  |
| 2000-09-27 00:00:00 | -1.84331  | -1.98676  | -2.0787   |
| 2000-09-28 00:00:00 | -1.7362   | -1.41556  | -1.96494  |
| 2000-09-29 00:00:00 | -1.45953  | -2.27497  | -1.73587  |
| 2000-09-30 00:00:00 | -1.42608  | -2.53379  | -1.42311  |
| 2000-10-01 00:00:00 | -1.78327  | -1.46769  | -1.17089  |
| 2000-10-02 00:00:00 | -2.39602  | -1.6299   | -1.77305  |
| 2000-10-03 00:00:00 | -1.94001  | -1.8399   | -1.86913  |
| 2000-10-04 00:00:00 | -1.8564   | -1.8795   | -1.62463  |
| 2000-10-05 00:00:00 | -1.53965  | -1.36742  | -1.31011  |
| 2000-10-06 00:00:00 | -1.66118  | -1.75156  | -2.25039  |
| 2000-10-07 00:00:00 | -1.9383   | -1.78339  | -1.51381  |
| 2000-10-08 00:00:00 | -1.98574  | -1.15692  | -1.78817  |
| 2000-10-09 00:00:00 | -1.87511  | -1.18438  | -2.14497  |
| 2000-10-10 00:00:00 | -1.73737  | -2.20373  | -2.23779  |
| 2000-10-11 00:00:00 | -1.90121  | -1.32238  | -1.64775  |
| 2000-10-12 00:00:00 | -1.36006  | -0.985742 | -1.49857  |
| 2000-10-13 00:00:00 | -1.75885  | -2.0706   | -0.964601 |
| 2000-10-14 00:00:00 | -1.7385   | -2.02689  | -1.88489  |
| 2000-10-15 00:00:00 | -2.0011   | -1.68143  | -1.74902  |
| 2000-10-16 00:00:00 | -1.77721  | -1.35927  | -2.01926  |
| 2000-10-17 00:00:00 | -1.82923  | -1.77959  | -1.33146  |
| 2000-10-18 00:00:00 | -0.966244 | -1.01315  | -1.8595   |
| 2000-10-19 00:00:00 | -1.91115  | -1.29686  | -1.38919  |
| 2000-10-20 00:00:00 | -2.187    | -1.5897   | -1.96543  |
| 2000-10-21 00:00:00 | -1.67024  | -1.88624  | -2.12116  |
| 2000-10-22 00:00:00 | -2.03423  | -1.7508   | -1.61493  |
| 2000-10-23 00:00:00 | -1.76896  | -1.6466   | -1.14975  |
| 2000-10-24 00:00:00 | -1.65537  | -1.34964  | -1.49618  |
| 2000-10-25 00:00:00 | -1.13774  | -1.74362  | -1.90024  |
| 2000-10-26 00:00:00 | -1.85553  | -1.59761  | -1.38484  |
| 2000-10-27 00:00:00 | -2.03654  | -1.46343  | -1.60606  |
| 2000-10-28 00:00:00 | -1.50883  | -2.05293  | -1.92376  |
| 2000-10-29 00:00:00 | -1.6212   | -1.5664   | -1.01677  |
| 2000-10-30 00:00:00 | -1.42758  | -1.4052   | -1.65175  |
| 2000-10-31 00:00:00 | -1.50196  | -1.37224  | -1.95783  |
| 2000-11-01 00:00:00 | -1.23376  | -1.89033  | -2.27261  |
| 2000-11-02 00:00:00 | -1.89076  | -1.8779   | -1.34877  |
| 2000-11-03 00:00:00 | -1.65457  | -1.23961  | -1.60201  |
| 2000-11-04 00:00:00 | -1.93195  | -1.66051  | -1.58131  |
| 2000-11-05 00:00:00 | -1.94539  | -1.10536  | -1.44618  |
| 2000-11-06 00:00:00 | -1.78631  | -1.9296   | -1.35705  |
| 2000-11-07 00:00:00 | -1.57022  | -1.99275  | -1.10871  |
| 2000-11-08 00:00:00 | -1.67747  | -1.772    | -1.4102   |
| 2000-11-09 00:00:00 | -1.70747  | -1.5807   | -1.53681  |
| 2000-11-10 00:00:00 | -1.92133  | -2.07455  | -1.67316  |
| 2000-11-11 00:00:00 | -2.17087  | -1.68781  | -1.48907  |
| 2000-11-12 00:00:00 | -1.33595  | -1.84772  | -1.96318  |
| 2000-11-13 00:00:00 | -1.76224  | -1.01544  | -1.9803   |
| 2000-11-14 00:00:00 | -1.72324  | -1.64967  | -1.46663  |
| 2000-11-15 00:00:00 | -1.70474  | -1.87448  | -2.18043  |
| 2000-11-16 00:00:00 | -1.98373  | -1.60129  | -2.20493  |
| 2000-11-17 00:00:00 | -2.09266  | -1.94408  | -1.65569  |
| 2000-11-18 00:00:00 | -1.66019  | -1.60101  | -1.83539  |
| 2000-11-19 00:00:00 | -1.21288  | -1.80205  | -1.08908  |
| 2000-11-20 00:00:00 | -1.44655  | -1.5568   | -1.30933  |
| 2000-11-21 00:00:00 | -1.65487  | -1.55115  | -2.05988  |
| 2000-11-22 00:00:00 | -2.10062  | -1.33829  | -2.15217  |
| 2000-11-23 00:00:00 | -1.65093  | -1.13915  | -1.37739  |
| 2000-11-24 00:00:00 | -1.62581  | -1.32282  | -1.48724  |
| 2000-11-25 00:00:00 | -1.70295  | -1.72129  | -1.4712   |
| 2000-11-26 00:00:00 | -1.4898   | -1.75566  | -1.39828  |

In [170]:
print(tsdf.apply(pd.Series.interpolate).to_markdown())

|                     |            A |           B |            C |
|:--------------------|-------------:|------------:|-------------:|
| 2000-01-01 00:00:00 | -1.40905     | -0.109362   |  0.620325    |
| 2000-01-02 00:00:00 | -2.06311     |  0.168855   |  0.248239    |
| 2000-01-03 00:00:00 |  0.420529    | -0.782539   | -0.270976    |
| 2000-01-04 00:00:00 | -0.190814    | -1.39697    |  0.460543    |
| 2000-01-05 00:00:00 | -1.30592     | -0.209384   | -0.291567    |
| 2000-01-06 00:00:00 |  1.12435     | -0.300393   |  0.463907    |
| 2000-01-07 00:00:00 | -0.0185888   | -0.161435   |  0.493654    |
| 2000-01-08 00:00:00 | -0.489839    |  0.513095   | -0.0263361   |
| 2000-01-09 00:00:00 | -0.506378    |  0.0970507  | -0.313285    |
| 2000-01-10 00:00:00 |  2.5904      |  0.560643   |  1.02937     |
| 2000-01-11 00:00:00 |  0.493568    |  1.72296    | -0.354936    |
| 2000-01-12 00:00:00 | -0.757156    |  1.93251    | -0.613347    |
| 2000-01-13 00:00:00 |  0.484926    |  1.46192    |  0.413371    |
| 2000-01-14 00:00:00 | -0.190433    |  0.488295   | -0.362187    |
| 2000-01-15 00:00:00 |  1.93466     |  0.75407    | -0.755809    |
| 2000-01-16 00:00:00 | -0.172056    |  2.07452    |  0.638366    |
| 2000-01-17 00:00:00 |  0.634956    | -1.22438    | -0.805646    |
| 2000-01-18 00:00:00 | -0.468584    |  1.48511    | -0.0213648   |
| 2000-01-19 00:00:00 | -0.426528    | -0.190302   |  0.622056    |
| 2000-01-20 00:00:00 | -0.562991    | -0.0103962  | -1.7193      |
| 2000-01-21 00:00:00 |  0.416382    |  2.21122    |  0.0288169   |
| 2000-01-22 00:00:00 | -0.897376    | -1.48008    | -0.66629     |
| 2000-01-23 00:00:00 |  2.5495      |  1.01149    | -1.25244     |
| 2000-01-24 00:00:00 |  1.0661      | -0.810542   |  0.458596    |
| 2000-01-25 00:00:00 |  0.00658226  | -0.876109   | -0.208714    |
| 2000-01-26 00:00:00 |  1.39214     | -2.22136    | -0.492454    |
| 2000-01-27 00:00:00 |  1.63959     |  0.560258   | -0.0173806   |
| 2000-01-28 00:00:00 |  1.28787     | -1.43085    |  0.0533597   |
| 2000-01-29 00:00:00 | -0.196141    |  0.500113   |  0.91931     |
| 2000-01-30 00:00:00 |  1.43805     | -0.636575   | -1.73409     |
| 2000-01-31 00:00:00 |  0.514048    | -0.198791   | -0.463106    |
| 2000-02-01 00:00:00 | -0.512441    | -1.21918    |  1.20203     |
| 2000-02-02 00:00:00 |  0.560408    |  0.936431   |  1.29248     |
| 2000-02-03 00:00:00 | -1.11309     |  0.509603   |  1.10428     |
| 2000-02-04 00:00:00 |  0.348455    | -0.710793   |  0.758612    |
| 2000-02-05 00:00:00 | -0.0537818   | -1.96784    |  0.190004    |
| 2000-02-06 00:00:00 | -0.07894     |  1.21331    |  0.968624    |
| 2000-02-07 00:00:00 |  0.894136    |  0.0177907  | -1.36687     |
| 2000-02-08 00:00:00 |  1.24347     | -0.753891   |  0.559759    |
| 2000-02-09 00:00:00 |  0.607757    |  0.290953   |  0.669848    |
| 2000-02-10 00:00:00 | -0.536906    |  0.292335   |  0.606372    |
| 2000-02-11 00:00:00 |  0.359633    | -1.0618     | -0.645726    |
| 2000-02-12 00:00:00 | -0.936079    | -1.46592    |  1.08405     |
| 2000-02-13 00:00:00 | -0.859113    | -0.393216   |  1.13394     |
| 2000-02-14 00:00:00 | -0.0347731   |  1.5908     | -0.455949    |
| 2000-02-15 00:00:00 |  0.873344    |  0.168845   | -0.341356    |
| 2000-02-16 00:00:00 |  0.977876    | -2.82976    |  2.30431     |
| 2000-02-17 00:00:00 |  0.377685    |  0.350913   |  0.83581     |
| 2000-02-18 00:00:00 |  0.214426    |  0.925884   | -0.0305836   |
| 2000-02-19 00:00:00 | -1.08471     |  0.84803    |  0.285091    |
| 2000-02-20 00:00:00 |  0.568572    |  0.487629   |  1.08881     |
| 2000-02-21 00:00:00 | -0.60293     |  0.178309   |  2.03953     |
| 2000-02-22 00:00:00 |  0.188936    | -1.20248    | -0.891785    |
| 2000-02-23 00:00:00 | -1.48049     | -0.470977   | -1.03189     |
| 2000-02-24 00:00:00 | -0.191845    |  1.67573    |  0.960517    |
| 2000-02-25 00:00:00 |  0.507551    | -0.62722    | -1.12889     |
| 2000-02-26 00:00:00 |  1.21971     |  1.04941    |  0.484587    |
| 2000-02-27 00:00:00 | -1.61055     |  1.30739    | -0.289071    |
| 2000-02-28 00:00:00 | -1.84072     | -0.0350668  | -2.30405     |
| 2000-02-29 00:00:00 |  0.633685    | -0.117783   | -2.34949     |
| 2000-03-01 00:00:00 |  1.06285     | -1.36138    | -1.44809     |
| 2000-03-02 00:00:00 | -0.754559    | -0.428402   | -0.158539    |
| 2000-03-03 00:00:00 | -1.16223     | -0.0843081  |  1.0386      |
| 2000-03-04 00:00:00 | -1.11616     |  1.12152    |  1.65215     |
| 2000-03-05 00:00:00 |  1.10459     | -0.800032   |  0.292137    |
| 2000-03-06 00:00:00 | -1.1781      | -2.00542    | -1.2793      |
| 2000-03-07 00:00:00 |  0.318295    | -0.397726   | -0.743874    |
| 2000-03-08 00:00:00 |  1.55981     |  0.527724   | -0.474778    |
| 2000-03-09 00:00:00 |  2.4072      |  0.144611   | -0.562995    |
| 2000-03-10 00:00:00 | -1.6479      | -0.075256   |  1.17125     |
| 2000-03-11 00:00:00 | -0.485139    | -0.193209   |  0.290685    |
| 2000-03-12 00:00:00 |  1.19091     | -2.86441    |  0.319595    |
| 2000-03-13 00:00:00 | -0.687157    | -0.78624    |  1.13473     |
| 2000-03-14 00:00:00 |  1.26354     |  0.599429   | -1.95814     |
| 2000-03-15 00:00:00 |  0.655954    |  1.21771    | -0.287009    |
| 2000-03-16 00:00:00 | -1.97127     |  0.37153    | -0.104794    |
| 2000-03-17 00:00:00 |  1.26584     |  0.725559   | -1.18573     |
| 2000-03-18 00:00:00 | -0.320835    | -1.07112    | -1.08535     |
| 2000-03-19 00:00:00 | -0.538852    |  2.85546    | -0.387803    |
| 2000-03-20 00:00:00 |  0.0154921   | -0.330614   |  1.56127     |
| 2000-03-21 00:00:00 |  0.431985    | -1.02131    |  0.266247    |
| 2000-03-22 00:00:00 | -2.48004     | -1.31715    | -2.85846     |
| 2000-03-23 00:00:00 |  2.44983     | -1.05957    | -1.18388     |
| 2000-03-24 00:00:00 |  0.161293    |  0.919992   |  1.23057     |
| 2000-03-25 00:00:00 | -0.173227    |  0.394932   |  0.341781    |
| 2000-03-26 00:00:00 | -1.91349     |  0.677506   | -1.80042     |
| 2000-03-27 00:00:00 |  1.18969     |  0.315483   |  0.970693    |
| 2000-03-28 00:00:00 | -0.964084    | -1.58003    |  0.4537      |
| 2000-03-29 00:00:00 | -1.33204     | -0.571799   | -0.413338    |
| 2000-03-30 00:00:00 | -0.711969    |  1.29269    | -1.17279     |
| 2000-03-31 00:00:00 |  1.76284     | -0.00765941 | -0.0171891   |
| 2000-04-01 00:00:00 |  0.274889    |  2.09768    |  0.965132    |
| 2000-04-02 00:00:00 | -0.94625     |  0.517225   |  0.506848    |
| 2000-04-03 00:00:00 |  0.781097    | -0.0818746  | -0.456625    |
| 2000-04-04 00:00:00 | -2.24024     | -0.0946983  |  1.63759     |
| 2000-04-05 00:00:00 | -1.50877     | -0.941374   |  1.06453     |
| 2000-04-06 00:00:00 | -0.215149    |  0.758339   | -0.715225    |
| 2000-04-07 00:00:00 |  1.11435     | -0.929383   |  1.40894     |
| 2000-04-08 00:00:00 | -1.1266      |  1.39088    | -0.438232    |
| 2000-04-09 00:00:00 |  1.08146     | -0.411076   |  1.32296     |
| 2000-04-10 00:00:00 |  0.71923     | -0.356929   |  2.10083     |
| 2000-04-11 00:00:00 |  1.03422     |  1.02062    | -2.08646     |
| 2000-04-12 00:00:00 | -0.762395    |  0.995678   | -0.339854    |
| 2000-04-13 00:00:00 |  2.15394     |  1.19624    | -0.695338    |
| 2000-04-14 00:00:00 | -0.946617    | -2.09777    |  0.456736    |
| 2000-04-15 00:00:00 | -2.01626     |  1.02213    |  1.4828      |
| 2000-04-16 00:00:00 |  0.530819    | -2.03448    | -0.0193061   |
| 2000-04-17 00:00:00 | -0.451531    | -1.20044    |  1.28086     |
| 2000-04-18 00:00:00 | -0.733759    |  0.376545   |  1.65482     |
| 2000-04-19 00:00:00 |  0.329786    |  1.1239     | -0.0431579   |
| 2000-04-20 00:00:00 | -0.244088    |  0.829909   | -1.27632     |
| 2000-04-21 00:00:00 | -0.343511    | -0.887926   |  0.501279    |
| 2000-04-22 00:00:00 | -0.835345    | -0.211669   |  0.362159    |
| 2000-04-23 00:00:00 |  0.38919     |  1.6573     | -0.394359    |
| 2000-04-24 00:00:00 |  0.46484     | -2.3051     | -2.33391     |
| 2000-04-25 00:00:00 | -0.963056    | -0.796688   | -1.27609     |
| 2000-04-26 00:00:00 |  0.424619    |  0.717795   | -0.542512    |
| 2000-04-27 00:00:00 |  2.85356     |  0.749696   |  1.52507     |
| 2000-04-28 00:00:00 | -0.886624    | -2.05478    | -0.600668    |
| 2000-04-29 00:00:00 |  0.880071    |  0.227924   | -1.82574     |
| 2000-04-30 00:00:00 | -0.517743    |  0.714572   | -0.653339    |
| 2000-05-01 00:00:00 |  0.554243    | -0.756407   |  0.435161    |
| 2000-05-02 00:00:00 | -0.221168    | -1.35868    |  0.41853     |
| 2000-05-03 00:00:00 |  0.447309    |  0.0993571  |  1.27716     |
| 2000-05-04 00:00:00 |  2.54339     |  0.639511   | -1.97124     |
| 2000-05-05 00:00:00 | -0.58019     |  1.53755    | -0.60232     |
| 2000-05-06 00:00:00 |  0.0565554   |  0.766839   | -0.839021    |
| 2000-05-07 00:00:00 | -1.79915     | -1.57805    | -1.06701     |
| 2000-05-08 00:00:00 | -0.753492    | -2.07602    |  0.0673843   |
| 2000-05-09 00:00:00 | -0.071142    | -0.933652   | -0.428386    |
| 2000-05-10 00:00:00 |  0.685129    | -1.09403    |  1.21272     |
| 2000-05-11 00:00:00 | -0.108076    | -0.440702   | -1.86192     |
| 2000-05-12 00:00:00 |  0.174017    |  1.57975    | -0.723049    |
| 2000-05-13 00:00:00 |  0.508022    |  1.22231    | -2.11412     |
| 2000-05-14 00:00:00 | -1.25397     | -0.21807    | -0.691309    |
| 2000-05-15 00:00:00 |  0.532326    | -1.07879    | -0.536752    |
| 2000-05-16 00:00:00 |  1.68966     | -0.60503    | -0.107625    |
| 2000-05-17 00:00:00 | -0.973248    | -1.16615    | -0.522322    |
| 2000-05-18 00:00:00 |  0.181245    | -0.545385   | -0.563114    |
| 2000-05-19 00:00:00 |  1.06915     | -0.546052   |  0.431937    |
| 2000-05-20 00:00:00 |  1.35208     | -0.349177   | -1.29758     |
| 2000-05-21 00:00:00 | -0.193788    |  0.558593   | -0.486191    |
| 2000-05-22 00:00:00 | -0.169133    |  1.63807    | -0.233781    |
| 2000-05-23 00:00:00 |  2.49702     |  0.390357   |  0.888739    |
| 2000-05-24 00:00:00 |  1.25792     |  0.266401   | -0.841747    |
| 2000-05-25 00:00:00 |  0.0707857   |  0.36678    |  1.89955     |
| 2000-05-26 00:00:00 |  2.1847      |  0.0572871  |  1.8746      |
| 2000-05-27 00:00:00 | -1.0142      |  0.904262   | -0.78489     |
| 2000-05-28 00:00:00 |  2.2125      | -0.952162   |  2.99436     |
| 2000-05-29 00:00:00 |  1.38145     |  1.71285    |  0.726559    |
| 2000-05-30 00:00:00 | -1.22483     |  0.0240207  | -0.138944    |
| 2000-05-31 00:00:00 | -0.22361     | -0.295216   |  0.583401    |
| 2000-06-01 00:00:00 |  0.333663    | -0.165669   | -0.834399    |
| 2000-06-02 00:00:00 |  0.737847    |  0.137414   |  0.698165    |
| 2000-06-03 00:00:00 |  1.58198     | -1.38087    |  0.474814    |
| 2000-06-04 00:00:00 |  0.869516    | -1.56468    | -0.322969    |
| 2000-06-05 00:00:00 | -0.317714    |  0.512594   |  2.07644     |
| 2000-06-06 00:00:00 | -1.20562     | -0.746346   | -0.791414    |
| 2000-06-07 00:00:00 | -0.885057    |  0.579274   |  0.7926      |
| 2000-06-08 00:00:00 | -0.984061    |  1.24645    | -0.348272    |
| 2000-06-09 00:00:00 |  1.12594     | -0.0783435  |  0.565597    |
| 2000-06-10 00:00:00 | -0.508986    | -0.546122   | -0.523664    |
| 2000-06-11 00:00:00 | -0.599037    | -1.79408    |  0.34295     |
| 2000-06-12 00:00:00 |  0.742518    |  0.915094   |  1.64083     |
| 2000-06-13 00:00:00 | -0.0267217   | -0.123148   | -0.879179    |
| 2000-06-14 00:00:00 |  0.606662    | -0.674563   |  0.346317    |
| 2000-06-15 00:00:00 | -1.04547     | -0.0907839  | -0.880552    |
| 2000-06-16 00:00:00 |  1.3574      |  0.164767   | -0.277318    |
| 2000-06-17 00:00:00 |  0.728794    | -0.800681   |  0.745399    |
| 2000-06-18 00:00:00 | -1.06687     | -2.10812    |  0.496408    |
| 2000-06-19 00:00:00 |  0.247388    |  1.34943    | -0.32607     |
| 2000-06-20 00:00:00 | -0.682919    |  1.01647    |  0.683615    |
| 2000-06-21 00:00:00 | -0.703175    |  0.802415   | -2.82179     |
| 2000-06-22 00:00:00 | -3.69881     |  0.671891   |  1.96183     |
| 2000-06-23 00:00:00 |  1.63023     | -0.184677   | -2.1809      |
| 2000-06-24 00:00:00 |  0.252542    |  0.700413   |  0.856354    |
| 2000-06-25 00:00:00 |  1.31992     | -1.07149    |  0.289957    |
| 2000-06-26 00:00:00 | -1.28751     |  0.486962   | -1.20981     |
| 2000-06-27 00:00:00 |  0.687269    |  1.07277    |  0.181636    |
| 2000-06-28 00:00:00 |  0.550677    |  0.612599   | -0.0240469   |
| 2000-06-29 00:00:00 | -2.44349     |  0.175543   | -0.311874    |
| 2000-06-30 00:00:00 | -0.0949875   | -0.238087   | -0.982557    |
| 2000-07-01 00:00:00 |  0.614994    |  0.890217   |  0.994453    |
| 2000-07-02 00:00:00 | -0.589505    |  2.33937    |  0.39394     |
| 2000-07-03 00:00:00 | -0.435584    |  0.881998   |  0.637312    |
| 2000-07-04 00:00:00 |  0.0405025   | -0.277778   | -1.86559     |
| 2000-07-05 00:00:00 |  0.421246    | -0.867993   | -0.189926    |
| 2000-07-06 00:00:00 | -0.286956    | -1.12268    | -0.76813     |
| 2000-07-07 00:00:00 | -0.178006    | -0.0862895  | -0.318622    |
| 2000-07-08 00:00:00 | -0.681872    |  0.351708   |  1.36995     |
| 2000-07-09 00:00:00 |  1.94462     |  0.374866   |  0.86791     |
| 2000-07-10 00:00:00 | -0.149967    | -1.41544    |  2.52051     |
| 2000-07-11 00:00:00 |  0.86244     |  1.01442    |  0.909479    |
| 2000-07-12 00:00:00 | -0.20662     |  0.106726   | -1.59593     |
| 2000-07-13 00:00:00 |  0.712478    |  1.06704    |  0.901994    |
| 2000-07-14 00:00:00 |  0.492636    | -0.372126   |  0.328815    |
| 2000-07-15 00:00:00 |  0.155404    |  0.930402   |  0.266051    |
| 2000-07-16 00:00:00 | -0.707468    |  0.362256   | -1.44951     |
| 2000-07-17 00:00:00 | -1.14859     |  0.716899   |  0.299118    |
| 2000-07-18 00:00:00 |  1.33982     | -0.641062   | -1.38027     |
| 2000-07-19 00:00:00 | -0.337254    |  1.64011    |  0.942856    |
| 2000-07-20 00:00:00 | -0.434882    |  1.02842    |  0.19767     |
| 2000-07-21 00:00:00 | -0.521007    | -0.880125   | -0.490435    |
| 2000-07-22 00:00:00 |  0.442487    | -0.9602     |  1.66155     |
| 2000-07-23 00:00:00 | -0.583643    | -0.443077   | -0.988414    |
| 2000-07-24 00:00:00 |  2.352       | -0.0961934  |  0.837695    |
| 2000-07-25 00:00:00 | -0.199637    | -0.225063   | -0.483654    |
| 2000-07-26 00:00:00 | -0.669829    |  0.491837   |  2.18731     |
| 2000-07-27 00:00:00 |  1.49496     |  2.29514    | -0.0831371   |
| 2000-07-28 00:00:00 |  1.25779     | -0.121988   | -1.85027     |
| 2000-07-29 00:00:00 | -0.469061    | -0.0455574  | -1.05094     |
| 2000-07-30 00:00:00 | -0.718553    | -1.45883    | -1.6775      |
| 2000-07-31 00:00:00 |  0.376168    | -1.40602    |  0.757145    |
| 2000-08-01 00:00:00 | -0.360736    | -2.0415     | -0.1826      |
| 2000-08-02 00:00:00 | -0.310341    |  0.34166    |  0.81899     |
| 2000-08-03 00:00:00 | -0.460147    | -0.963626   | -1.71873     |
| 2000-08-04 00:00:00 |  1.25001     |  0.268858   |  0.23364     |
| 2000-08-05 00:00:00 | -0.0903001   | -0.64066    | -1.28964     |
| 2000-08-06 00:00:00 |  0.859525    |  1.57641    |  1.89057     |
| 2000-08-07 00:00:00 | -0.568182    |  0.794412   |  1.0329      |
| 2000-08-08 00:00:00 | -0.669084    | -0.246881   | -2.53408     |
| 2000-08-09 00:00:00 |  0.918217    |  0.539716   |  0.931328    |
| 2000-08-10 00:00:00 | -0.412837    | -0.0918546  | -1.63836     |
| 2000-08-11 00:00:00 |  0.343325    |  0.486276   |  0.804906    |
| 2000-08-12 00:00:00 | -1.29499     |  2.08307    | -0.0559752   |
| 2000-08-13 00:00:00 |  1.03596     |  0.810966   | -0.219317    |
| 2000-08-14 00:00:00 |  0.0561649   | -0.793156   |  1.14796     |
| 2000-08-15 00:00:00 | -1.04423     |  1.40047    | -0.978738    |
| 2000-08-16 00:00:00 |  0.319651    |  2.20382    | -0.30874     |
| 2000-08-17 00:00:00 |  0.265999    | -0.759805   |  0.181153    |
| 2000-08-18 00:00:00 | -1.12917     |  0.431405   | -0.223399    |
| 2000-08-19 00:00:00 | -0.119991    |  0.970462   | -0.421002    |
| 2000-08-20 00:00:00 | -0.282829    | -0.762398   |  0.210749    |
| 2000-08-21 00:00:00 |  0.738248    |  1.45567    |  0.388048    |
| 2000-08-22 00:00:00 | -2.26693     | -0.451408   | -1.4266      |
| 2000-08-23 00:00:00 | -2.32306     |  0.829072   |  0.141776    |
| 2000-08-24 00:00:00 | -0.148032    | -0.405042   |  0.46794     |
| 2000-08-25 00:00:00 |  0.0726917   | -0.143743   | -0.361996    |
| 2000-08-26 00:00:00 | -1.54807     |  0.802552   | -0.321676    |
| 2000-08-27 00:00:00 | -0.78589     |  0.307808   | -2.12043     |
| 2000-08-28 00:00:00 |  0.610293    | -0.070472   | -0.219325    |
| 2000-08-29 00:00:00 | -0.817331    | -0.744935   | -0.311098    |
| 2000-08-30 00:00:00 | -1.22807     |  0.266288   |  1.18226     |
| 2000-08-31 00:00:00 |  0.108005    |  0.583983   |  0.830699    |
| 2000-09-01 00:00:00 | -1.92695     |  0.541342   |  0.137821    |
| 2000-09-02 00:00:00 | -0.577272    |  1.20886    |  0.506008    |
| 2000-09-03 00:00:00 |  0.278527    |  0.43435    | -0.846153    |
| 2000-09-04 00:00:00 | -1.6465      | -0.874556   | -0.47654     |
| 2000-09-05 00:00:00 |  1.44295     | -0.303224   | -0.576389    |
| 2000-09-06 00:00:00 | -1.26458     | -2.54044    |  1.00493     |
| 2000-09-07 00:00:00 | -0.438495    |  0.212573   |  1.25875     |
| 2000-09-08 00:00:00 |  1.19995     | -0.71755    |  0.429569    |
| 2000-09-09 00:00:00 |  0.657183    |  1.33731    |  0.408749    |
| 2000-09-10 00:00:00 |  1.05002     | -0.119264   | -0.396251    |
| 2000-09-11 00:00:00 |  0.969708    | -1.21595    |  0.883775    |
| 2000-09-12 00:00:00 | -1.06522     |  1.56255    |  0.935775    |
| 2000-09-13 00:00:00 | -1.20327     | -1.53566    | -1.35934     |
| 2000-09-14 00:00:00 | -0.465908    | -0.867501   |  0.950816    |
| 2000-09-15 00:00:00 | -0.493105    | -0.564308   | -0.74227     |
| 2000-09-16 00:00:00 |  0.47801     |  1.04188    |  0.0170027   |
| 2000-09-17 00:00:00 |  1.63346     | -1.09028    | -0.193545    |
| 2000-09-18 00:00:00 |  0.0831372   | -0.379369   |  0.824728    |
| 2000-09-19 00:00:00 |  0.777254    |  1.16494    | -0.208291    |
| 2000-09-20 00:00:00 | -0.0056255   |  0.168534   | -1.3508      |
| 2000-09-21 00:00:00 | -0.000697448 |  0.463688   |  0.622751    |
| 2000-09-22 00:00:00 |  0.22642     |  0.334754   | -0.732443    |
| 2000-09-23 00:00:00 | -1.02129     |  0.859038   | -0.464615    |
| 2000-09-24 00:00:00 | -0.172379    | -0.104231   | -1.23296     |
| 2000-09-25 00:00:00 |  1.02793     | -0.486633   |  0.973951    |
| 2000-09-26 00:00:00 |  0.216822    | -0.875055   |  0.453982    |
| 2000-09-27 00:00:00 | -0.529924    | -0.96029    | -1.23611     |
| 2000-09-28 00:00:00 | -0.208587    |  0.753316   | -0.894819    |
| 2000-09-29 00:00:00 |  0.621404    | -1.8249     | -0.207613    |
| 2000-09-30 00:00:00 |  0.721752    | -2.60136    |  0.730665    |
| 2000-10-01 00:00:00 | -0.349797    |  0.596933   |  1.48734     |
| 2000-10-02 00:00:00 | -2.18806     |  0.110293   | -0.319162    |
| 2000-10-03 00:00:00 | -0.820038    | -0.519714   | -0.607392    |
| 2000-10-04 00:00:00 | -0.569197    | -0.638486   |  0.126097    |
| 2000-10-05 00:00:00 |  0.381044    |  0.897738   |  1.06968     |
| 2000-10-06 00:00:00 |  0.0164468   | -0.254669   | -1.75118     |
| 2000-10-07 00:00:00 | -0.814893    | -0.350172   |  0.458574    |
| 2000-10-08 00:00:00 | -0.957218    |  1.52925    | -0.36452     |
| 2000-10-09 00:00:00 | -0.625325    |  1.44687    | -1.4349      |
| 2000-10-10 00:00:00 | -0.212097    | -1.61119    | -1.71337     |
| 2000-10-11 00:00:00 | -0.703638    |  1.03286    |  0.0567465   |
| 2000-10-12 00:00:00 |  0.919823    |  2.04277    |  0.504298    |
| 2000-10-13 00:00:00 | -0.276539    | -1.2118     |  2.1062      |
| 2000-10-14 00:00:00 | -0.215504    | -1.08066    | -0.654659    |
| 2000-10-15 00:00:00 | -1.00329     | -0.0442987  | -0.247065    |
| 2000-10-16 00:00:00 | -0.33162     |  0.922186   | -1.05777     |
| 2000-10-17 00:00:00 | -0.487699    | -0.338767   |  1.00563     |
| 2000-10-18 00:00:00 |  2.10127     |  1.96056    | -0.578493    |

In [175]:
tsdf = pd.DataFrame(np.random.randn(10, 3), columns=['A','B','C'],
                   index=pd.date_range('5/1/2020', periods=10))
print(tsdf.to_markdown())

|                     |         A |         B |         C |
|:--------------------|----------:|----------:|----------:|
| 2020-05-01 00:00:00 |  0.407908 | -0.600054 | -1.41581  |
| 2020-05-02 00:00:00 |  0.179237 | -0.734658 | -1.79698  |
| 2020-05-03 00:00:00 |  0.954097 | -0.882917 |  0.795765 |
| 2020-05-04 00:00:00 | -0.551622 |  1.74542  | -1.88462  |
| 2020-05-05 00:00:00 | -0.131639 |  1.14236  | -1.33374  |
| 2020-05-06 00:00:00 |  0.802303 |  0.441731 | -0.394808 |
| 2020-05-07 00:00:00 | -0.206431 | -1.32951  | -1.49405  |
| 2020-05-08 00:00:00 | -2.55758  |  0.367704 | -0.557975 |
| 2020-05-09 00:00:00 | -0.674054 |  1.63908  | -0.138926 |
| 2020-05-10 00:00:00 | -0.592699 |  0.668945 | -1.36891  |

In [176]:
tsdf.iloc[3:7] = np.nan
print(tsdf.to_markdown())

|                     |          A |          B |          C |
|:--------------------|-----------:|-----------:|-----------:|
| 2020-05-01 00:00:00 |   0.407908 |  -0.600054 |  -1.41581  |
| 2020-05-02 00:00:00 |   0.179237 |  -0.734658 |  -1.79698  |
| 2020-05-03 00:00:00 |   0.954097 |  -0.882917 |   0.795765 |
| 2020-05-04 00:00:00 | nan        | nan        | nan        |
| 2020-05-05 00:00:00 | nan        | nan        | nan        |
| 2020-05-06 00:00:00 | nan        | nan        | nan        |
| 2020-05-07 00:00:00 | nan        | nan        | nan        |
| 2020-05-08 00:00:00 |  -2.55758  |   0.367704 |  -0.557975 |
| 2020-05-09 00:00:00 |  -0.674054 |   1.63908  |  -0.138926 |
| 2020-05-10 00:00:00 |  -0.592699 |   0.668945 |  -1.36891  |

In [177]:
tsdf.agg(np.sum)

A   -2.283095
B    0.458099
C   -4.482836
dtype: float64

In [178]:
tsdf.agg('sum')

A   -2.283095
B    0.458099
C   -4.482836
dtype: float64

In [179]:
tsdf.sum()

A   -2.283095
B    0.458099
C   -4.482836
dtype: float64

In [180]:
tsdf['A'].agg('sum')

-2.2830949400475666

In [183]:
print(tsdf.agg(['sum']).to_markdown())

|     |        A |        B |        C |
|:----|---------:|---------:|---------:|
| sum | -2.28309 | 0.458099 | -4.48284 |

In [184]:
print(tsdf.agg(['sum','mean']).to_markdown())

|      |         A |         B |         C |
|:-----|----------:|----------:|----------:|
| sum  | -2.28309  | 0.458099  | -4.48284  |
| mean | -0.380516 | 0.0763498 | -0.747139 |

In [185]:
tsdf['A'].agg(['sum','mean'])

sum    -2.283095
mean   -0.380516
Name: A, dtype: float64

In [186]:
tsdf['A'].agg(['sum', lambda x: x.mean()])

sum        -2.283095
<lambda>   -0.380516
Name: A, dtype: float64

In [187]:
def mymean(x):
    return x.mean()

tsdf['A'].agg(['sum',mymean])

sum      -2.283095
mymean   -0.380516
Name: A, dtype: float64

In [188]:
tsdf.agg({'A': 'mean', 'B' : 'sum'})

A   -0.380516
B    0.458099
dtype: float64

In [190]:
print(tsdf.agg({'A' : ['mean','min'], 'B' : 'sum'}).to_markdown())

|      |          A |          B |
|:-----|-----------:|-----------:|
| mean |  -0.380516 | nan        |
| min  |  -2.55758  | nan        |
| sum  | nan        |   0.458099 |

In [191]:
mdf = pd.DataFrame({'A' : [1, 2, 3],
                   'B' : [1., 2., 3.,],
                   'C' : ['foo', 'bar', 'baz'],
                   'D' : pd.date_range('20200501', periods=3)})
mdf.dtypes

A             int64
B           float64
C            object
D    datetime64[ns]
dtype: object

In [193]:
print(mdf.agg(['min', 'sum']).to_markdown())

|     |   A |   B | C         | D                   |
|:----|----:|----:|:----------|:--------------------|
| min |   1 |   1 | bar       | 2020-05-01 00:00:00 |
| sum |   6 |   6 | foobarbaz | NaT                 |

In [196]:
from functools import partial
q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = '25%'
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '75%'
print(tsdf.agg(['count','mean','std','min',q_25,'median',q_75,'max']).to_markdown())

|        |         A |          B |         C |
|:-------|----------:|-----------:|----------:|
| count  |  6        |  6         |  6        |
| mean   | -0.380516 |  0.0763498 | -0.747139 |
| std    |  1.23182  |  0.991325  |  0.971817 |
| min    | -2.55758  | -0.882917  | -1.79698  |
| 25%    | -0.653715 | -0.701007  | -1.40409  |
| median | -0.206731 | -0.116175  | -0.963444 |
| 75%    |  0.350741 |  0.593635  | -0.243689 |
| max    |  0.954097 |  1.63908   |  0.795765 |

In [3]:
tsdf = pd.DataFrame(np.random.randn(10, 3), columns=['A','B','C'],
                   index=pd.date_range('20200501', periods=10))
tsdf

                   A         B         C
2020-05-01 -0.896244  0.682385  0.225629
2020-05-02 -0.977570 -2.099081  1.431794
2020-05-03  0.584787 -0.377973  0.425982
2020-05-04  0.105026 -0.569659 -0.556011
2020-05-05 -0.820829  1.338921 -1.902243
2020-05-06 -0.682315 -0.123386  1.944718
2020-05-07  0.202266  1.041347 -0.612509
2020-05-08 -0.744223  0.982502  0.649855
2020-05-09  0.439956 -0.004754  0.886070
2020-05-10  0.017860 -0.118774 -0.640164

In [5]:
tsdf.iloc[3:7] = np.nan
print(tsdf.to_markdown())

|                     |           A |            B |          C |
|:--------------------|------------:|-------------:|-----------:|
| 2020-05-01 00:00:00 |  -0.896244  |   0.682385   |   0.225629 |
| 2020-05-02 00:00:00 |  -0.97757   |  -2.09908    |   1.43179  |
| 2020-05-03 00:00:00 |   0.584787  |  -0.377973   |   0.425982 |
| 2020-05-04 00:00:00 | nan         | nan          | nan        |
| 2020-05-05 00:00:00 | nan         | nan          | nan        |
| 2020-05-06 00:00:00 | nan         | nan          | nan        |
| 2020-05-07 00:00:00 | nan         | nan          | nan        |
| 2020-05-08 00:00:00 |  -0.744223  |   0.982502   |   0.649855 |
| 2020-05-09 00:00:00 |   0.439956  |  -0.00475368 |   0.88607  |
| 2020-05-10 00:00:00 |   0.0178599 |  -0.118774   |  -0.640164 |

In [9]:
print(tsdf.transform(np.abs).to_markdown())

|                     |           A |            B |          C |
|:--------------------|------------:|-------------:|-----------:|
| 2020-05-01 00:00:00 |   0.896244  |   0.682385   |   0.225629 |
| 2020-05-02 00:00:00 |   0.97757   |   2.09908    |   1.43179  |
| 2020-05-03 00:00:00 |   0.584787  |   0.377973   |   0.425982 |
| 2020-05-04 00:00:00 | nan         | nan          | nan        |
| 2020-05-05 00:00:00 | nan         | nan          | nan        |
| 2020-05-06 00:00:00 | nan         | nan          | nan        |
| 2020-05-07 00:00:00 | nan         | nan          | nan        |
| 2020-05-08 00:00:00 |   0.744223  |   0.982502   |   0.649855 |
| 2020-05-09 00:00:00 |   0.439956  |   0.00475368 |   0.88607  |
| 2020-05-10 00:00:00 |   0.0178599 |   0.118774   |   0.640164 |

In [10]:
print(tsdf.transform('abs').to_markdown())

|                     |           A |            B |          C |
|:--------------------|------------:|-------------:|-----------:|
| 2020-05-01 00:00:00 |   0.896244  |   0.682385   |   0.225629 |
| 2020-05-02 00:00:00 |   0.97757   |   2.09908    |   1.43179  |
| 2020-05-03 00:00:00 |   0.584787  |   0.377973   |   0.425982 |
| 2020-05-04 00:00:00 | nan         | nan          | nan        |
| 2020-05-05 00:00:00 | nan         | nan          | nan        |
| 2020-05-06 00:00:00 | nan         | nan          | nan        |
| 2020-05-07 00:00:00 | nan         | nan          | nan        |
| 2020-05-08 00:00:00 |   0.744223  |   0.982502   |   0.649855 |
| 2020-05-09 00:00:00 |   0.439956  |   0.00475368 |   0.88607  |
| 2020-05-10 00:00:00 |   0.0178599 |   0.118774   |   0.640164 |

In [11]:
print(tsdf.transform(lambda x : x.abs()).to_markdown())

|                     |           A |            B |          C |
|:--------------------|------------:|-------------:|-----------:|
| 2020-05-01 00:00:00 |   0.896244  |   0.682385   |   0.225629 |
| 2020-05-02 00:00:00 |   0.97757   |   2.09908    |   1.43179  |
| 2020-05-03 00:00:00 |   0.584787  |   0.377973   |   0.425982 |
| 2020-05-04 00:00:00 | nan         | nan          | nan        |
| 2020-05-05 00:00:00 | nan         | nan          | nan        |
| 2020-05-06 00:00:00 | nan         | nan          | nan        |
| 2020-05-07 00:00:00 | nan         | nan          | nan        |
| 2020-05-08 00:00:00 |   0.744223  |   0.982502   |   0.649855 |
| 2020-05-09 00:00:00 |   0.439956  |   0.00475368 |   0.88607  |
| 2020-05-10 00:00:00 |   0.0178599 |   0.118774   |   0.640164 |

In [13]:
print(np.abs(tsdf).to_markdown())

|                     |           A |            B |          C |
|:--------------------|------------:|-------------:|-----------:|
| 2020-05-01 00:00:00 |   0.896244  |   0.682385   |   0.225629 |
| 2020-05-02 00:00:00 |   0.97757   |   2.09908    |   1.43179  |
| 2020-05-03 00:00:00 |   0.584787  |   0.377973   |   0.425982 |
| 2020-05-04 00:00:00 | nan         | nan          | nan        |
| 2020-05-05 00:00:00 | nan         | nan          | nan        |
| 2020-05-06 00:00:00 | nan         | nan          | nan        |
| 2020-05-07 00:00:00 | nan         | nan          | nan        |
| 2020-05-08 00:00:00 |   0.744223  |   0.982502   |   0.649855 |
| 2020-05-09 00:00:00 |   0.439956  |   0.00475368 |   0.88607  |
| 2020-05-10 00:00:00 |   0.0178599 |   0.118774   |   0.640164 |

In [14]:
tsdf['A'].transform(np.abs)

2020-05-01    0.896244
2020-05-02    0.977570
2020-05-03    0.584787
2020-05-04         NaN
2020-05-05         NaN
2020-05-06         NaN
2020-05-07         NaN
2020-05-08    0.744223
2020-05-09    0.439956
2020-05-10    0.017860
Freq: D, Name: A, dtype: float64

In [16]:
print(tsdf.transform([np.abs, lambda x : x +  1]).to_markdown())

|                     |   ('A', 'absolute') |   ('A', '<lambda>') |   ('B', 'absolute') |   ('B', '<lambda>') |   ('C', 'absolute') |   ('C', '<lambda>') |
|:--------------------|--------------------:|--------------------:|--------------------:|--------------------:|--------------------:|--------------------:|
| 2020-05-01 00:00:00 |           0.896244  |           0.103756  |          0.682385   |            1.68238  |            0.225629 |            1.22563  |
| 2020-05-02 00:00:00 |           0.97757   |           0.0224299 |          2.09908    |           -1.09908  |            1.43179  |            2.43179  |
| 2020-05-03 00:00:00 |           0.584787  |           1.58479   |          0.377973   |            0.622027 |            0.425982 |            1.42598  |
| 2020-05-04 00:00:00 |         nan         |         nan         |        nan          |          nan        |          nan        |          nan        |
| 2020-05-05 00:00:00 |         nan         |         nan         |        nan          |          nan        |          nan        |          nan        |
| 2020-05-06 00:00:00 |         nan         |         nan         |        nan          |          nan        |          nan        |          nan        |
| 2020-05-07 00:00:00 |         nan         |         nan         |        nan          |          nan        |          nan        |          nan        |
| 2020-05-08 00:00:00 |           0.744223  |           0.255777  |          0.982502   |            1.9825   |            0.649855 |            1.64986  |
| 2020-05-09 00:00:00 |           0.439956  |           1.43996   |          0.00475368 |            0.995246 |            0.88607  |            1.88607  |
| 2020-05-10 00:00:00 |           0.0178599 |           1.01786   |          0.118774   |            0.881226 |            0.640164 |            0.359836 |

In [18]:
print(tsdf['A'].transform([np.abs, lambda x : x + 1]).to_markdown())

|                     |    absolute |    <lambda> |
|:--------------------|------------:|------------:|
| 2020-05-01 00:00:00 |   0.896244  |   0.103756  |
| 2020-05-02 00:00:00 |   0.97757   |   0.0224299 |
| 2020-05-03 00:00:00 |   0.584787  |   1.58479   |
| 2020-05-04 00:00:00 | nan         | nan         |
| 2020-05-05 00:00:00 | nan         | nan         |
| 2020-05-06 00:00:00 | nan         | nan         |
| 2020-05-07 00:00:00 | nan         | nan         |
| 2020-05-08 00:00:00 |   0.744223  |   0.255777  |
| 2020-05-09 00:00:00 |   0.439956  |   1.43996   |
| 2020-05-10 00:00:00 |   0.0178599 |   1.01786   |

In [20]:
print(tsdf.transform({'A' : np.abs, 'B' : lambda x : x + 1}).to_markdown())

|                     |           A |          B |
|:--------------------|------------:|-----------:|
| 2020-05-01 00:00:00 |   0.896244  |   1.68238  |
| 2020-05-02 00:00:00 |   0.97757   |  -1.09908  |
| 2020-05-03 00:00:00 |   0.584787  |   0.622027 |
| 2020-05-04 00:00:00 | nan         | nan        |
| 2020-05-05 00:00:00 | nan         | nan        |
| 2020-05-06 00:00:00 | nan         | nan        |
| 2020-05-07 00:00:00 | nan         | nan        |
| 2020-05-08 00:00:00 |   0.744223  |   1.9825   |
| 2020-05-09 00:00:00 |   0.439956  |   0.995246 |
| 2020-05-10 00:00:00 |   0.0178599 |   0.881226 |

In [22]:
print(tsdf.transform({'A' : np.abs, 'B' : [lambda x : x + 1, 'sqrt']}).to_markdown())

|                     |   ('A', 'absolute') |   ('B', '<lambda>') |   ('B', 'sqrt') |
|:--------------------|--------------------:|--------------------:|----------------:|
| 2020-05-01 00:00:00 |           0.896244  |            1.68238  |        0.826066 |
| 2020-05-02 00:00:00 |           0.97757   |           -1.09908  |      nan        |
| 2020-05-03 00:00:00 |           0.584787  |            0.622027 |      nan        |
| 2020-05-04 00:00:00 |         nan         |          nan        |      nan        |
| 2020-05-05 00:00:00 |         nan         |          nan        |      nan        |
| 2020-05-06 00:00:00 |         nan         |          nan        |      nan        |
| 2020-05-07 00:00:00 |         nan         |          nan        |      nan        |
| 2020-05-08 00:00:00 |           0.744223  |            1.9825   |        0.991212 |
| 2020-05-09 00:00:00 |           0.439956  |            0.995246 |      nan        |
| 2020-05-10 00:00:00 |           0.0178599 |            0.881226 |      nan        |

/Users/kimjuhun/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [23]:
df4 = pd.DataFrame(np.random.randn(4,3), columns=['one','two','three'],
                  index=['a','b','c','d'])

In [32]:
df4['one']['d'] = np.nan
df4['three']['a'] = np.nan
print(df4.to_markdown())

|    |        one |       two |      three |
|:---|-----------:|----------:|-----------:|
| a  |  -0.245643 | -2.0549   | nan        |
| b  |   0.22655  |  1.48683  |  -0.150279 |
| c  |  -0.530094 |  0.254373 |  -1.08476  |
| d  | nan        |  1.168    |   0.854002 |

In [34]:
def f(x):
    return len(str(x))

df4['one'].map(f)

a    19
b    19
c    19
d     3
Name: one, dtype: int64

In [35]:
print(df4.applymap(f).to_markdown())

|    |   one |   two |   three |
|:---|------:|------:|--------:|
| a  |    19 |    19 |       3 |
| b  |    19 |    18 |      19 |
| c  |    19 |    19 |      19 |
| d  |     3 |    18 |      17 |

In [41]:
s = pd.Series(['six','seven','six','seven','six'], 
                index = ['a','b','c','d','e'])

In [42]:
t = pd.Series({'six' : 6., 'seven' : 7.})

In [43]:
s

a      six
b    seven
c      six
d    seven
e      six
dtype: object

In [44]:
t

six      6.0
seven    7.0
dtype: float64

In [45]:
s.map(t)

a    6.0
b    7.0
c    6.0
d    7.0
e    6.0
dtype: float64

In [2]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
s

a   -0.175884
b   -0.714753
c    0.255026
d   -0.150072
e    1.262673
dtype: float64

In [3]:
s.reindex(['e','b','f','d'])

e    1.262673
b   -0.714753
f         NaN
d   -0.150072
dtype: float64

In [11]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a','b','c','d'], columns=['one','two','three'])
df

        one       two     three
a  1.082888  1.738943 -0.168816
b  1.555301  0.662961  1.294289
c  1.792241 -0.061913  0.251609
d  0.993658  0.663250 -1.414891

In [8]:
df.reindex(index=['c','f','b'], columns=['three','two','one'])

      three       two       one
c -1.080338  1.881124 -2.080188
f       NaN       NaN       NaN
b -1.407497  1.476699  1.508872

In [11]:
print(df.reindex(index=['c','f','b'], columns=['three','two','one']).to_markdown())

|    |     three |       two |       one |
|:---|----------:|----------:|----------:|
| c  |  -1.08034 |   1.88112 |  -2.08019 |
| f  | nan       | nan       | nan       |
| b  |  -1.4075  |   1.4767  |   1.50887 |

In [12]:
df.reindex(['c','f','b'], axis='index')

        one       two     three
c -2.080188  1.881124 -1.080338
f       NaN       NaN       NaN
b  1.508872  1.476699 -1.407497

In [13]:
print(df.reindex(['c','f','b'], axis='index').to_markdown())

|    |       one |       two |     three |
|:---|----------:|----------:|----------:|
| c  |  -2.08019 |   1.88112 |  -1.08034 |
| f  | nan       | nan       | nan       |
| b  |   1.50887 |   1.4767  |  -1.4075  |

In [14]:
rs = s.reindex(df.index)

In [15]:
rs

a   -0.175884
b   -0.714753
c    0.255026
d   -0.150072
dtype: float64

In [16]:
rs.index is df.index

True

In [19]:
print(df.reindex(['c','f','b'], axis='index').to_markdown())

|    |       one |       two |     three |
|:---|----------:|----------:|----------:|
| c  |  -2.08019 |   1.88112 |  -1.08034 |
| f  | nan       | nan       | nan       |
| b  |   1.50887 |   1.4767  |  -1.4075  |

In [20]:
print(df.reindex(['three','two','one'], axis='columns').to_markdown())

|    |     three |       two |       one |
|:---|----------:|----------:|----------:|
| a  |  0.806466 |  1.08527  |  1.17957  |
| b  | -1.4075   |  1.4767   |  1.50887  |
| c  | -1.08034  |  1.88112  | -2.08019  |
| d  | -0.39275  | -0.640094 |  0.452879 |

In [5]:
df2 = pd.DataFrame(np.random.randn(3,2), index=['a','b','c'], columns=['one','two'])

In [9]:
print(df2.to_markdown())

|    |       one |       two |
|:---|----------:|----------:|
| a  | -0.954435 | -0.136404 |
| b  |  0.664582 | -0.745416 |
| c  | -0.582238 | -0.684242 |

In [7]:
df3 = pd.DataFrame(np.random.randn(3,2), index=['a','b','c'], columns=['one','two'])

In [10]:
print(df3.to_markdown())

|    |       one |       two |
|:---|----------:|----------:|
| a  | -0.129764 |  2.42972  |
| b  |  0.114185 |  1.61554  |
| c  | -0.483383 | -0.209427 |

In [15]:
print(df.reindex_like(df2).to_markdown())

|    |     one |        two |
|:---|--------:|-----------:|
| a  | 1.08289 |  1.73894   |
| b  | 1.5553  |  0.662961  |
| c  | 1.79224 | -0.0619129 |

In [16]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [17]:
s1 = s[:4]

In [18]:
s2 = s[1:]

In [19]:
s1.align(s2, join='outer')

(a    0.399127
 b    0.822136
 c    0.382556
 d   -0.481126
 e         NaN
 dtype: float64,
 a         NaN
 b    0.822136
 c    0.382556
 d   -0.481126
 e   -0.252125
 dtype: float64)

In [20]:
s2

b    0.822136
c    0.382556
d   -0.481126
e   -0.252125
dtype: float64

In [21]:
s1

a    0.399127
b    0.822136
c    0.382556
d   -0.481126
dtype: float64

In [23]:
s1.align(s2, join='left')

(a    0.399127
 b    0.822136
 c    0.382556
 d   -0.481126
 dtype: float64,
 a         NaN
 b    0.822136
 c    0.382556
 d   -0.481126
 dtype: float64)

In [24]:
s1.align(s2, join='right')

(b    0.822136
 c    0.382556
 d   -0.481126
 e         NaN
 dtype: float64,
 b    0.822136
 c    0.382556
 d   -0.481126
 e   -0.252125
 dtype: float64)

In [25]:
s1.align(s2, join='inner')

(b    0.822136
 c    0.382556
 d   -0.481126
 dtype: float64,
 b    0.822136
 c    0.382556
 d   -0.481126
 dtype: float64)

In [26]:
df.align(df2, join='inner')

(        one       two
 a  1.082888  1.738943
 b  1.555301  0.662961
 c  1.792241 -0.061913,
         one       two
 a -0.954435 -0.136404
 b  0.664582 -0.745416
 c -0.582238 -0.684242)

In [27]:
df.align(df2, join='inner', axis=0)

(        one       two     three
 a  1.082888  1.738943 -0.168816
 b  1.555301  0.662961  1.294289
 c  1.792241 -0.061913  0.251609,
         one       two
 a -0.954435 -0.136404
 b  0.664582 -0.745416
 c -0.582238 -0.684242)

In [28]:
df.align(df2.iloc[0], axis=1)

(        one     three       two
 a  1.082888 -0.168816  1.738943
 b  1.555301  1.294289  0.662961
 c  1.792241  0.251609 -0.061913
 d  0.993658 -1.414891  0.663250,
 one     -0.954435
 three         NaN
 two     -0.136404
 Name: a, dtype: float64)

In [31]:
rng = pd.date_range('5/20/2020', periods=8)

In [32]:
rng

DatetimeIndex(['2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23',
               '2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27'],
              dtype='datetime64[ns]', freq='D')

In [33]:
ts = pd.Series(np.random.randn(8), index=rng)

In [34]:
ts

2020-05-20   -0.505216
2020-05-21   -0.817539
2020-05-22    0.369850
2020-05-23    0.495342
2020-05-24    0.532168
2020-05-25   -0.980164
2020-05-26   -0.630167
2020-05-27   -0.244960
Freq: D, dtype: float64

In [35]:
ts2 = ts[[0, 3, 6]]

In [36]:
ts2

2020-05-20   -0.505216
2020-05-23    0.495342
2020-05-26   -0.630167
dtype: float64

In [40]:
ts2.reindex(ts.index)

2020-05-20   -0.505216
2020-05-21         NaN
2020-05-22         NaN
2020-05-23    0.495342
2020-05-24         NaN
2020-05-25         NaN
2020-05-26   -0.630167
2020-05-27         NaN
Freq: D, dtype: float64

In [41]:
ts2.reindex(ts.index, method='ffill')

2020-05-20   -0.505216
2020-05-21   -0.505216
2020-05-22   -0.505216
2020-05-23    0.495342
2020-05-24    0.495342
2020-05-25    0.495342
2020-05-26   -0.630167
2020-05-27   -0.630167
Freq: D, dtype: float64

In [42]:
ts2.reindex(ts.index, method='bfill')

2020-05-20   -0.505216
2020-05-21    0.495342
2020-05-22    0.495342
2020-05-23    0.495342
2020-05-24   -0.630167
2020-05-25   -0.630167
2020-05-26   -0.630167
2020-05-27         NaN
Freq: D, dtype: float64

In [43]:
ts2.reindex(ts.index, method='nearest')

2020-05-20   -0.505216
2020-05-21   -0.505216
2020-05-22    0.495342
2020-05-23    0.495342
2020-05-24    0.495342
2020-05-25   -0.630167
2020-05-26   -0.630167
2020-05-27   -0.630167
Freq: D, dtype: float64

In [44]:
ts2.reindex(ts.index).fillna(method='ffill')

2020-05-20   -0.505216
2020-05-21   -0.505216
2020-05-22   -0.505216
2020-05-23    0.495342
2020-05-24    0.495342
2020-05-25    0.495342
2020-05-26   -0.630167
2020-05-27   -0.630167
Freq: D, dtype: float64

In [45]:
ts2.reindex(ts.index, method='ffill', limit=1)

2020-05-20   -0.505216
2020-05-21   -0.505216
2020-05-22         NaN
2020-05-23    0.495342
2020-05-24    0.495342
2020-05-25         NaN
2020-05-26   -0.630167
2020-05-27   -0.630167
Freq: D, dtype: float64

In [46]:
ts2.reindex(ts.index, method='ffill', tolerance='1 day')

2020-05-20   -0.505216
2020-05-21   -0.505216
2020-05-22         NaN
2020-05-23    0.495342
2020-05-24    0.495342
2020-05-25         NaN
2020-05-26   -0.630167
2020-05-27   -0.630167
Freq: D, dtype: float64

In [47]:
df

        one       two     three
a  1.082888  1.738943 -0.168816
b  1.555301  0.662961  1.294289
c  1.792241 -0.061913  0.251609
d  0.993658  0.663250 -1.414891

In [50]:
print(df.drop(['a','d'], axis=0).to_markdown())

|    |     one |        two |    three |
|:---|--------:|-----------:|---------:|
| b  | 1.5553  |  0.662961  | 1.29429  |
| c  | 1.79224 | -0.0619129 | 0.251609 |

In [51]:
print(df.drop(['one'], axis=1).to_markdown())

|    |        two |     three |
|:---|-----------:|----------:|
| a  |  1.73894   | -0.168816 |
| b  |  0.662961  |  1.29429  |
| c  | -0.0619129 |  0.251609 |
| d  |  0.66325   | -1.41489  |

In [53]:
print(df.reindex(df.index.difference(['a','d'])).to_markdown())

|    |     one |        two |    three |
|:---|--------:|-----------:|---------:|
| b  | 1.5553  |  0.662961  | 1.29429  |
| c  | 1.79224 | -0.0619129 | 0.251609 |

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [3]:
s

a   -0.075894
b    0.185599
c   -0.519371
d   -0.146455
e    1.248039
dtype: float64

In [5]:
s.rename(str.upper)

A   -0.075894
B    0.185599
C   -0.519371
D   -0.146455
E    1.248039
dtype: float64

In [9]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a','b','c','d'], columns=['one','two','three'])
print(df.to_markdown())

|    |        one |       two |     three |
|:---|-----------:|----------:|----------:|
| a  |  0.46764   | -0.762784 | -0.294786 |
| b  |  0.0442426 |  1.311    |  1.23261  |
| c  | -0.0144119 | -0.239189 |  0.708016 |
| d  | -0.430634  | -0.435274 | -0.342011 |

In [11]:
tmp = df.rename(columns={'one':'foo','two':'bar'},
         index={'a':'apple','b':'banana','d':'durian'})

In [12]:
print(tmp.to_markdown())

|        |        foo |       bar |     three |
|:-------|-----------:|----------:|----------:|
| apple  |  0.46764   | -0.762784 | -0.294786 |
| banana |  0.0442426 |  1.311    |  1.23261  |
| c      | -0.0144119 | -0.239189 |  0.708016 |
| durian | -0.430634  | -0.435274 | -0.342011 |

In [14]:
print(df.rename({'one':'foo','two':'bar'}, axis='columns').to_markdown())

|    |        foo |       bar |     three |
|:---|-----------:|----------:|----------:|
| a  |  0.46764   | -0.762784 | -0.294786 |
| b  |  0.0442426 |  1.311    |  1.23261  |
| c  | -0.0144119 | -0.239189 |  0.708016 |
| d  | -0.430634  | -0.435274 | -0.342011 |

In [16]:
print(df.rename({'a':'apple','b':'banana','d':'durian'}).to_markdown())

|        |        one |       two |     three |
|:-------|-----------:|----------:|----------:|
| apple  |  0.46764   | -0.762784 | -0.294786 |
| banana |  0.0442426 |  1.311    |  1.23261  |
| c      | -0.0144119 | -0.239189 |  0.708016 |
| durian | -0.430634  | -0.435274 | -0.342011 |

In [17]:
s.rename('scalar-name')

a   -0.075894
b    0.185599
c   -0.519371
d   -0.146455
e    1.248039
Name: scalar-name, dtype: float64

In [18]:
df = pd.DataFrame({'x':[1, 2, 3, 4, 5, 6 ],
                  'y' :[10, 20, 30, 40, 50, 60]},
                 index = pd.MultiIndex.from_product([['a','b','c'], [1,2]], names=['let','num']))

In [21]:
df

         x   y
let num
a   1    1  10
    2    2  20
b   1    3  30
    2    4  40
c   1    5  50
    2    6  60

In [22]:
df.rename_axis(index={'let':'abc'})

         x   y
abc num
a   1    1  10
    2    2  20
b   1    3  30
    2    4  40
c   1    5  50
    2    6  60

In [23]:
df.rename_axis(index=str.upper)

         x   y
LET NUM
a   1    1  10
    2    2  20
b   1    3  30
    2    4  40
c   1    5  50
    2    6  60

In [3]:
df = pd.DataFrame({'col1' : np.random.randn(3),
                  'col2' : np.random.randn(3)}, index=list('abc'))

In [7]:
print(df.to_markdown())

|    |      col1 |     col2 |
|:---|----------:|---------:|
| a  | -0.428519 | 0.756701 |
| b  |  0.359407 | 1.45551  |
| c  |  0.796692 | 2.11757  |

In [6]:
for col in df:
    print(col)

col1
col2

In [8]:
for label, ser in df.items():
    print(label)
    print(ser)

col1
a   -0.428519
b    0.359407
c    0.796692
Name: col1, dtype: float64
col2
a    0.756701
b    1.455514
c    2.117571
Name: col2, dtype: float64

In [9]:
for row_index, row in df.iterrows():
    print(row_index, row, sep='\n')

a
col1   -0.428519
col2    0.756701
Name: a, dtype: float64
b
col1    0.359407
col2    1.455514
Name: b, dtype: float64
c
col1    0.796692
col2    2.117571
Name: c, dtype: float64

In [10]:
df_orig = pd.DataFrame([[1, 1.5]], columns=['int', 'float'])

In [14]:
df_orig.dtypes

int        int64
float    float64
dtype: object

In [15]:
row = next(df_orig.iterrows())[1]
row

int      1.0
float    1.5
Name: 0, dtype: float64

In [2]:
df = pd.DataFrame({'X' : [1, 2, 3], 'Y' : [4, 5, 6]})
print(df.to_markdown())

|    |   X |   Y |
|---:|----:|----:|
|  0 |   1 |   4 |
|  1 |   2 |   5 |
|  2 |   3 |   6 |

In [21]:
print(df.T.to_markdown())

|    |   0 |   1 |   2 |
|:---|----:|----:|----:|
| X  |   1 |   2 |   3 |
| Y  |   4 |   5 |   6 |

In [22]:
df_t = pd.DataFrame({idx: values for idx,values in df.iterrows()})
print(df_t.to_markdown())

|    |   0 |   1 |   2 |
|:---|----:|----:|----:|
| X  |   1 |   2 |   3 |
| Y  |   4 |   5 |   6 |

In [3]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, X=1, Y=4)
Pandas(Index=1, X=2, Y=5)
Pandas(Index=2, X=3, Y=6)

In [16]:
df2 = pd.DataFrame(np.random.randn(5, 3), index=['A','B','C','D','E'], columns=['a','b','c'])
print(df2.to_markdown())

|    |         a |          b |         c |
|:---|----------:|-----------:|----------:|
| A  | -0.192465 |  0.0879462 |  1.86821  |
| B  | -0.289564 | -0.81428   | -0.450477 |
| C  |  1.30744  | -1.96822   | -0.708351 |
| D  | -1.12491  |  0.62193   | -0.600519 |
| E  |  0.210696 |  0.174923  | -0.377212 |

In [15]:
for row in df2.itertuples():
    print(row)

Pandas(Index='A', a=0.6024277891709394, b=0.7023825314050832, c=-1.4592140330168373)
Pandas(Index='B', a=0.6061749075526626, b=1.3818544899961684, c=-1.1449089593234958)
Pandas(Index='C', a=0.6935515551226142, b=-0.8714477214573187, c=-0.38283972048462567)
Pandas(Index='D', a=0.2828894547390519, b=-0.26980092327972255, c=0.32057694404888515)
Pandas(Index='E', a=0.15600930560893841, b=0.3377466546133208, c=1.4363602108065132)

In [2]:
s = pd.Series(pd.date_range('20200601 20:29:31', periods=4))

In [3]:
s

0   2020-06-01 20:29:31
1   2020-06-02 20:29:31
2   2020-06-03 20:29:31
3   2020-06-04 20:29:31
dtype: datetime64[ns]

In [4]:
s.dt.hour

0    20
1    20
2    20
3    20
dtype: int64

In [5]:
s.dt.second

0    31
1    31
2    31
3    31
dtype: int64

In [6]:
s.dt.day

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
s[s.dt.day == 2]

1   2020-06-02 20:29:31
dtype: datetime64[ns]

In [8]:
stz = s.dt.tz_localize('US/Eastern')

In [9]:
stz

0   2020-06-01 20:29:31-04:00
1   2020-06-02 20:29:31-04:00
2   2020-06-03 20:29:31-04:00
3   2020-06-04 20:29:31-04:00
dtype: datetime64[ns, US/Eastern]

In [10]:
stz.dt.tz

In [12]:
s.dt.tz_localize('UTC').dt.tz_convert('US/Eastern')

0   2020-06-01 16:29:31-04:00
1   2020-06-02 16:29:31-04:00
2   2020-06-03 16:29:31-04:00
3   2020-06-04 16:29:31-04:00
dtype: datetime64[ns, US/Eastern]

In [14]:
s = pd.Series(pd.date_range('20200601', periods=4))

In [15]:
s

0   2020-06-01
1   2020-06-02
2   2020-06-03
3   2020-06-04
dtype: datetime64[ns]

In [16]:
s.dt.strftime('%Y/%m/%d')

0    2020/06/01
1    2020/06/02
2    2020/06/03
3    2020/06/04
dtype: object

In [17]:
s = pd.Series(pd.period_range('20200601', periods=4))

In [18]:
s

0    2020-06-01
1    2020-06-02
2    2020-06-03
3    2020-06-04
dtype: period[D]

In [19]:
s.dt.strftime('%Y/%m/%d')

0    2020/06/01
1    2020/06/02
2    2020/06/03
3    2020/06/04
dtype: object

In [20]:
s = pd.Series(pd.period_range('20200601', periods=4, freq='D'))
s

0    2020-06-01
1    2020-06-02
2    2020-06-03
3    2020-06-04
dtype: period[D]

In [21]:
s.dt.year

0    2020
1    2020
2    2020
3    2020
dtype: int64

In [22]:
s.dt.day

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
s = pd.Series(pd.timedelta_range('1 day 00:00:05', periods=4, freq='s'))
s

0   1 days 00:00:05
1   1 days 00:00:06
2   1 days 00:00:07
3   1 days 00:00:08
dtype: timedelta64[ns]

In [24]:
s.dt.days

0    1
1    1
2    1
3    1
dtype: int64

In [25]:
s.dt.seconds

0    5
1    6
2    7
3    8
dtype: int64

In [27]:
print(s.dt.components.to_markdown())

|    |   days |   hours |   minutes |   seconds |   milliseconds |   microseconds |   nanoseconds |
|---:|-------:|--------:|----------:|----------:|---------------:|---------------:|--------------:|
|  0 |      1 |       0 |         0 |         5 |              0 |              0 |             0 |
|  1 |      1 |       0 |         0 |         6 |              0 |              0 |             0 |
|  2 |      1 |       0 |         0 |         7 |              0 |              0 |             0 |
|  3 |      1 |       0 |         0 |         8 |              0 |              0 |             0 |

In [2]:
s = pd.Series(['A','B','C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'],dtype="string")
s

0       A
1       B
2       C
3    Aaba
4    Baca
5    <NA>
6    CABA
7     dog
8     cat
dtype: string

In [3]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5    <NA>
6    caba
7     dog
8     cat
dtype: string

In [4]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5    <NA>
6    CABA
7     DOG
8     CAT
dtype: string

In [5]:
s.str.len()

0       1
1       1
2       1
3       4
4       4
5    <NA>
6       4
7       3
8       3
dtype: Int64

In [6]:
idx = pd.Index([' jack', 'jill ', ' jesse ', 'frank'])

In [7]:
idx

Index([' jack', 'jill ', ' jesse ', 'frank'], dtype='object')

In [8]:
idx.str.strip()

Index(['jack', 'jill', 'jesse', 'frank'], dtype='object')

In [9]:
idx.str.lstrip()

Index(['jack', 'jill ', 'jesse ', 'frank'], dtype='object')

In [10]:
idx.str.rstrip()

Index([' jack', 'jill', ' jesse', 'frank'], dtype='object')

In [11]:
df = pd.DataFrame(np.random.randn(3, 2),columns=[' Column A ', ' Column B '], index=range(3))

In [17]:
print(df.to_markdown())

|    |    Column A  |    Column B  |
|---:|-------------:|-------------:|
|  0 |   -0.0519944 |     0.79352  |
|  1 |    0.589757  |    -0.601026 |
|  2 |    0.382946  |     1.01586  |

In [15]:
df.columns.str.strip()

Index(['Column A', 'Column B'], dtype='object')

In [16]:
df.columns.str.lower()

Index([' column a ', ' column b '], dtype='object')

In [19]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_')
print(df.to_markdown())

|    |   column_a |   column_b |
|---:|-----------:|-----------:|
|  0 | -0.0519944 |   0.79352  |
|  1 |  0.589757  |  -0.601026 |
|  2 |  0.382946  |   1.01586  |