In [1]:
import pandas as pd
import numpy as np

In [4]:
# 인덱스 생성(시계열)
t_idx = pd.date_range('2020-01-01', periods=8, freq='M')
t_idx

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [5]:
# 시리즈 생성
s = pd.Series(np.random.randn(8),index = t_idx)
s

2020-01-31   -0.947804
2020-02-29    0.621019
2020-03-31    0.526869
2020-04-30    1.208103
2020-05-31   -0.112500
2020-06-30   -0.739076
2020-07-31    1.419800
2020-08-31   -2.781923
Freq: M, dtype: float64

In [6]:
# 데이터프레임 생성
df = pd.DataFrame({'One' : [1,2,3,4,5,6,7,8], 'Two' : [8,7,6,5,4,3,2,1,]}, index=t_idx)
df

            One  Two
2020-01-31    1    8
2020-02-29    2    7
2020-03-31    3    6
2020-04-30    4    5
2020-05-31    5    4
2020-06-30    6    3
2020-07-31    7    2
2020-08-31    8    1

In [7]:
s.head()

2020-01-31   -0.947804
2020-02-29    0.621019
2020-03-31    0.526869
2020-04-30    1.208103
2020-05-31   -0.112500
Freq: M, dtype: float64

In [8]:
s.tail(6)

2020-03-31    0.526869
2020-04-30    1.208103
2020-05-31   -0.112500
2020-06-30   -0.739076
2020-07-31    1.419800
2020-08-31   -2.781923
Freq: M, dtype: float64

In [10]:
# 시리즈 shape
s.shape

(8,)

In [11]:
# 데이터프레임 shape
df.shape

(8, 2)

In [12]:
# 인덱스 shape
t_idx.shape

(8,)

In [15]:
# 0~3번째의 행을 출력
df[:3]

            One  Two
2020-01-31    1    8
2020-02-29    2    7
2020-03-31    3    6

In [16]:
# 2~5번째의 행을 출력
df[2:5]

            One  Two
2020-03-31    3    6
2020-04-30    4    5
2020-05-31    5    4

In [17]:
# 시리즈 내부의 값
s.array

<PandasArray>
[ -0.9478040550309271,   0.6210189401447063,   0.5268690969841191,
   1.2081027538889946, -0.11250048407157869,  -0.7390759558578995,
   1.4198001438584995,   -2.781922728141299]
Length: 8, dtype: float64

In [18]:
# 시리즈 인덱스 값(시계열)
s.index.array

<DatetimeArray>
['2020-01-31 00:00:00', '2020-02-29 00:00:00', '2020-03-31 00:00:00',
 '2020-04-30 00:00:00', '2020-05-31 00:00:00', '2020-06-30 00:00:00',
 '2020-07-31 00:00:00', '2020-08-31 00:00:00']
Length: 8, dtype: datetime64[ns]

In [20]:
# to_numpy 메소드 사용
s.to_numpy()

array([-0.94780406,  0.62101894,  0.5268691 ,  1.20810275, -0.11250048,
       -0.73907596,  1.41980014, -2.78192273])

In [21]:
# np.asarray 메소드 사용
np.asarray(s)

array([-0.94780406,  0.62101894,  0.5268691 ,  1.20810275, -0.11250048,
       -0.73907596,  1.41980014, -2.78192273])

In [24]:
# 타임존을 설정한 시계열 시리즈 생성
t_s = pd.Series(pd.date_range('2020', periods=2, tz='CET'))

In [25]:
t_s

0   2020-01-01 00:00:00+01:00
1   2020-01-02 00:00:00+01:00
dtype: datetime64[ns, CET]

In [28]:
# 자료형 Object 
t_s.to_numpy(dtype=object)

array([Timestamp('2020-01-01 00:00:00+0100', tz='CET', freq='D'),
       Timestamp('2020-01-02 00:00:00+0100', tz='CET', freq='D')],
      dtype=object)

In [29]:
# 자료형 datetime64[ns]
t_s.to_numpy(dtype='datetime64[ns]')

array(['2019-12-31T23:00:00.000000000', '2020-01-01T23:00:00.000000000'],
      dtype='datetime64[ns]')

In [30]:
df.to_numpy()

array([[1, 8],
       [2, 7],
       [3, 6],
       [4, 5],
       [5, 4],
       [6, 3],
       [7, 2],
       [8, 1]])

In [34]:
# 정수, 소수, 문자형이 섞여있는 데이터프레임 생성
df2 = pd.DataFrame({'A' : [1,2,np.nan,'a'],
                   'B' : [3,4,5,6]})

In [35]:
df2

     A  B
0    1  3
1    2  4
2  NaN  5
3    a  6

In [36]:
df2.to_numpy()

array([[1, 3],
       [2, 4],
       [nan, 5],
       ['a', 6]], dtype=object)

In [37]:
# 정수와 누락값(소수)으로 구성되어 있는 데이터프레임 생성
df3 = pd.DataFrame({'A' : [1,2,np.nan,3], 
                   'B' : [4,5,6,7]})

In [38]:
df3

     A  B
0  1.0  4
1  2.0  5
2  NaN  6
3  3.0  7

In [44]:
df3.to_numpy()

array([[ 1.,  4.],
       [ 2.,  5.],
       [nan,  6.],
       [ 3.,  7.]])

In [4]:
df = pd.read_csv('../Pandas/premier_league.csv')

In [5]:
df

,home_team,away_team,home_goals,away_goals,result,season
0,TottenhamHotspur,ManchesterCity,0,0,D,2010-2011
1,AstonVilla,WestHamUnited,3,0,H,2010-2011
2,BlackburnRovers,Everton,1,0,H,2010-2011
3,BoltonWanderers,Fulham,0,0,D,2010-2011
4,Sunderland,BirminghamCity,2,2,D,2010-2011
...,...,...,...,...,...,...
3663,Liverpool,Southampton,4,0,H,NaN
3664,NewcastleUnited,NorwichCity,0,0,D,NaN
3665,Watford,Everton,2,3,A,NaN
3666,WestHamUnited,BrightonandHoveAlbion,3,3,D,NaN
3667,ManchesterUnited,WolverhamptonWanderers,0,0,D,NaN

In [11]:
import bottleneck as bn
import time

In [12]:
start = time.time() # 시작시간 측정
print(bn.nanmean(df['home_goals']), time.time() - start)

1.5517993456924755 0.0002181529998779297

In [15]:
start = time.time() # 시작시간 측정
print(np.nanmean(df['home_goals']), time.time() - start)

1.5517993456924755 0.00026988983154296875

In [2]:
df = pd.DataFrame({'One' : pd.Series(np.random.randn(4), index=['a','b','c','d']),
                    'Two' : pd.Series(np.random.randn(3), index=['a','c','d']),
                   'Three' : pd.Series(np.random.randn(3), index=['b','c','d'])})

In [17]:
df

        One       Two     Three
a  1.008765 -0.175352       NaN
b  1.748897       NaN  0.624603
c  1.078679 -0.866894 -0.950405
d -1.573860  0.170444  0.322723

In [18]:
# 연산을 할 시리즈 생성(데이터프레임에서 한 행을 추출)
row = df.iloc[1]

In [19]:
row

One      1.748897
Two           NaN
Three    0.624603
Name: b, dtype: float64

In [20]:
df.sub(row, axis='columns')

        One  Two     Three
a -0.740132  NaN       NaN
b  0.000000  NaN  0.000000
c -0.670218  NaN -1.575008
d -3.322757  NaN -0.301881

In [22]:
df.sub(row, axis=1)

        One  Two     Three
a -0.740132  NaN       NaN
b  0.000000  NaN  0.000000
c -0.670218  NaN -1.575008
d -3.322757  NaN -0.301881

In [7]:
# 연산을 할 시리즈 생성(데이터프레임에서 한 열을 추출)
column = df['One']

In [8]:
column

a    2.371463
b   -2.182147
c   -0.555885
d   -1.374381
Name: One, dtype: float64

In [25]:
df.sub(column, axis=0)

   One       Two     Three
a  0.0 -1.184117       NaN
b  0.0       NaN -1.124294
c  0.0 -1.945573 -2.029084
d  0.0  1.744304  1.896582

In [26]:
df.sub(column, axis='index')

   One       Two     Three
a  0.0 -1.184117       NaN
b  0.0       NaN -1.124294
c  0.0 -1.945573 -2.029084
d  0.0  1.744304  1.896582

In [3]:
# 데이터프레임 사본 생성
m_df = df.copy()

In [4]:
# 멀티인덱스 생성  
m_df.index = pd.MultiIndex.from_tuples([(1,'a'),(1,'b'),(1,'c'),(2,'a')], names=['first','second'])
m_df

                   One       Two     Three
first second
1     a       2.371463  0.820267       NaN
      b      -2.182147       NaN  1.225875
      c      -0.555885 -1.185652 -0.985316
2     a      -1.374381 -0.908853 -1.045511

In [5]:
print(m_df.to_markdown())

|          |       One |        Two |      Three |
|:---------|----------:|-----------:|-----------:|
| (1, 'a') |  2.37146  |   0.820267 | nan        |
| (1, 'b') | -2.18215  | nan        |   1.22587  |
| (1, 'c') | -0.555885 |  -1.18565  |  -0.985316 |
| (2, 'a') | -1.37438  |  -0.908853 |  -1.04551  |

In [11]:
m_dfs = m_df.sub(column, axis=0, level='second')

                   One       Two     Three
first second
1     a       0.000000 -1.551196       NaN
      b       0.000000       NaN  3.408022
      c       0.000000 -0.629766 -0.429430
2     a      -3.745844 -3.280316 -3.416973

In [10]:
print(m_dfs.to_markdown())

|          |      One |        Two |     Three |
|:---------|---------:|-----------:|----------:|
| (1, 'a') |  0       |  -1.5512   | nan       |
| (1, 'b') |  0       | nan        |   3.40802 |
| (1, 'c') |  0       |  -0.629766 |  -0.42943 |
| (2, 'a') | -3.74584 |  -3.28032  |  -3.41697 |

In [42]:
# 0~10까지의 정수를 원소로하는 시리즈 생성
s = pd.Series(np.arange(10))

In [43]:
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [44]:
div, rem = divmod(s, 3)

In [45]:
# s를 3으로 나눈 몫
div

0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    3
dtype: int64

In [46]:
# s를 3으로 나눈 나머지  
rem

0    0
1    1
2    2
3    0
4    1
5    2
6    0
7    1
8    2
9    0
dtype: int64

In [48]:
div, rem = divmod(s, [2,2,2,3,3,3,4,4,4,5])

In [49]:
div

0    0
1    0
2    1
3    1
4    1
5    1
6    1
7    1
8    2
9    1
dtype: int64

In [51]:
rem

0    0
1    1
2    0
3    0
4    1
5    2
6    2
7    3
8    0
9    4
dtype: int64

In [15]:
df = pd.DataFrame({'One' : {'a': 1.394981, 'b' : 0.343054, 'c' : 0.695246},
                  'Two' : {'a' : 1.772517, 'b' : 1.912123, 'c' : 1.478369, 'd' : 0.279344},
                  'Three' : {'b' : -0.050390, 'c' : 1.227435, 'd' : -0.613172}})

In [13]:
df

        One       Two     Three
a  1.394981  1.772517       NaN
b  0.343054  1.912123 -0.050390
c  0.695246  1.478369  1.227435
d       NaN  0.279344 -0.613172

In [3]:
df2 = pd.DataFrame({'One' : {'a' : 1.394981, 'b' : 0.343054, 'c' : 0.695246},
                   'Two' : {'a' : 1.772517, 'b' : 1.912123, 'c' : 1.478369, 'd' : 0.279344},
                   'Three' : {'a' : 1.000000 , 'b' : -0.050390, 'c' : 1.227435, 'd' : -0.613172}})

In [15]:
df2

        One       Two     Three
a  1.394981  1.772517  1.000000
b  0.343054  1.912123 -0.050390
c  0.695246  1.478369  1.227435
d       NaN  0.279344 -0.613172

In [20]:
print(df2.to_markdown())

|    |        One |      Two |     Three |
|:---|-----------:|---------:|----------:|
| a  |   1.39498  | 1.77252  |  1        |
| b  |   0.343054 | 1.91212  | -0.05039  |
| c  |   0.695246 | 1.47837  |  1.22744  |
| d  | nan        | 0.279344 | -0.613172 |

In [23]:
df + df2

        One       Two     Three
a  2.789962  3.545034       NaN
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [26]:
df.add(df2, fill_value=0)

        One       Two     Three
a  2.789962  3.545034  1.000000
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [29]:
df.add(df2, fill_value=1)

        One       Two     Three
a  2.789962  3.545034  2.000000
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [14]:
df.eq(df2)

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [15]:
df.ne(df2)

     One    Two  Three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [18]:
df.lt(df2)

     One    Two  Three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [7]:
df.gt(df2)

     One    Two  Three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [8]:
df.le(df2)

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [9]:
df.ge(df2)

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [19]:
(df > 0).all()

One      False
Two       True
Three    False
dtype: bool

In [20]:
(df > 0).any()

One      True
Two      True
Three    True
dtype: bool

In [22]:
(df > 0).any().any()

True

In [23]:
df.empty

False

In [24]:
pd.DataFrame(columns=list('ABC')).empty

True

In [25]:
pd.Series([True]).bool()

True

In [26]:
pd.Series([False]).bool()

False

In [28]:
pd.DataFrame([[True]]).bool()

True

In [29]:
pd.DataFrame([[False]]).bool()

False

In [43]:
bool(df.iloc[0][0])

True

In [44]:
df + df

        One       Two     Three
a  2.789962  3.545034       NaN
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [45]:
df * 2

        One       Two     Three
a  2.789962  3.545034       NaN
b  0.686108  3.824246 -0.100780
c  1.390492  2.956738  2.454870
d       NaN  0.558688 -1.226344

In [49]:
# False 끼리의 논리연산은 False를 반환한다.
df + df == df * 2

     One   Two  Three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [50]:
(df + df).equals(df * 2)

True

In [51]:
pd.Series(['One', 'Two', 'Three']) == 'Two'

0    False
1     True
2    False
dtype: bool

In [52]:
pd.Index(['Four', 'Five', 'Six']) == 'Five'

array([False,  True, False])

In [53]:
pd.Series(['One', 'Two', 'Three']) == pd.Index(['One', 'Five', 'Six'])

0     True
1    False
2    False
dtype: bool

In [54]:
pd.Series(['One', 'Two', 'Three']) == np.array(['One', 'Five', 'Six'])

0     True
1    False
2    False
dtype: bool

In [56]:
np.array([1,2,3]) == np.array([1])

array([ True, False, False])

In [2]:
df1 = pd.DataFrame({'A' : [1., np.nan, 3., 5., np.nan],
                   'B' : [np.nan, 2., 3., np.nan, 6.]})

In [8]:
print(df1.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   1 | nan |
|  1 | nan |   2 |
|  2 |   3 |   3 |
|  3 |   5 | nan |
|  4 | nan |   6 |

In [4]:
df2 = pd.DataFrame({'A' : [5., 2., 4., np.nan, 3., 7.],
                   'B' : [np.nan, np.nan, 3., 4., 6., 8.]})

In [9]:
print(df2.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   5 | nan |
|  1 |   2 | nan |
|  2 |   4 |   3 |
|  3 | nan |   4 |
|  4 |   3 |   6 |
|  5 |   7 |   8 |

In [10]:
a = df1.combine_first(df2)

In [11]:
print(a.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   1 | nan |
|  1 |   2 |   2 |
|  2 |   3 |   3 |
|  3 |   5 |   4 |
|  4 |   3 |   6 |
|  5 |   7 |   8 |

In [12]:
b = df2.combine_first(df1)

In [13]:
print(b.to_markdown())

|    |   A |   B |
|---:|----:|----:|
|  0 |   5 | nan |
|  1 |   2 |   2 |
|  2 |   4 |   3 |
|  3 |   5 |   4 |
|  4 |   3 |   6 |
|  5 |   7 |   8 |

In [17]:
print(df.to_markdown())

|    |        One |      Two |      Three |
|:---|-----------:|---------:|-----------:|
| a  |   1.39498  | 1.77252  | nan        |
| b  |   0.343054 | 1.91212  |  -0.05039  |
| c  |   0.695246 | 1.47837  |   1.22744  |
| d  | nan        | 0.279344 |  -0.613172 |

In [18]:
df.mean(0)

One      0.811094
Two      1.360588
Three    0.187958
dtype: float64

In [19]:
df.mean(1)

a    1.583749
b    0.734929
c    1.133683
d   -0.166914
dtype: float64

In [21]:
df.sum(0, skipna=False)

One           NaN
Two      5.442353
Three         NaN
dtype: float64

In [22]:
df.sum(axis=1, skipna=True)

a    3.167498
b    2.204787
c    3.401050
d   -0.333828
dtype: float64

In [23]:
ts_stand = (df - df.mean(0)) / df.std()

In [24]:
ts_stand.std()

One      1.0
Two      1.0
Three    1.0
dtype: float64

In [25]:
xs_stand = df.sub(df.mean(1), axis=0).div(df.std(1), axis=0)

In [26]:
xs_stand

        One       Two     Three
a -0.707107  0.707107       NaN
b -0.377425  1.133785 -0.756361
c -1.096393  0.861950  0.234443
d       NaN  0.707107 -0.707107

In [29]:
print(xs_stand.to_markdown())

|    |        One |      Two |      Three |
|:---|-----------:|---------:|-----------:|
| a  |  -0.707107 | 0.707107 | nan        |
| b  |  -0.377425 | 1.13379  |  -0.756361 |
| c  |  -1.09639  | 0.86195  |   0.234443 |
| d  | nan        | 0.707107 |  -0.707107 |

In [28]:
xs_stand.std(1)

a    1.0
b    1.0
c    1.0
d    1.0
dtype: float64

In [33]:
df.cumsum()

        One       Two     Three
a  1.394981  1.772517       NaN
b  1.738035  3.684640 -0.050390
c  2.433281  5.163009  1.177045
d       NaN  5.442353  0.563873

In [36]:
np.mean(df['One'])

0.8110936666666667

In [38]:
np.mean(df['One'].to_numpy())

nan

In [39]:
Series = pd.Series(np.random.randn(500))

In [41]:
Series[20:200] = np.nan

In [42]:
Series[10:20] = 5

In [43]:
Series.nunique()

311

In [44]:
series = pd.Series(np.random.randn(1000))

In [45]:
series[::2] = np.nan

In [47]:
series.describe()

count    500.000000
mean      -0.104046
std        0.973392
min       -3.459899
25%       -0.705669
50%       -0.057655
75%        0.559557
max        3.115283
dtype: float64

In [48]:
df = pd.DataFrame(np.random.randn(1000,5), columns=['a','b','c','d','e'])

In [50]:
df.iloc[::2] = np.nan

In [52]:
a = df.describe()

In [53]:
print(a.to_markdown())

|       |           a |           b |           c |           d |           e |
|:------|------------:|------------:|------------:|------------:|------------:|
| count | 500         | 500         | 500         | 500         | 500         |
| mean  |  -0.0098391 |  -0.0217725 |  -0.0133153 |   0.0329154 |   0.0208793 |
| std   |   1.04484   |   1.02411   |   1.03689   |   0.991465  |   1.01293   |
| min   |  -3.15347   |  -2.56002   |  -2.98677   |  -2.66778   |  -2.99676   |
| 25%   |  -0.736796  |  -0.682348  |  -0.716998  |  -0.616957  |  -0.754231  |
| 50%   |   0.0153571 |  -0.124131  |  -0.0624372 |   0.0335433 |   0.0098666 |
| 75%   |   0.683469  |   0.678965  |   0.686431  |   0.705677  |   0.736733  |
| max   |   3.26103   |   3.05544   |   3.11557   |   3.24525   |   2.79697   |

In [54]:
series.describe(percentiles=[.05, .25, .75, .95])

count    500.000000
mean      -0.104046
std        0.973392
min       -3.459899
5%        -1.804095
25%       -0.705669
50%       -0.057655
75%        0.559557
95%        1.402325
max        3.115283
dtype: float64

In [55]:
s = pd.Series(['a','a','a','b','b',np.nan,'c','d','a'])

In [56]:
s.describe()

count     8
unique    4
top       a
freq      4
dtype: object

In [57]:
df = pd.DataFrame({'a' : ['Yes','Yes','No','No'], 'b' : range(4)})

In [61]:
df.describe()

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [68]:
df.describe(include=['object'])

         a
count    4
unique   2
top     No
freq     2

In [71]:
df.describe(include=['number'])

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [74]:
df.describe(include='all')

          a         b
count     4  4.000000
unique    2       NaN
top      No       NaN
freq      2       NaN
mean    NaN  1.500000
std     NaN  1.290994
min     NaN  0.000000
25%     NaN  0.750000
50%     NaN  1.500000
75%     NaN  2.250000
max     NaN  3.000000

In [75]:
s1 = pd.Series(np.random.randn(5))

In [76]:
s1

0    0.013833
1    1.375255
2   -0.261117
3   -1.300798
4    0.550127
dtype: float64

In [77]:
s1.idxmin(), s1.idxmax()

(3, 1)

In [78]:
df1 = pd.DataFrame(np.random.randn(5, 3), columns=['A','B','C'])

In [80]:
print(df1.to_markdown())

|    |          A |         B |         C |
|---:|-----------:|----------:|----------:|
|  0 | -0.307946  |  0.96568  |  0.854274 |
|  1 | -0.734701  | -0.763467 |  0.805104 |
|  2 |  0.0317531 |  0.494293 | -0.720657 |
|  3 |  2.08982   |  0.295745 |  1.1382   |
|  4 |  0.260457  |  0.785826 |  0.109045 |

In [81]:
df1.idxmin(axis=0)

A    1
B    1
C    2
dtype: int64

In [82]:
df1.idxmax(axis=1)

0    B
1    C
2    B
3    A
4    B
dtype: object

In [83]:
df3 = pd.DataFrame([2, 1, 1, 3, np.nan], columns=['A'], index=list('edcba'))

In [85]:
print(df3.to_markdown())

|    |   A |
|:---|----:|
| e  |   2 |
| d  |   1 |
| c  |   1 |
| b  |   3 |
| a  | nan |

In [86]:
df3['A'].idxmin()

'd'

In [87]:
data = np.random.randint(0, 7, size=50)

In [88]:
data

array([5, 3, 6, 1, 4, 1, 3, 0, 0, 3, 2, 4, 5, 3, 1, 4, 6, 2, 2, 1, 5, 6,
       6, 0, 0, 4, 6, 5, 1, 4, 6, 3, 1, 3, 4, 6, 0, 4, 3, 6, 3, 6, 2, 2,
       1, 2, 5, 3, 0, 4])

In [89]:
s = pd.Series(data)

In [90]:
s.value_counts()

6    9
3    9
4    8
1    7
2    6
0    6
5    5
dtype: int64

In [92]:
pd.value_counts(data)

6    9
3    9
4    8
1    7
2    6
0    6
5    5
dtype: int64

In [93]:
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])

In [94]:
s5.mode()

0    3
1    7
dtype: int64

In [95]:
df5 = pd.DataFrame({"A": np.random.randint(0, 7, size=50),
               "B": np.random.randint(-10, 15, size=50)})

In [98]:
df5.mode()

   A  B
0  1  3

In [99]:
arr = np.random.randn(20)

In [100]:
arr

array([-0.99357841,  1.57974431, -0.60909831, -1.36768082, -0.7160791 ,
       -0.02279333, -0.39298072, -1.45827772, -0.02566391,  0.92865122,
        0.82623857,  1.41247274,  1.16325227,  0.92048371, -1.81958929,
        0.73825483, -0.28654464,  1.06215868, -1.01476624,  0.31787862])

In [101]:
factor = pd.cut(arr, 4)

In [102]:
factor

[(-1.823, -0.97], (0.73, 1.58], (-0.97, -0.12], (-1.823, -0.97], (-0.97, -0.12], ..., (0.73, 1.58], (-0.97, -0.12], (0.73, 1.58], (-1.823, -0.97], (-0.12, 0.73]]
Length: 20
Categories (4, interval[float64]): [(-1.823, -0.97] < (-0.97, -0.12] < (-0.12, 0.73] < (0.73, 1.58]]

In [103]:
factor = pd.cut(arr, [-5, -1, 0, 1, 5])

In [104]:
factor

[(-1, 0], (1, 5], (-1, 0], (-5, -1], (-1, 0], ..., (0, 1], (-1, 0], (1, 5], (-5, -1], (0, 1]]
Length: 20
Categories (4, interval[int64]): [(-5, -1] < (-1, 0] < (0, 1] < (1, 5]]

In [105]:
arr = np.random.randn(30)

In [106]:
arr

array([ 1.15079381,  0.49939784, -0.15594853, -0.5517254 , -0.23522974,
       -1.69728499, -0.80471605, -0.72416246,  0.79870411,  1.28311701,
       -0.26005877,  0.4855533 ,  0.49194232, -1.89062664, -0.43397157,
        0.77145788, -0.32865781,  0.36810471, -1.76766844, -0.74308291,
       -0.05939578,  1.55420964, -0.82908721,  0.92783387,  0.55435694,
        0.10418023,  0.3697685 , -0.39919188,  1.13068469, -0.15891597])

In [107]:
factor = pd.qcut(arr, [0, .25, .5, .75, 1])

In [108]:
factor

[(0.541, 1.554], (-0.108, 0.541], (-0.522, -0.108], (-1.892, -0.522], (-0.522, -0.108], ..., (-0.108, 0.541], (-0.108, 0.541], (-0.522, -0.108], (0.541, 1.554], (-0.522, -0.108]]
Length: 30
Categories (4, interval[float64]): [(-1.892, -0.522] < (-0.522, -0.108] < (-0.108, 0.541] < (0.541, 1.554]]

In [109]:
pd.value_counts(factor)

(0.541, 1.554]      8
(-1.892, -0.522]    8
(-0.108, 0.541]     7
(-0.522, -0.108]    7
dtype: int64

In [110]:
arr = np.random.randn(20)

In [111]:
factor = pd.cut(arr, [-np.inf, 0, np.inf])

In [112]:
factor

[(0.0, inf], (0.0, inf], (0.0, inf], (-inf, 0.0], (-inf, 0.0], ..., (-inf, 0.0], (0.0, inf], (0.0, inf], (0.0, inf], (-inf, 0.0]]
Length: 20
Categories (2, interval[float64]): [(-inf, 0.0] < (0.0, inf]]

In [3]:
df = pd.read_csv('premier_league.csv')
df

,home_team,away_team,home_goals,away_goals,result,season
0,TottenhamHotspur,ManchesterCity,0,0,D,2010-2011
1,AstonVilla,WestHamUnited,3,0,H,2010-2011
2,BlackburnRovers,Everton,1,0,H,2010-2011
3,BoltonWanderers,Fulham,0,0,D,2010-2011
4,Sunderland,BirminghamCity,2,2,D,2010-2011
...,...,...,...,...,...,...
3663,Liverpool,Southampton,4,0,H,NaN
3664,NewcastleUnited,NorwichCity,0,0,D,NaN
3665,Watford,Everton,2,3,A,NaN
3666,WestHamUnited,BrightonandHoveAlbion,3,3,D,NaN
3667,ManchesterUnited,WolverhamptonWanderers,0,0,D,NaN

In [10]:
def extract_city_name(df):
    df['city_name'] = df['city_and_code'].str.split(",").str.get(0)
    return df

def add_country_name(df, country_name = None):
    col = 'city_name'
    df['city_and_country'] = df[col] + country_name
    return df

df_p = pd.DataFrame({'city_and_code' : ['Chicago, IL']})

In [14]:
tmp = add_country_name(extract_city_name(df_p), country_name='US')
print(tmp.to_markdown())

|    | city_and_code   | city_name   | city_and_country   |
|---:|:----------------|:------------|:-------------------|
|  0 | Chicago, IL     | Chicago     | ChicagoUS          |

In [15]:
tmp = (df_p.pipe(extract_city_name)
     .pipe(add_country_name, country_name='US'))
print(tmp.to_markdown())

|    | city_and_code   | city_name   | city_and_country   |
|---:|:----------------|:------------|:-------------------|
|  0 | Chicago, IL     | Chicago     | ChicagoUS          |

In [18]:
df['home_goals'].apply(np.mean)

0       0.0
1       3.0
2       1.0
3       0.0
4       2.0
       ...
3663    4.0
3664    0.0
3665    2.0
3666    3.0
3667    0.0
Name: home_goals, Length: 3668, dtype: float64

In [32]:
df.apply('mean')

home_goals    1.551799
away_goals    1.198201
dtype: float64

In [43]:
tsdf = pd.DataFrame(np.random.randn(1000, 3), columns=['A','B','C'],
                   index=pd.date_range('1/1/2000', periods=1000))

tsdf.apply(lambda x : x.idxmax())

A   2001-11-28
B   2000-04-24
C   2002-08-15
dtype: datetime64[ns]

In [48]:
def subtract_and_divide(x, sub, divide = 1):
    return (x-sub) / divide

tmp = tsdf.apply(subtract_and_divide, args=(5,), divide=3)
print(tmp.to_markdown())

|                     |         A |         B |         C |
|:--------------------|----------:|----------:|----------:|
| 2000-01-01 00:00:00 | -1.745    | -1.67402  | -1.93762  |
| 2000-01-02 00:00:00 | -1.85958  | -2.01404  | -1.34984  |
| 2000-01-03 00:00:00 | -1.34948  | -1.62634  | -1.2855   |
| 2000-01-04 00:00:00 | -1.8898   | -1.89961  | -1.82673  |
| 2000-01-05 00:00:00 | -0.839412 | -1.496    | -1.11361  |
| 2000-01-06 00:00:00 | -1.9484   | -1.62996  | -1.20595  |
| 2000-01-07 00:00:00 | -1.24549  | -1.12449  | -1.33754  |
| 2000-01-08 00:00:00 | -1.6188   | -1.83663  | -1.88883  |
| 2000-01-09 00:00:00 | -1.56541  | -1.88771  | -1.12292  |
| 2000-01-10 00:00:00 | -1.78074  | -1.80143  | -1.73056  |
| 2000-01-11 00:00:00 | -1.37461  | -1.61463  | -1.79432  |
| 2000-01-12 00:00:00 | -1.82991  | -1.59375  | -2.16066  |
| 2000-01-13 00:00:00 | -1.45812  | -1.41979  | -1.98306  |
| 2000-01-14 00:00:00 | -1.56264  | -1.48197  | -1.71941  |
| 2000-01-15 00:00:00 | -2.12301  | -1.8444   | -2.21301  |
| 2000-01-16 00:00:00 | -1.84389  | -1.62153  | -1.8379   |
| 2000-01-17 00:00:00 | -1.79762  | -1.85483  | -1.62741  |
| 2000-01-18 00:00:00 | -1.95687  | -1.73154  | -1.76231  |
| 2000-01-19 00:00:00 | -1.3925   | -2.10242  | -1.61149  |
| 2000-01-20 00:00:00 | -1.22809  | -1.71693  | -1.80094  |
| 2000-01-21 00:00:00 | -1.76311  | -1.7304   | -2.09944  |
| 2000-01-22 00:00:00 | -1.53475  | -1.8551   | -2.12612  |
| 2000-01-23 00:00:00 | -1.66607  | -1.77555  | -1.79339  |
| 2000-01-24 00:00:00 | -1.47313  | -1.7141   | -1.60731  |
| 2000-01-25 00:00:00 | -1.46086  | -1.69204  | -2.03977  |
| 2000-01-26 00:00:00 | -1.63836  | -1.48484  | -1.37765  |
| 2000-01-27 00:00:00 | -1.79447  | -2.13716  | -1.98398  |
| 2000-01-28 00:00:00 | -1.52138  | -2.51282  | -1.28051  |
| 2000-01-29 00:00:00 | -1.52484  | -1.52007  | -1.74073  |
| 2000-01-30 00:00:00 | -1.99677  | -2.14451  | -1.36388  |
| 2000-01-31 00:00:00 | -0.977162 | -1.25513  | -1.43009  |
| 2000-02-01 00:00:00 | -1.95603  | -1.50601  | -1.47635  |
| 2000-02-02 00:00:00 | -1.70972  | -1.43825  | -1.80445  |
| 2000-02-03 00:00:00 | -2.08473  | -2.27771  | -1.69108  |
| 2000-02-04 00:00:00 | -1.12299  | -1.75778  | -2.23963  |
| 2000-02-05 00:00:00 | -1.44742  | -1.54019  | -1.9477   |
| 2000-02-06 00:00:00 | -2.01991  | -1.21159  | -1.66751  |
| 2000-02-07 00:00:00 | -2.03187  | -1.08615  | -2.034    |
| 2000-02-08 00:00:00 | -2.06407  | -2.25407  | -1.79319  |
| 2000-02-09 00:00:00 | -1.57335  | -1.72677  | -2.19897  |
| 2000-02-10 00:00:00 | -1.05963  | -1.82981  | -1.66876  |
| 2000-02-11 00:00:00 | -1.19206  | -1.7417   | -1.76014  |
| 2000-02-12 00:00:00 | -2.36789  | -1.44297  | -1.41275  |
| 2000-02-13 00:00:00 | -2.20078  | -1.96605  | -2.05246  |
| 2000-02-14 00:00:00 | -1.87886  | -1.62162  | -1.47354  |
| 2000-02-15 00:00:00 | -2.34768  | -1.70278  | -1.95657  |
| 2000-02-16 00:00:00 | -2.27418  | -1.68667  | -2.23706  |
| 2000-02-17 00:00:00 | -2.22273  | -1.27761  | -1.54911  |
| 2000-02-18 00:00:00 | -1.51697  | -1.32321  | -1.82147  |
| 2000-02-19 00:00:00 | -1.17432  | -1.1948   | -1.90614  |
| 2000-02-20 00:00:00 | -1.53366  | -1.23644  | -1.56483  |
| 2000-02-21 00:00:00 | -1.27521  | -2.45167  | -2.0151   |
| 2000-02-22 00:00:00 | -1.8225   | -1.80615  | -1.44414  |
| 2000-02-23 00:00:00 | -2.29354  | -1.5083   | -1.31242  |
| 2000-02-24 00:00:00 | -1.96264  | -1.38056  | -1.7705   |
| 2000-02-25 00:00:00 | -1.06567  | -1.76069  | -2.07748  |
| 2000-02-26 00:00:00 | -1.14538  | -2.28035  | -1.82773  |
| 2000-02-27 00:00:00 | -1.80057  | -1.36081  | -1.45006  |
| 2000-02-28 00:00:00 | -1.82697  | -1.81348  | -1.6648   |
| 2000-02-29 00:00:00 | -1.46486  | -1.47196  | -1.64332  |
| 2000-03-01 00:00:00 | -1.63148  | -1.04058  | -1.71893  |
| 2000-03-02 00:00:00 | -1.46542  | -1.64089  | -2.14047  |
| 2000-03-03 00:00:00 | -1.14225  | -1.17689  | -1.78066  |
| 2000-03-04 00:00:00 | -1.37379  | -1.65943  | -1.51106  |
| 2000-03-05 00:00:00 | -1.85604  | -1.40793  | -1.762    |
| 2000-03-06 00:00:00 | -1.80353  | -1.727    | -1.41469  |
| 2000-03-07 00:00:00 | -1.85322  | -1.725    | -2.28935  |
| 2000-03-08 00:00:00 | -1.77069  | -1.39523  | -1.69717  |
| 2000-03-09 00:00:00 | -1.49456  | -1.72968  | -2.43801  |
| 2000-03-10 00:00:00 | -1.66231  | -1.23193  | -1.73537  |
| 2000-03-11 00:00:00 | -1.71071  | -1.34652  | -1.70071  |
| 2000-03-12 00:00:00 | -1.55442  | -1.76613  | -1.83492  |
| 2000-03-13 00:00:00 | -1.58516  | -1.3652   | -1.57334  |
| 2000-03-14 00:00:00 | -1.96899  | -1.86814  | -1.44476  |
| 2000-03-15 00:00:00 | -1.58237  | -1.48786  | -1.67858  |
| 2000-03-16 00:00:00 | -1.32011  | -1.47785  | -1.0354   |
| 2000-03-17 00:00:00 | -1.53563  | -2.10099  | -1.12555  |
| 2000-03-18 00:00:00 | -1.40085  | -1.51778  | -1.50675  |
| 2000-03-19 00:00:00 | -1.16807  | -1.10226  | -1.65126  |
| 2000-03-20 00:00:00 | -2.29812  | -1.73949  | -1.90277  |
| 2000-03-21 00:00:00 | -1.76833  | -1.97326  | -1.4774   |
| 2000-03-22 00:00:00 | -1.83969  | -0.955867 | -1.93591  |
| 2000-03-23 00:00:00 | -1.6557   | -1.6114   | -1.70122  |
| 2000-03-24 00:00:00 | -1.94994  | -2.0562   | -1.85059  |
| 2000-03-25 00:00:00 | -1.96055  | -1.81878  | -1.72959  |
| 2000-03-26 00:00:00 | -1.06939  | -2.13894  | -1.93642  |
| 2000-03-27 00:00:00 | -1.58458  | -1.70589  | -1.81693  |
| 2000-03-28 00:00:00 | -1.27875  | -1.60523  | -1.43125  |
| 2000-03-29 00:00:00 | -1.00077  | -1.70504  | -1.51735  |
| 2000-03-30 00:00:00 | -1.89327  | -1.16586  | -1.30418  |
| 2000-03-31 00:00:00 | -2.15424  | -1.51107  | -2.19249  |
| 2000-04-01 00:00:00 | -1.93505  | -2.50036  | -1.23363  |
| 2000-04-02 00:00:00 | -1.55553  | -1.97951  | -1.88071  |
| 2000-04-03 00:00:00 | -1.03031  | -1.14164  | -1.50728  |
| 2000-04-04 00:00:00 | -1.32952  | -1.87298  | -2.02107  |
| 2000-04-05 00:00:00 | -1.96577  | -0.766564 | -1.75503  |
| 2000-04-06 00:00:00 | -1.65167  | -1.05405  | -2.06135  |
| 2000-04-07 00:00:00 | -1.88552  | -1.8586   | -1.98949  |
| 2000-04-08 00:00:00 | -1.42963  | -1.84401  | -1.70943  |
| 2000-04-09 00:00:00 | -1.61089  | -1.38366  | -1.11333  |
| 2000-04-10 00:00:00 | -1.96456  | -1.73358  | -1.92971  |
| 2000-04-11 00:00:00 | -1.31823  | -1.60374  | -1.82718  |
| 2000-04-12 00:00:00 | -1.8917   | -1.44223  | -2.02369  |
| 2000-04-13 00:00:00 | -1.63176  | -1.64486  | -1.36689  |
| 2000-04-14 00:00:00 | -1.77038  | -1.63678  | -1.84257  |
| 2000-04-15 00:00:00 | -1.86046  | -1.34492  | -1.5254   |
| 2000-04-16 00:00:00 | -1.35031  | -1.64151  | -2.07978  |
| 2000-04-17 00:00:00 | -1.92225  | -1.31977  | -1.84868  |
| 2000-04-18 00:00:00 | -1.51012  | -1.71554  | -1.9465   |
| 2000-04-19 00:00:00 | -1.66408  | -1.87811  | -1.85866  |
| 2000-04-20 00:00:00 | -1.1746   | -1.89012  | -1.81795  |
| 2000-04-21 00:00:00 | -1.6915   | -1.82087  | -1.64076  |
| 2000-04-22 00:00:00 | -1.74804  | -1.73878  | -1.09424  |
| 2000-04-23 00:00:00 | -1.76283  | -1.55662  | -1.84748  |
| 2000-04-24 00:00:00 | -1.51459  | -0.510356 | -1.73078  |
| 2000-04-25 00:00:00 | -1.14243  | -2.49161  | -2.12595  |
| 2000-04-26 00:00:00 | -1.71902  | -1.52324  | -2.00793  |
| 2000-04-27 00:00:00 | -2.00382  | -1.2147   | -1.20393  |
| 2000-04-28 00:00:00 | -1.95385  | -0.542216 | -1.38032  |
| 2000-04-29 00:00:00 | -2.24307  | -1.68267  | -1.65226  |
| 2000-04-30 00:00:00 | -1.86054  | -1.7816   | -2.26111  |
| 2000-05-01 00:00:00 | -1.16132  | -1.51465  | -1.58466  |
| 2000-05-02 00:00:00 | -1.50461  | -1.79938  | -1.56966  |
| 2000-05-03 00:00:00 | -1.88418  | -2.39914  | -1.67771  |
| 2000-05-04 00:00:00 | -1.94585  | -1.30299  | -1.69986  |
| 2000-05-05 00:00:00 | -1.72851  | -1.84629  | -1.48072  |
| 2000-05-06 00:00:00 | -1.47645  | -1.6463   | -1.5722   |
| 2000-05-07 00:00:00 | -1.66554  | -1.61804  | -1.70191  |
| 2000-05-08 00:00:00 | -1.6209   | -1.65863  | -1.93226  |
| 2000-05-09 00:00:00 | -2.01524  | -1.83867  | -1.11983  |
| 2000-05-10 00:00:00 | -1.3492   | -1.19518  | -1.95891  |
| 2000-05-11 00:00:00 | -1.66617  | -1.43465  | -1.20521  |
| 2000-05-12 00:00:00 | -1.76049  | -0.967712 | -1.61388  |
| 2000-05-13 00:00:00 | -1.60772  | -1.92901  | -2.05543  |
| 2000-05-14 00:00:00 | -1.6674   | -1.92248  | -1.28945  |
| 2000-05-15 00:00:00 | -1.73852  | -1.17392  | -1.91521  |
| 2000-05-16 00:00:00 | -1.70309  | -1.28072  | -2.50373  |
| 2000-05-17 00:00:00 | -2.13615  | -1.25059  | -2.31289  |
| 2000-05-18 00:00:00 | -1.70021  | -1.98093  | -1.91131  |
| 2000-05-19 00:00:00 | -1.94539  | -1.98208  | -2.51162  |
| 2000-05-20 00:00:00 | -2.28434  | -1.72631  | -1.56718  |
| 2000-05-21 00:00:00 | -1.47388  | -1.6466   | -2.2837   |
| 2000-05-22 00:00:00 | -1.14988  | -1.17814  | -1.49429  |
| 2000-05-23 00:00:00 | -1.18874  | -1.72619  | -1.7806   |
| 2000-05-24 00:00:00 | -1.29091  | -1.95739  | -1.41834  |
| 2000-05-25 00:00:00 | -1.54237  | -1.54033  | -1.61298  |
| 2000-05-26 00:00:00 | -1.93933  | -1.74389  | -1.46998  |
| 2000-05-27 00:00:00 | -1.41845  | -2.00947  | -1.54467  |
| 2000-05-28 00:00:00 | -1.86595  | -1.43387  | -1.60906  |
| 2000-05-29 00:00:00 | -1.87561  | -1.64389  | -2.07073  |
| 2000-05-30 00:00:00 | -1.09557  | -1.10023  | -1.46835  |
| 2000-05-31 00:00:00 | -1.20208  | -1.78469  | -1.52645  |
| 2000-06-01 00:00:00 | -1.94417  | -1.66264  | -2.14143  |
| 2000-06-02 00:00:00 | -1.71737  | -1.42823  | -1.80344  |
| 2000-06-03 00:00:00 | -1.69352  | -1.57925  | -1.94134  |
| 2000-06-04 00:00:00 | -1.96962  | -1.98221  | -1.59801  |
| 2000-06-05 00:00:00 | -2.22725  | -1.99487  | -1.71101  |
| 2000-06-06 00:00:00 | -1.99992  | -1.68193  | -1.80317  |
| 2000-06-07 00:00:00 | -1.05353  | -1.8761   | -1.76697  |
| 2000-06-08 00:00:00 | -1.32193  | -0.93413  | -1.76614  |
| 2000-06-09 00:00:00 | -1.30897  | -1.28276  | -1.45032  |
| 2000-06-10 00:00:00 | -1.65238  | -1.18411  | -1.11217  |
| 2000-06-11 00:00:00 | -1.59557  | -1.97926  | -1.60263  |
| 2000-06-12 00:00:00 | -0.86375  | -1.44467  | -1.17307  |
| 2000-06-13 00:00:00 | -2.20001  | -1.34951  | -1.10666  |
| 2000-06-14 00:00:00 | -1.76006  | -1.41543  | -2.16349  |
| 2000-06-15 00:00:00 | -1.40858  | -1.40443  | -2.16144  |
| 2000-06-16 00:00:00 | -1.54178  | -1.32584  | -1.74076  |
| 2000-06-17 00:00:00 | -1.83344  | -1.192    | -2.18096  |
| 2000-06-18 00:00:00 | -1.21201  | -1.2979   | -1.22482  |
| 2000-06-19 00:00:00 | -1.97091  | -1.80479  | -2.20396  |
| 2000-06-20 00:00:00 | -2.05558  | -1.90431  | -1.94582  |
| 2000-06-21 00:00:00 | -1.69517  | -1.6024   | -1.89552  |
| 2000-06-22 00:00:00 | -2.21121  | -1.74087  | -1.94219  |
| 2000-06-23 00:00:00 | -1.81831  | -1.1458   | -1.89082  |
| 2000-06-24 00:00:00 | -2.1652   | -1.62423  | -1.63147  |
| 2000-06-25 00:00:00 | -1.84662  | -1.8025   | -2.03142  |
| 2000-06-26 00:00:00 | -0.715851 | -1.95343  | -1.37536  |
| 2000-06-27 00:00:00 | -2.10139  | -2.20478  | -2.09299  |
| 2000-06-28 00:00:00 | -1.8629   | -1.94325  | -1.09434  |
| 2000-06-29 00:00:00 | -2.28592  | -1.66107  | -1.69079  |
| 2000-06-30 00:00:00 | -1.09753  | -1.64475  | -1.72827  |
| 2000-07-01 00:00:00 | -1.93811  | -1.78226  | -1.64672  |
| 2000-07-02 00:00:00 | -2.16219  | -1.63519  | -1.97627  |
| 2000-07-03 00:00:00 | -1.77896  | -1.29626  | -1.85887  |
| 2000-07-04 00:00:00 | -1.83983  | -1.66245  | -1.63976  |
| 2000-07-05 00:00:00 | -2.14539  | -1.83243  | -1.92148  |
| 2000-07-06 00:00:00 | -2.15685  | -1.91501  | -1.69214  |
| 2000-07-07 00:00:00 | -1.55373  | -2.12449  | -1.36577  |
| 2000-07-08 00:00:00 | -1.53708  | -1.78522  | -1.72864  |
| 2000-07-09 00:00:00 | -1.54056  | -1.95407  | -1.01228  |
| 2000-07-10 00:00:00 | -1.5661   | -2.06005  | -1.57347  |
| 2000-07-11 00:00:00 | -1.40108  | -1.90338  | -2.16536  |
| 2000-07-12 00:00:00 | -2.10524  | -1.40163  | -1.14638  |
| 2000-07-13 00:00:00 | -1.9526   | -1.12406  | -1.13352  |
| 2000-07-14 00:00:00 | -1.78712  | -1.24235  | -1.40211  |
| 2000-07-15 00:00:00 | -1.83108  | -1.6174   | -1.53205  |
| 2000-07-16 00:00:00 | -1.65445  | -1.2571   | -1.82553  |
| 2000-07-17 00:00:00 | -1.72637  | -1.59815  | -1.67712  |
| 2000-07-18 00:00:00 | -1.86192  | -1.91962  | -1.69059  |
| 2000-07-19 00:00:00 | -1.76747  | -1.85546  | -1.76898  |
| 2000-07-20 00:00:00 | -1.56445  | -1.82854  | -1.21822  |
| 2000-07-21 00:00:00 | -1.67174  | -1.6193   | -1.38237  |
| 2000-07-22 00:00:00 | -0.987829 | -2.07131  | -1.63279  |
| 2000-07-23 00:00:00 | -1.47051  | -0.843689 | -1.67281  |
| 2000-07-24 00:00:00 | -2.09094  | -1.86383  | -2.30079  |
| 2000-07-25 00:00:00 | -1.71278  | -1.99382  | -1.51499  |
| 2000-07-26 00:00:00 | -1.95988  | -1.29495  | -1.48383  |
| 2000-07-27 00:00:00 | -1.57109  | -1.69006  | -2.38981  |
| 2000-07-28 00:00:00 | -1.6461   | -1.74611  | -1.08156  |
| 2000-07-29 00:00:00 | -1.46887  | -1.72186  | -1.96579  |
| 2000-07-30 00:00:00 | -1.41614  | -0.923099 | -1.97708  |
| 2000-07-31 00:00:00 | -2.4156   | -0.96834  | -1.44057  |
| 2000-08-01 00:00:00 | -1.65557  | -1.48604  | -2.08849  |
| 2000-08-02 00:00:00 | -2.08369  | -1.87997  | -1.92188  |
| 2000-08-03 00:00:00 | -1.77469  | -1.60824  | -1.75798  |
| 2000-08-04 00:00:00 | -0.736915 | -1.23267  | -1.65957  |
| 2000-08-05 00:00:00 | -1.3972   | -2.0621   | -1.63584  |
| 2000-08-06 00:00:00 | -1.89763  | -2.02988  | -1.52848  |
| 2000-08-07 00:00:00 | -1.89871  | -1.38242  | -1.47578  |
| 2000-08-08 00:00:00 | -1.27421  | -1.81718  | -1.85836  |
| 2000-08-09 00:00:00 | -1.74473  | -1.85042  | -1.52983  |
| 2000-08-10 00:00:00 | -2.28835  | -2.03659  | -1.8777   |
| 2000-08-11 00:00:00 | -1.61425  | -2.18177  | -1.61411  |
| 2000-08-12 00:00:00 | -1.71724  | -1.3943   | -1.52063  |
| 2000-08-13 00:00:00 | -1.64602  | -1.34581  | -1.34027  |
| 2000-08-14 00:00:00 | -1.65996  | -1.99749  | -1.45488  |
| 2000-08-15 00:00:00 | -1.67413  | -1.19815  | -1.50468  |
| 2000-08-16 00:00:00 | -1.61268  | -1.72696  | -1.70444  |
| 2000-08-17 00:00:00 | -1.38454  | -2.3936   | -1.6284   |
| 2000-08-18 00:00:00 | -1.49581  | -1.91589  | -1.53816  |
| 2000-08-19 00:00:00 | -1.32995  | -1.69412  | -2.15634  |
| 2000-08-20 00:00:00 | -1.86838  | -0.946306 | -1.22949  |
| 2000-08-21 00:00:00 | -1.01325  | -1.82793  | -1.12464  |
| 2000-08-22 00:00:00 | -1.57802  | -1.34332  | -1.70001  |
| 2000-08-23 00:00:00 | -1.54941  | -0.981622 | -1.75591  |
| 2000-08-24 00:00:00 | -2.35326  | -1.83451  | -2.07915  |
| 2000-08-25 00:00:00 | -1.90992  | -1.23634  | -1.77209  |
| 2000-08-26 00:00:00 | -2.13383  | -1.77119  | -1.56735  |
| 2000-08-27 00:00:00 | -1.30766  | -1.32089  | -1.34256  |
| 2000-08-28 00:00:00 | -1.7049   | -1.66536  | -1.49002  |
| 2000-08-29 00:00:00 | -1.65344  | -1.75346  | -1.72763  |
| 2000-08-30 00:00:00 | -1.815    | -1.68222  | -1.99508  |
| 2000-08-31 00:00:00 | -1.45515  | -1.9749   | -1.70286  |
| 2000-09-01 00:00:00 | -1.42143  | -2.24736  | -1.22447  |
| 2000-09-02 00:00:00 | -1.66951  | -1.92373  | -1.35044  |
| 2000-09-03 00:00:00 | -1.59689  | -1.43     | -1.44166  |
| 2000-09-04 00:00:00 | -1.69101  | -1.82479  | -1.59806  |
| 2000-09-05 00:00:00 | -1.72822  | -2.17216  | -1.73598  |
| 2000-09-06 00:00:00 | -1.58183  | -1.90763  | -1.55999  |
| 2000-09-07 00:00:00 | -1.78467  | -1.59104  | -1.63703  |
| 2000-09-08 00:00:00 | -1.77128  | -1.37286  | -1.29292  |
| 2000-09-09 00:00:00 | -1.53918  | -1.1521   | -0.988814 |
| 2000-09-10 00:00:00 | -1.83478  | -1.36432  | -1.67285  |
| 2000-09-11 00:00:00 | -1.42209  | -1.57041  | -2.05135  |
| 2000-09-12 00:00:00 | -1.71393  | -1.80425  | -1.67899  |
| 2000-09-13 00:00:00 | -1.6116   | -1.72499  | -1.48478  |
| 2000-09-14 00:00:00 | -1.94982  | -1.94739  | -1.2703   |
| 2000-09-15 00:00:00 | -2.00355  | -1.60482  | -1.75432  |
| 2000-09-16 00:00:00 | -2.05411  | -1.61752  | -1.57604  |
| 2000-09-17 00:00:00 | -1.71872  | -1.13963  | -1.70895  |
| 2000-09-18 00:00:00 | -2.13028  | -1.27151  | -1.50154  |
| 2000-09-19 00:00:00 | -2.00659  | -2.14899  | -2.15569  |
| 2000-09-20 00:00:00 | -1.52309  | -1.57334  | -1.38937  |
| 2000-09-21 00:00:00 | -1.57216  | -1.67486  | -2.18046  |
| 2000-09-22 00:00:00 | -1.17798  | -2.27026  | -1.54259  |
| 2000-09-23 00:00:00 | -1.64857  | -1.90403  | -1.13382  |
| 2000-09-24 00:00:00 | -1.59132  | -1.84332  | -1.51204  |
| 2000-09-25 00:00:00 | -1.5887   | -2.64849  | -1.63658  |
| 2000-09-26 00:00:00 | -1.64873  | -2.23446  | -1.80377  |
| 2000-09-27 00:00:00 | -1.4111   | -1.45815  | -1.01337  |
| 2000-09-28 00:00:00 | -1.55541  | -1.35888  | -1.55113  |
| 2000-09-29 00:00:00 | -1.98273  | -1.61689  | -1.48358  |
| 2000-09-30 00:00:00 | -1.52503  | -1.51419  | -1.65842  |
| 2000-10-01 00:00:00 | -2.18023  | -1.98385  | -1.77452  |
| 2000-10-02 00:00:00 | -2.43533  | -2.03311  | -1.7822   |
| 2000-10-03 00:00:00 | -1.47122  | -1.79433  | -1.63881  |
| 2000-10-04 00:00:00 | -2.04349  | -1.66698  | -1.55922  |
| 2000-10-05 00:00:00 | -1.19445  | -0.99412  | -1.63136  |
| 2000-10-06 00:00:00 | -1.54768  | -1.95168  | -1.91417  |
| 2000-10-07 00:00:00 | -2.17381  | -1.74894  | -1.51204  |
| 2000-10-08 00:00:00 | -1.4625   | -1.41053  | -1.54995  |
| 2000-10-09 00:00:00 | -1.71693  | -1.26003  | -1.7733   |
| 2000-10-10 00:00:00 | -0.907411 | -1.62611  | -1.50429  |
| 2000-10-11 00:00:00 | -2.05886  | -1.56749  | -0.96058  |
| 2000-10-12 00:00:00 | -1.50318  | -1.58461  | -1.44587  |
| 2000-10-13 00:00:00 | -1.77611  | -1.5202   | -2.07863  |
| 2000-10-14 00:00:00 | -1.49152  | -1.62522  | -1.70723  |
| 2000-10-15 00:00:00 | -1.7824   | -1.88326  | -1.57047  |
| 2000-10-16 00:00:00 | -1.78865  | -1.2771   | -1.85361  |
| 2000-10-17 00:00:00 | -1.71694  | -1.79006  | -1.84684  |
| 2000-10-18 00:00:00 | -1.50261  | -1.75904  | -1.83822  |
| 2000-10-19 00:00:00 | -1.71802  | -1.95262  | -1.4454   |
| 2000-10-20 00:00:00 | -1.78451  | -2.04553  | -1.43882  |
| 2000-10-21 00:00:00 | -1.34981  | -1.48013  | -1.7207   |
| 2000-10-22 00:00:00 | -1.73089  | -1.12284  | -1.68861  |
| 2000-10-23 00:00:00 | -1.75161  | -1.32151  | -1.61457  |
| 2000-10-24 00:00:00 | -1.51194  | -1.57092  | -2.02284  |
| 2000-10-25 00:00:00 | -1.50461  | -1.76142  | -1.53914  |
| 2000-10-26 00:00:00 | -2.54722  | -1.11884  | -1.7041   |
| 2000-10-27 00:00:00 | -2.16091  | -1.82606  | -1.51007  |
| 2000-10-28 00:00:00 | -1.9043   | -1.89932  | -1.44199  |
| 2000-10-29 00:00:00 | -1.54308  | -1.96803  | -1.39013  |
| 2000-10-30 00:00:00 | -1.48109  | -1.68012  | -1.80789  |
| 2000-10-31 00:00:00 | -1.68718  | -1.55144  | -1.34279  |
| 2000-11-01 00:00:00 | -1.48852  | -1.68728  | -1.72465  |
| 2000-11-02 00:00:00 | -1.36365  | -1.60027  | -2.08547  |
| 2000-11-03 00:00:00 | -1.66322  | -1.66656  | -1.82776  |
| 2000-11-04 00:00:00 | -1.42257  | -1.94118  | -1.15632  |
| 2000-11-05 00:00:00 | -1.9741   | -1.91492  | -1.89384  |
| 2000-11-06 00:00:00 | -1.53827  | -1.46417  | -1.86249  |
| 2000-11-07 00:00:00 | -1.62469  | -1.70294  | -1.5261   |
| 2000-11-08 00:00:00 | -0.978115 | -1.63862  | -1.83679  |
| 2000-11-09 00:00:00 | -1.19088  | -1.59876  | -1.53743  |
| 2000-11-10 00:00:00 | -1.67444  | -1.3934   | -1.44383  |
| 2000-11-11 00:00:00 | -1.78042  | -1.60401  | -1.8998   |
| 2000-11-12 00:00:00 | -1.59897  | -1.06111  | -1.33763  |
| 2000-11-13 00:00:00 | -1.85337  | -1.23689  | -1.62173  |
| 2000-11-14 00:00:00 | -1.63884  | -1.63639  | -1.63278  |
| 2000-11-15 00:00:00 | -1.71021  | -1.87371  | -2.14073  |
| 2000-11-16 00:00:00 | -1.30799  | -1.87156  | -1.7019   |
| 2000-11-17 00:00:00 | -1.47585  | -1.61015  | -2.0303   |
| 2000-11-18 00:00:00 | -0.996491 | -1.55219  | -1.55765  |
| 2000-11-19 00:00:00 | -1.3795   | -0.914886 | -1.5136   |
| 2000-11-20 00:00:00 | -2.07105  | -2.38144  | -2.09544  |
| 2000-11-21 00:00:00 | -1.13141  | -1.717    | -1.70144  |
| 2000-11-22 00:00:00 | -1.75678  | -1.718    | -1.68577  |
| 2000-11-23 00:00:00 | -1.68023  | -1.24148  | -1.48373  |
| 2000-11-24 00:00:00 | -1.72155  | -1.86684  | -1.91551  |
| 2000-11-25 00:00:00 | -1.15199  | -1.06039  | -1.60647  |
| 2000-11-26 00:00:00 | -1.99133  | -1.52637  | -1.71738  |

In [52]:
print(tsdf.apply(pd.Series.interpolate).to_markdown())

|                     |            A |            B |           C |
|:--------------------|-------------:|-------------:|------------:|
| 2000-01-01 00:00:00 | -0.234998    | -0.0220618   | -0.812864   |
| 2000-01-02 00:00:00 | -0.578754    | -1.04212     |  0.950494   |
| 2000-01-03 00:00:00 |  0.951572    |  0.120993    |  1.14351    |
| 2000-01-04 00:00:00 | -0.669386    | -0.698823    | -0.48018    |
| 2000-01-05 00:00:00 |  2.48176     |  0.512006    |  1.65917    |
| 2000-01-06 00:00:00 | -0.845202    |  0.110124    |  1.38216    |
| 2000-01-07 00:00:00 |  1.26354     |  1.62652     |  0.987382   |
| 2000-01-08 00:00:00 |  0.143601    | -0.509895    | -0.666476   |
| 2000-01-09 00:00:00 |  0.303776    | -0.66313     |  1.63123    |
| 2000-01-10 00:00:00 | -0.342223    | -0.404277    | -0.191693   |
| 2000-01-11 00:00:00 |  0.876158    |  0.156111    | -0.382975   |
| 2000-01-12 00:00:00 | -0.489744    |  0.218755    | -1.48198    |
| 2000-01-13 00:00:00 |  0.625647    |  0.740618    | -0.94917    |
| 2000-01-14 00:00:00 |  0.312084    |  0.554088    | -0.15822    |
| 2000-01-15 00:00:00 | -1.36903     | -0.533213    | -1.63903    |
| 2000-01-16 00:00:00 | -0.531657    |  0.135399    | -0.513701   |
| 2000-01-17 00:00:00 | -0.392859    | -0.564477    |  0.117784   |
| 2000-01-18 00:00:00 | -0.870614    | -0.194628    | -0.286941   |
| 2000-01-19 00:00:00 |  0.822502    | -1.30726     |  0.165516   |
| 2000-01-20 00:00:00 |  1.31573     | -0.150803    | -0.402806   |
| 2000-01-21 00:00:00 | -0.28934     | -0.191186    | -1.29832    |
| 2000-01-22 00:00:00 |  0.395742    | -0.565313    | -1.37835    |
| 2000-01-23 00:00:00 |  0.00177814  | -0.326642    | -0.380166   |
| 2000-01-24 00:00:00 |  0.580625    | -0.142303    |  0.178075   |
| 2000-01-25 00:00:00 |  0.617414    | -0.0761234   | -1.11931    |
| 2000-01-26 00:00:00 |  0.0849168   |  0.545495    |  0.867051   |
| 2000-01-27 00:00:00 | -0.383424    | -1.41149     | -0.951948   |
| 2000-01-28 00:00:00 |  0.435855    | -2.53845     |  1.15848    |
| 2000-01-29 00:00:00 |  0.425486    |  0.439804    | -0.222178   |
| 2000-01-30 00:00:00 | -0.990307    | -1.43354     |  0.908355   |
| 2000-01-31 00:00:00 |  2.06851     |  1.23461     |  0.709733   |
| 2000-02-01 00:00:00 | -0.868095    |  0.481964    |  0.57096    |
| 2000-02-02 00:00:00 | -0.129149    |  0.685247    | -0.413344   |
| 2000-02-03 00:00:00 | -1.25418     | -1.83313     | -0.0732453  |
| 2000-02-04 00:00:00 |  1.63102     | -0.27335     | -1.71889    |
| 2000-02-05 00:00:00 |  0.657749    |  0.37942     | -0.843099   |
| 2000-02-06 00:00:00 | -1.05972     |  1.36523     | -0.00252018 |
| 2000-02-07 00:00:00 | -1.0956      |  1.74154     | -1.10199    |
| 2000-02-08 00:00:00 | -1.19222     | -1.76222     | -0.379567   |
| 2000-02-09 00:00:00 |  0.279947    | -0.180314    | -1.5969     |
| 2000-02-10 00:00:00 |  1.8211      | -0.489426    | -0.00628251 |
| 2000-02-11 00:00:00 |  1.42381     | -0.225085    | -0.280406   |
| 2000-02-12 00:00:00 | -2.10366     |  0.671096    |  0.761736   |
| 2000-02-13 00:00:00 | -1.60235     | -0.898157    | -1.15739    |
| 2000-02-14 00:00:00 | -0.636588    |  0.135139    |  0.57939    |
| 2000-02-15 00:00:00 | -2.04305     | -0.10833     | -0.869713   |
| 2000-02-16 00:00:00 | -1.82255     | -0.0600134   | -1.71118    |
| 2000-02-17 00:00:00 | -1.6682      |  1.16718     |  0.352671   |
| 2000-02-18 00:00:00 |  0.449091    |  1.03036     | -0.464406   |
| 2000-02-19 00:00:00 |  1.47705     |  1.4156      | -0.718423   |
| 2000-02-20 00:00:00 |  0.39902     |  1.29068     |  0.30552    |
| 2000-02-21 00:00:00 |  1.17437     | -2.355       | -1.0453     |
| 2000-02-22 00:00:00 | -0.467506    | -0.418442    |  0.667595   |
| 2000-02-23 00:00:00 | -1.88062     |  0.475102    |  1.06275    |
| 2000-02-24 00:00:00 | -0.887915    |  0.858326    | -0.311508   |
| 2000-02-25 00:00:00 |  1.80299     | -0.282082    | -1.23244    |
| 2000-02-26 00:00:00 |  1.56387     | -1.84106     | -0.483179   |
| 2000-02-27 00:00:00 | -0.401706    |  0.917558    |  0.649807   |
| 2000-02-28 00:00:00 | -0.480913    | -0.440427    |  0.0056031  |
| 2000-02-29 00:00:00 |  0.605425    |  0.584134    |  0.0700489  |
| 2000-03-01 00:00:00 |  0.105565    |  1.87827     | -0.156796   |
| 2000-03-02 00:00:00 |  0.603748    |  0.0773338   | -1.4214     |
| 2000-03-03 00:00:00 |  1.57324     |  1.46934     | -0.341968   |
| 2000-03-04 00:00:00 |  0.878642    |  0.0217041   |  0.466821   |
| 2000-03-05 00:00:00 | -0.568107    |  0.776199    | -0.286013   |
| 2000-03-06 00:00:00 | -0.410601    | -0.181005    |  0.755921   |
| 2000-03-07 00:00:00 | -0.559663    | -0.175011    | -1.86804    |
| 2000-03-08 00:00:00 | -0.312061    |  0.814315    | -0.0914978  |
| 2000-03-09 00:00:00 |  0.516308    | -0.189037    | -2.31403    |
| 2000-03-10 00:00:00 |  0.0130555   |  1.3042      | -0.206107   |
| 2000-03-11 00:00:00 | -0.132141    |  0.960433    | -0.102125   |
| 2000-03-12 00:00:00 |  0.336755    | -0.298375    | -0.504774   |
| 2000-03-13 00:00:00 |  0.244534    |  0.904409    |  0.279973   |
| 2000-03-14 00:00:00 | -0.906976    | -0.604416    |  0.665706   |
| 2000-03-15 00:00:00 |  0.252905    |  0.536409    | -0.0357418  |
| 2000-03-16 00:00:00 |  1.03966     |  0.566439    |  1.8938     |
| 2000-03-17 00:00:00 |  0.393105    | -1.30297     |  1.62336    |
| 2000-03-18 00:00:00 |  0.797449    |  0.446646    |  0.47974    |
| 2000-03-19 00:00:00 |  1.4958      |  1.69321     |  0.0462222  |
| 2000-03-20 00:00:00 | -1.89436     | -0.218466    | -0.708313   |
| 2000-03-21 00:00:00 | -0.304983    | -0.919772    |  0.567814   |
| 2000-03-22 00:00:00 | -0.519056    |  2.1324      | -0.807729   |
| 2000-03-23 00:00:00 |  0.032909    |  0.165785    | -0.103651   |
| 2000-03-24 00:00:00 | -0.849812    | -1.16861     | -0.55176    |
| 2000-03-25 00:00:00 | -0.881657    | -0.456341    | -0.188772   |
| 2000-03-26 00:00:00 |  1.79184     | -1.41683     | -0.809251   |
| 2000-03-27 00:00:00 |  0.246253    | -0.117681    | -0.450784   |
| 2000-03-28 00:00:00 |  1.16375     |  0.184322    |  0.706243   |
| 2000-03-29 00:00:00 |  1.99769     | -0.115107    |  0.447951   |
| 2000-03-30 00:00:00 | -0.679807    |  1.50243     |  1.08746    |
| 2000-03-31 00:00:00 | -1.46271     |  0.466803    | -1.57747    |
| 2000-04-01 00:00:00 | -0.805147    | -2.50108     |  1.2991     |
| 2000-04-02 00:00:00 |  0.333405    | -0.938524    | -0.642125   |
| 2000-04-03 00:00:00 |  1.90906     |  1.57507     |  0.478156   |
| 2000-04-04 00:00:00 |  1.01143     | -0.618936    | -1.06321    |
| 2000-04-05 00:00:00 | -0.89732     |  2.70031     | -0.265076   |
| 2000-04-06 00:00:00 |  0.0449869   |  1.83784     | -1.18406    |
| 2000-04-07 00:00:00 | -0.656551    | -0.575809    | -0.968462   |
| 2000-04-08 00:00:00 |  0.711119    | -0.53202     | -0.128281   |
| 2000-04-09 00:00:00 |  0.167331    |  0.849011    |  1.66       |
| 2000-04-10 00:00:00 | -0.89369     | -0.20075     | -0.789121   |
| 2000-04-11 00:00:00 |  1.04531     |  0.188768    | -0.481526   |
| 2000-04-12 00:00:00 | -0.675106    |  0.673316    | -1.07107    |
| 2000-04-13 00:00:00 |  0.104728    |  0.0654125   |  0.899318   |
| 2000-04-14 00:00:00 | -0.311145    |  0.0896605   | -0.527724   |
| 2000-04-15 00:00:00 | -0.581387    |  0.96525     |  0.4238     |
| 2000-04-16 00:00:00 |  0.949081    |  0.0754811   | -1.23935    |
| 2000-04-17 00:00:00 | -0.766739    |  1.04068     | -0.54603    |
| 2000-04-18 00:00:00 |  0.469642    | -0.146623    | -0.839506   |
| 2000-04-19 00:00:00 |  0.00776719  | -0.634322    | -0.575982   |
| 2000-04-20 00:00:00 |  1.47621     | -0.670371    | -0.45384    |
| 2000-04-21 00:00:00 | -0.0745135   | -0.462605    |  0.0777304  |
| 2000-04-22 00:00:00 | -0.244108    | -0.216345    |  1.71729    |
| 2000-04-23 00:00:00 | -0.288496    |  0.330131    | -0.542436   |
| 2000-04-24 00:00:00 |  0.456221    |  3.46893     | -0.192333   |
| 2000-04-25 00:00:00 |  1.5727      | -2.47484     | -1.37786    |
| 2000-04-26 00:00:00 | -0.157069    |  0.430266    | -1.0238     |
| 2000-04-27 00:00:00 | -1.01147     |  1.35591     |  1.38822    |
| 2000-04-28 00:00:00 | -0.861555    |  3.37335     |  0.859026   |
| 2000-04-29 00:00:00 | -1.7292      | -0.0480234   |  0.0432336  |
| 2000-04-30 00:00:00 | -0.581622    | -0.344786    | -1.78332    |
| 2000-05-01 00:00:00 |  1.51605     |  0.456062    |  0.246021   |
| 2000-05-02 00:00:00 |  0.486158    | -0.398154    |  0.291034   |
| 2000-05-03 00:00:00 | -0.652541    | -2.19741     | -0.033143   |
| 2000-05-04 00:00:00 | -0.83754     |  1.09104     | -0.0995704  |
| 2000-05-05 00:00:00 | -0.185535    | -0.538865    |  0.557833   |
| 2000-05-06 00:00:00 |  0.570657    |  0.0611049   |  0.283392   |
| 2000-05-07 00:00:00 |  0.00338715  |  0.145887    | -0.105718   |
| 2000-05-08 00:00:00 |  0.137314    |  0.024125    | -0.796777   |
| 2000-05-09 00:00:00 | -1.04572     | -0.516017    |  1.64051    |
| 2000-05-10 00:00:00 |  0.952395    |  1.41445     | -0.876732   |
| 2000-05-11 00:00:00 |  0.00149257  |  0.696063    |  1.38436    |
| 2000-05-12 00:00:00 | -0.281468    |  2.09686     |  0.158356   |
| 2000-05-13 00:00:00 |  0.176843    | -0.787041    | -1.16628    |
| 2000-05-14 00:00:00 | -0.00221121  | -0.767445    |  1.13165    |
| 2000-05-15 00:00:00 | -0.215565    |  1.47823     | -0.745619   |
| 2000-05-16 00:00:00 | -0.109256    |  1.15784     | -2.51118    |
| 2000-05-17 00:00:00 | -1.40846     |  1.24824     | -1.93867    |
| 2000-05-18 00:00:00 | -0.100638    | -0.942783    | -0.73394    |
| 2000-05-19 00:00:00 | -0.836174    | -0.946249    | -2.53486    |
| 2000-05-20 00:00:00 | -1.85301     | -0.178917    |  0.298451   |
| 2000-05-21 00:00:00 |  0.578373    |  0.0602007   | -1.85109    |
| 2000-05-22 00:00:00 |  1.55037     |  1.46559     |  0.517131   |
| 2000-05-23 00:00:00 |  1.43379     | -0.17856     | -0.341801   |
| 2000-05-24 00:00:00 |  1.12728     | -0.872158    |  0.744987   |
| 2000-05-25 00:00:00 |  0.372884    |  0.379       |  0.161046   |
| 2000-05-26 00:00:00 | -0.817975    | -0.231663    |  0.590071   |
| 2000-05-27 00:00:00 |  0.744658    | -1.0284      |  0.366003   |
| 2000-05-28 00:00:00 | -0.597841    |  0.698379    |  0.172833   |
| 2000-05-29 00:00:00 | -0.626833    |  0.0683366   | -1.2122     |
| 2000-05-30 00:00:00 |  1.71329     |  1.69932     |  0.59494    |
| 2000-05-31 00:00:00 |  1.39376     | -0.354058    |  0.420643   |
| 2000-06-01 00:00:00 | -0.832515    |  0.0120672   | -1.4243     |
| 2000-06-02 00:00:00 | -0.152101    |  0.715298    | -0.410325   |
| 2000-06-03 00:00:00 | -0.0805529   |  0.262243    | -0.824013   |
| 2000-06-04 00:00:00 | -0.908852    | -0.946633    |  0.205966   |
| 2000-06-05 00:00:00 | -1.68174     | -0.984603    | -0.13303    |
| 2000-06-06 00:00:00 | -0.999751    | -0.0457955   | -0.409501   |
| 2000-06-07 00:00:00 |  1.8394      | -0.628307    | -0.300924   |
| 2000-06-08 00:00:00 |  1.0342      |  2.19761     | -0.298417   |
| 2000-06-09 00:00:00 |  1.07309     |  1.15171     |  0.649027   |
| 2000-06-10 00:00:00 |  0.0428699   |  1.44766     |  1.6635     |
| 2000-06-11 00:00:00 |  0.213281    | -0.937773    |  0.192103   |
| 2000-06-12 00:00:00 |  2.40875     |  0.665992    |  1.48079    |
| 2000-06-13 00:00:00 | -1.60002     |  0.951469    |  1.68001    |
| 2000-06-14 00:00:00 | -0.280167    |  0.753701    | -1.49046    |
| 2000-06-15 00:00:00 |  0.774249    |  0.78672     | -1.48431    |
| 2000-06-16 00:00:00 |  0.374666    |  1.02248     | -0.222273   |
| 2000-06-17 00:00:00 | -0.500316    |  1.424       | -1.54287    |
| 2000-06-18 00:00:00 |  1.36396     |  1.10629     |  1.32554    |
| 2000-06-19 00:00:00 | -0.912723    | -0.41437     | -1.61188    |
| 2000-06-20 00:00:00 | -1.16673     | -0.712916    | -0.837471   |
| 2000-06-21 00:00:00 | -0.0855239   |  0.192799    | -0.68656    |
| 2000-06-22 00:00:00 | -1.63363     | -0.222606    | -0.826584   |
| 2000-06-23 00:00:00 | -0.454941    |  1.56261     | -0.672448   |
| 2000-06-24 00:00:00 | -1.49559     |  0.127301    |  0.105596   |
| 2000-06-25 00:00:00 | -0.539847    | -0.407514    | -1.09427    |
| 2000-06-26 00:00:00 |  2.85245     | -0.860302    |  0.873926   |
| 2000-06-27 00:00:00 | -1.30418     | -1.61435     | -1.27896    |
| 2000-06-28 00:00:00 | -0.588708    | -0.829744    |  1.71699    |
| 2000-06-29 00:00:00 | -1.85775     |  0.0167807   | -0.072381   |
| 2000-06-30 00:00:00 |  1.70741     |  0.0657455   | -0.184814   |
| 2000-07-01 00:00:00 | -0.814343    | -0.346785    |  0.0598454  |
| 2000-07-02 00:00:00 | -1.48657     |  0.0944235   | -0.928801   |
| 2000-07-03 00:00:00 | -0.336891    |  1.11122     | -0.576599   |
| 2000-07-04 00:00:00 | -0.519482    |  0.0126422   |  0.0807157  |
| 2000-07-05 00:00:00 | -1.43618     | -0.497301    | -0.76444    |
| 2000-07-06 00:00:00 | -1.47056     | -0.74503     | -0.0764322  |
| 2000-07-07 00:00:00 |  0.338811    | -1.37347     |  0.902693   |
| 2000-07-08 00:00:00 |  0.388747    | -0.355672    | -0.185925   |
| 2000-07-09 00:00:00 |  0.378334    | -0.862205    |  1.96317    |
| 2000-07-10 00:00:00 |  0.301706    | -1.18014     |  0.279604   |
| 2000-07-11 00:00:00 |  0.796771    | -0.710136    | -1.49609    |
| 2000-07-12 00:00:00 | -1.31571     |  0.795102    |  1.56087    |
| 2000-07-13 00:00:00 | -0.857808    |  1.62783     |  1.59945    |
| 2000-07-14 00:00:00 | -0.361361    |  1.27296     |  0.793668   |
| 2000-07-15 00:00:00 | -0.493246    |  0.147803    |  0.403861   |
| 2000-07-16 00:00:00 |  0.0366634   |  1.2287      | -0.476583   |
| 2000-07-17 00:00:00 | -0.179124    |  0.205536    | -0.0313735  |
| 2000-07-18 00:00:00 | -0.585774    | -0.758851    | -0.071763   |
| 2000-07-19 00:00:00 | -0.3024      | -0.566393    | -0.306931   |
| 2000-07-20 00:00:00 |  0.306665    | -0.485634    |  1.34534    |
| 2000-07-21 00:00:00 | -0.0152061   |  0.142108    |  0.852891   |
| 2000-07-22 00:00:00 |  2.03651     | -1.21393     |  0.101616   |
| 2000-07-23 00:00:00 |  0.588481    |  2.46893     | -0.0184242  |
| 2000-07-24 00:00:00 | -1.27283     | -0.591497    | -1.90236    |
| 2000-07-25 00:00:00 | -0.138342    | -0.981447    |  0.455025   |
| 2000-07-26 00:00:00 | -0.879631    |  1.11515     |  0.548525   |
| 2000-07-27 00:00:00 |  0.286717    | -0.0701682   | -2.16943    |
| 2000-07-28 00:00:00 |  0.0616855   | -0.238332    |  1.75532    |
| 2000-07-29 00:00:00 |  0.593382    | -0.165582    | -0.897364   |
| 2000-07-30 00:00:00 |  0.751577    |  2.2307      | -0.93125    |
| 2000-07-31 00:00:00 | -2.2468      |  2.09498     |  0.67829    |
| 2000-08-01 00:00:00 |  0.0332845   |  0.541894    | -1.26548    |
| 2000-08-02 00:00:00 | -1.25108     | -0.639915    | -0.765653   |
| 2000-08-03 00:00:00 | -0.324073    |  0.175289    | -0.273946   |
| 2000-08-04 00:00:00 |  2.78926     |  1.30198     |  0.0212873  |
| 2000-08-05 00:00:00 |  0.808399    | -1.18631     |  0.0924653  |
| 2000-08-06 00:00:00 | -0.692875    | -1.08965     |  0.414567   |
| 2000-08-07 00:00:00 | -0.696144    |  0.852752    |  0.572646   |
| 2000-08-08 00:00:00 |  1.17736     | -0.451536    | -0.575079   |
| 2000-08-09 00:00:00 | -0.234182    | -0.551246    |  0.410519   |
| 2000-08-10 00:00:00 | -1.86505     | -1.10977     | -0.633104   |
| 2000-08-11 00:00:00 |  0.157244    | -1.5453      |  0.157662   |
| 2000-08-12 00:00:00 | -0.151709    |  0.817089    |  0.438109   |
| 2000-08-13 00:00:00 |  0.0619349   |  0.962562    |  0.979201   |
| 2000-08-14 00:00:00 |  0.0201084   | -0.992455    |  0.635351   |
| 2000-08-15 00:00:00 | -0.0223984   |  1.40554     |  0.485951   |
| 2000-08-16 00:00:00 |  0.161959    | -0.180886    | -0.113324   |
| 2000-08-17 00:00:00 |  0.84637     | -2.1808      |  0.114813   |
| 2000-08-18 00:00:00 |  0.512577    | -0.747661    |  0.385513   |
| 2000-08-19 00:00:00 |  1.01015     | -0.0823652   | -1.46902    |
| 2000-08-20 00:00:00 | -0.605144    |  2.16108     |  1.31153    |
| 2000-08-21 00:00:00 |  1.96024     | -0.483794    |  1.62609    |
| 2000-08-22 00:00:00 |  0.265946    |  0.970053    | -0.100034   |
| 2000-08-23 00:00:00 |  0.351772    |  2.05513     | -0.267732   |
| 2000-08-24 00:00:00 | -2.05978     | -0.503538    | -1.23745    |
| 2000-08-25 00:00:00 | -0.72975     |  1.29098     | -0.316278   |
| 2000-08-26 00:00:00 | -1.40148     | -0.31357     |  0.297952   |
| 2000-08-27 00:00:00 |  1.07702     |  1.03733     |  0.972328   |
| 2000-08-28 00:00:00 | -0.114694    |  0.00391863  |  0.529926   |
| 2000-08-29 00:00:00 |  0.0396932   | -0.260366    | -0.18289    |
| 2000-08-30 00:00:00 | -0.445004    | -0.046658    | -0.985248   |
| 2000-08-31 00:00:00 |  0.634562    | -0.92471     | -0.108565   |
| 2000-09-01 00:00:00 |  0.73571     | -1.74207     |  1.32658    |
| 2000-09-02 00:00:00 | -0.00853767  | -0.771178    |  0.948693   |
| 2000-09-03 00:00:00 |  0.209324    |  0.709989    |  0.675015   |
| 2000-09-04 00:00:00 | -0.0730339   | -0.474361    |  0.205834   |
| 2000-09-05 00:00:00 | -0.184662    | -1.51649     | -0.207929   |
| 2000-09-06 00:00:00 |  0.254524    | -0.722896    |  0.320023   |
| 2000-09-07 00:00:00 | -0.354008    |  0.226867    |  0.0889208  |
| 2000-09-08 00:00:00 | -0.313843    |  0.881428    |  1.12125    |
| 2000-09-09 00:00:00 |  0.382445    |  1.54369     |  2.03356    |
| 2000-09-10 00:00:00 | -0.504345    |  0.907034    | -0.0185374  |
| 2000-09-11 00:00:00 |  0.733733    |  0.288762    | -1.15405    |
| 2000-09-12 00:00:00 | -0.141796    | -0.412745    | -0.0369788  |
| 2000-09-13 00:00:00 |  0.165193    | -0.174979    |  0.545654   |
| 2000-09-14 00:00:00 | -0.849448    | -0.842183    |  1.18911    |
| 2000-09-15 00:00:00 | -1.01065     |  0.185539    | -0.262972   |
| 2000-09-16 00:00:00 | -1.16234     |  0.147451    |  0.271888   |
| 2000-09-17 00:00:00 | -0.156173    |  1.58111     | -0.126841   |
| 2000-09-18 00:00:00 | -1.39084     |  1.18547     |  0.495372   |
| 2000-09-19 00:00:00 | -1.01977     | -1.44697     | -1.46706    |
| 2000-09-20 00:00:00 |  0.430745    |  0.279987    |  0.831878   |
| 2000-09-21 00:00:00 |  0.283514    | -0.0245929   | -1.54137    |
| 2000-09-22 00:00:00 |  1.46607     | -1.81077     |  0.372236   |
| 2000-09-23 00:00:00 |  0.0542791   | -0.712101    |  1.59855    |
| 2000-09-24 00:00:00 |  0.226039    | -0.529951    |  0.463873   |
| 2000-09-25 00:00:00 |  0.233893    | -2.94547     |  0.090253   |
| 2000-09-26 00:00:00 |  0.0538091   | -1.70337     | -0.411325   |
| 2000-09-27 00:00:00 |  0.766711    |  0.625561    |  1.95989    |
| 2000-09-28 00:00:00 |  0.333762    |  0.923362    |  0.346605   |
| 2000-09-29 00:00:00 | -0.948198    |  0.149343    |  0.549263   |
| 2000-09-30 00:00:00 |  0.42492     |  0.457416    |  0.0247547  |
| 2000-10-01 00:00:00 | -1.54069     | -0.951562    | -0.323556   |
| 2000-10-02 00:00:00 | -2.306       | -1.09933     | -0.346605   |
| 2000-10-03 00:00:00 |  0.586333    | -0.382992    |  0.0835843  |
| 2000-10-04 00:00:00 | -1.13048     | -0.000925357 |  0.322347   |
| 2000-10-05 00:00:00 |  1.41665     |  2.01764     |  0.105906   |
| 2000-10-06 00:00:00 |  0.356975    | -0.855051    | -0.742514   |
| 2000-10-07 00:00:00 | -1.52142     | -0.246814    |  0.463893   |
| 2000-10-08 00:00:00 |  0.612488    |  0.768403    |  0.35014    |
| 2000-10-09 00:00:00 | -0.150785    |  1.21991     | -0.319913   |
| 2000-10-10 00:00:00 |  2.27777     |  0.121665    |  0.487132   |
| 2000-10-11 00:00:00 | -1.17659     |  0.297539    |  2.11826    |
| 2000-10-12 00:00:00 |  0.490471    |  0.246173    |  0.662378   |
| 2000-10-13 00:00:00 | -0.328316    |  0.439394    | -1.2359     |
| 2000-10-14 00:00:00 |  0.525448    |  0.124341    | -0.121677   |
| 2000-10-15 00:00:00 | -0.3472      | -0.649768    |  0.28859    |
| 2000-10-16 00:00:00 | -0.365965    |  1.16869     | -0.560825   |
| 2000-10-17 00:00:00 | -0.150831    | -0.37019     | -0.540529   |
| 2000-10-18 00:00:00 |  0.492183    | -0.277119    | -0.514647   |