In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6]], index=['One','Two'], columns=['A','B','C'])
df

     A  B  C
One  1  2  3
Two  4  5  6

In [4]:
id1 = pd.Index([1,2,3,4,5,6,7])

In [5]:
type(id1)

pandas.core.indexes.numeric.Int64Index

In [6]:
id2 = pd.Index(range(2,6))

In [10]:
type(id2)

pandas.core.indexes.range.RangeIndex

In [8]:
id3 = pd.Index(['a','b','c'])

In [11]:
type(id3)

pandas.core.indexes.base.Index

In [12]:
id1[0]

1

In [13]:
id3[:]

Index(['a', 'b', 'c'], dtype='object')

In [15]:
id1[[1]]

Int64Index([2], dtype='int64')

In [16]:
id1[id1 < 5]

Int64Index([1, 2, 3, 4], dtype='int64')

In [17]:
id4 = pd.Index([0,2,4,6])

In [18]:
try:
    id4[0] = 8
except Exception as e:
    print(e)

Index does not support mutable operations

In [19]:
id4 = pd.Index([8,2,4,6])

In [20]:
id4

Int64Index([8, 2, 4, 6], dtype='int64')

In [22]:
id5 = pd.Index([1,2,3,4])

In [24]:
id5 + 4

Int64Index([5, 6, 7, 8], dtype='int64')

In [25]:
id5

Int64Index([1, 2, 3, 4], dtype='int64')

In [26]:
se1 = pd.Series(data=np.random.randint(4, size=5),index=list('ABCDE'))

In [27]:
se1

A    3
B    2
C    2
D    0
E    1
dtype: int64

In [28]:
se2 = pd.Series(data=np.random.randint(4, size=5),index=list('FGHIJ'))

In [29]:
se2

F    0
G    1
H    0
I    2
J    3
dtype: int64

In [30]:
se1 + se2

A   NaN
B   NaN
C   NaN
D   NaN
E   NaN
F   NaN
G   NaN
H   NaN
I   NaN
J   NaN
dtype: float64

In [37]:
se1 = pd.Series([1,2,3,4], index=list('aeab'))
se1

a    1
e    2
a    3
b    4
dtype: int64

In [38]:
se2 = pd.Series([3,2,1,5], index=list('baea'))
se2

b    3
a    2
e    1
a    5
dtype: int64

In [39]:
se1 + se2

a    3
a    6
a    5
a    8
b    7
e    3
dtype: int64

In [40]:
se1.sort_index().add(se2.sort_index())

a    3
a    8
b    7
e    3
dtype: int64

In [41]:
id_d = pd.Index(pd.date_range('20200211', periods=4))
id_d

DatetimeIndex(['2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14'], dtype='datetime64[ns]', freq='D')

In [42]:
idx = pd.DatetimeIndex(['2020-01-01','2020-02-01','2020-03-01','2020-04-01'])

In [43]:
se = pd.Series([2,4,6,8], index=idx)
se

2020-01-01    2
2020-02-01    4
2020-03-01    6
2020-04-01    8
dtype: int64

In [44]:
idx

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01'], dtype='datetime64[ns]', freq=None)