In [2]:
import pandas as pd
pd.__version__

'1.0.1'

In [3]:
import numpy as np  
np.__version__

'1.18.1'

In [4]:
# 리스트로 시리즈 생성
se = pd.Series([1,3,'One'], index=list('ABC'))

In [5]:
se

A      1
B      3
C    One
dtype: object

In [13]:
# 넘파이 배열로 시리즈 생성 
n_se = pd.Series(np.random.randn(3), index=list('ABC'))

In [14]:
n_se

A    0.576868
B    1.161323
C   -1.290661
dtype: float64

In [15]:
# 누락값 데이터 타입 확인
Nan_se = pd.Series([1,np.nan,2])

In [16]:
Nan_se

0    1.0
1    NaN
2    2.0
dtype: float64

In [17]:
# 리스트로 데이터프레임 생성
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=list('ABC'), columns=['One','Two','Three'])

In [18]:
df

   One  Two  Three
A    1    2      3
B    4    5      6
C    7    8      9

In [19]:
# 딕셔너리로 데이터프레임 생성
df2 = pd.DataFrame({'One' : [1,2,3], 'Two' : [4,5,6], 'Three' : [7,8,9]}, index=list('ABC'))

In [20]:
df2

   One  Two  Three
A    1    4      7
B    2    5      8
C    3    6      9

In [24]:
# 넘파이 배열로 데이터프레임 생성
df3 = pd.DataFrame({'One' : np.random.randint(10, size=3),
                   'Two' : np.random.randint(20, size=3),
                   'Three' : np.random.randint(30, size=3)}, index=list('ABC'))

In [25]:
df3

   One  Two  Three
A    8   19      3
B    4   14     12
C    6    0     19